[2014-04-23 16:09] mweibel opened #3 "Package detail: No contributors but license set leads to wrong display"
See screenshots
![bildschirmfoto 2014-04-23 um 18 07 34](https://cloud.githubusercontent.com/assets/307427/2779966/a2e5ce42-cb01-11e3-8a4b-82f90e662147.png)
![bildschirmfoto 2014-04-23 um 18 07 42](https://cloud.githubusercontent.com/assets/307427/2779965/a2e53608-cb01-11e3-88f1-5fb00cdb4e17.png)

[2014-04-23 21:29] #3 closed, assigned to nobody

[2014-04-27 12:39] ericmj opened #5 "Normalize metadata and elixir response params"
See https://github.com/ericmj/hex/issues/8.

[2014-04-27 12:48] ericmj opened #6 "Change tarball checksum to sha-2"
This is a backwards compatible change for clients because they do not verify the checksum yet.

Should we update the checksum for existing tarballs? One part of me says never change an existing tarball, but otoh the change is backwards compatible.

[2014-05-02 12:00] #5 closed, assigned to nobody

[2014-05-02 12:02] #6 closed, assigned to nobody

[2014-05-04 19:51] pma opened #10 "Unable to navigate back to page 1"
To reproduce:
1. Open https://hex.pm/packages
2. Navigate to Page 2 using page links at bottom
3. Navigate back to Page 1 using page link at bottom (fails)

Tested with Chromium

[2014-05-05 07:33] #10 closed, assigned to nobody

[2014-05-06 19:27] alco opened #11 "Display the amount of packages shown and total"
On this page https://hex.pm/packages it would be useful to have that info, like

[code]

[2014-05-11 14:33] #11 closed, assigned to nobody

[2014-05-11 14:47] ericmj opened #14 "Rebuild tarballs"
1. Remove duplicated files in compressed tarball.
2. Change checksum to sha-2, ensure checksum is uppercase to match `Base.encode16`.
3. Change metadata from listdict to map.
4. Change dependency list from `[{"ecto", "~> 0.1.0"}]` to `%{"ecto" => %{"requirement" => "~> 0.1.0", "optional" => false}}`.
5. Bump version.
6. Remove directories from files list in metadata.

[2014-05-14 21:32] alco opened #15 "Search should look into descriptions"
This yields nothing at the moment: https://hex.pm/packages?search=csv

Even though there is this package: https://hex.pm/packages/cesso

[2014-05-30 15:21] mweibel opened #16 "Publish doesn't work (http error timeout)"
Currently I can't publish a new version of the `facebook` package and don't know why:

[code]

Timeout might be client or server side.. therefore I don't really know what's happening. Is there a way to do verbose logging?

[2014-05-31 15:42] #16 closed, assigned to nobody

[2014-06-13 15:25] #15 closed, assigned to nobody

[2014-06-14 19:57] #14 closed, assigned to nobody

[2014-07-06 21:11] h4cc opened #19 "RSS Feeds for 'New packages' and 'Recently Updated'"
It would be usefull to have a feed url for new packages and recent updates.

[2014-07-10 22:56] alco opened #20 "Display Elixir version requirement for packages"
Here's a package with lots of versions: https://hex.pm/packages/exrm

From the first sight it's not clear at all what each version offers compared to the other ones, or even which Elixir version it supports.

I would also go as far as propose some mechanism to display the relevant changes for each version right on the site. @bitwalker has been doing a great job of keeping tags for all the releases

[2014-08-01 22:57] ericmj opened #21 "Add email verification"
The plan is to use Amazon SES with https://github.com/gleber/erlcloud. We would also migrate the current S3 code to erlcloud.

[2014-08-01 22:58] ericmj opened #22 "Add password reset through email"
Depends on #21.

[2014-08-01 23:08] ericmj opened #23 "Add contact email to website"

[2014-08-02 02:22] ericmj opened #24 "HMAC and secure compare API keys"
Split the keys in the database and perform lookup on the first key and constant time compare on the second part.

[2014-08-03 11:46] ericmj opened #25 "Redesign website"
We want to move away from the temporary bootstrap design. @scrogson has already shown interest in helping out here. If you'd like to help or have some input please post in this issue.

[2014-08-03 12:07] ericmj opened #26 "Add tests for website"

[2014-08-03 12:47] ericmj opened #27 "Improve HTTP API and document it"
This is an overreaching issue which goal is to improve the HTTP API and make it fully RESTful.

- [ ] Make the API fully discoverable from the root (provide links to all resources)
- [x] Document API (follow http://apiary.io/blueprint for guidelines)
- [ ] Use `Content-Range` for pagination instead of query parameters
- [x] Allow sorting on endpoints returning multiple resources (such as /packages

[2014-08-05 12:00] ericmj opened #30 "Render markdown readme instead of package description"
We can do this now that we have a safe markdown renderer with @pragdave's earmark.

[2014-08-10 10:06] jcspencer opened #32 "Keep Download Statistics in cache outside of application"
Currently, the downloads statistics are stored in PostgreSQL without any caching, which can be a slight performance bottleneck, considering the homepage of Hex.pm pulls these statistics.

One option would be to store the statistics in an in-memory ETS table. However, this breaks the Twelve-Factor rule of Disposability, due to the fact that the state is kept in a process, and whenever the Heroku dy

[2014-08-11 09:59] jcspencer opened #33 "Look at options for storing application logs in S3/Glacier"
Currently, all `Logger` messages are pushed to the `:console` backend, therefore storing them in Heroku exclusively. While Heroku is great at managing logs, they are inaccessible from outside of their service, making debugging the application and observing past application behavior a challenge.

I think it would be extremely valuable to look into storing application logs from the `Logger` service

[2014-08-12 11:43] #32 closed, assigned to nobody

[2014-08-12 11:46] #33 closed, assigned to nobody

[2014-08-17 11:40] josevalim opened #35 "Forbid hex/elixir/mix/logger/iex/eex/ex_unit as package names"

[2014-08-18 14:37] #35 closed, assigned to nobody

[2014-08-20 09:42] jcspencer opened #36 "Move S3 store to Erlcloud"
Depends on #21 (Adding of `erlcloud` as dependency)

[2014-08-20 20:06] jeregrine opened #38 "Consider Moving to Phoenix"
Creating this issue to discuss what would need to happen if moving hex_web to phoenix.

[2014-08-21 16:32] #24 closed, assigned to nobody

[2014-08-21 16:33] #38 closed, assigned to nobody

[2014-09-03 21:44] jcspencer opened #42 "Future: Move registry to log structured format or similar structure"
This is a change that would be both 100% backwards *incompatible* and would require a fair amount of work, but as the size of the registry continues to grow, it is something we need to, at the very least, consider. This is a discussion for the future, and is definitely not something we will be able to implement for a while yet!

Currently, whenever the registry is updated, users need to download t

[2014-09-06 01:14] #19 closed, assigned to nobody

[2014-09-06 01:14] #30 closed, assigned to nobody

[2014-09-07 01:42] jcspencer opened #43 "Rate limit API use to prevent abuse."
To prevent abuse of the Hex API, I think it would be wise to implement some form of rate limiting.

In the past, I've implemented rate limiting like this:

First, we define two variables:
- `duration`: duration of limit in milliseconds
- `max`: max requests within `duration`

For example, let's say we'll allow _2500_ requests per hour.

When the user sends the first request, we set the following k

[2014-09-08 11:16] #43 closed, assigned to nobody

[2014-09-11 10:12] jcspencer opened #44 "Render package README on package page"
Using [Earmark](https://hex.pm/packages/earmark), we can do the following to render README files on package pages:
## On package upload

Once we've worked out where the README file is located (eg. README.md, Readme.md, etc.), we render it's contents into HTML, as well as stripping all `<script>` tags and removing all JavaScript attributes (eg. `onload`, `onclick`) from it.

Once completed, we stor

[2014-09-11 17:58] #44 closed, assigned to nobody

[2014-10-02 02:01] jcspencer opened #48 "Design of HexDocs"
Here's some ideas for the homepage and error pages of http://hexdocs.pm :earth_americas:
# Homepage :house:

For the homepage, I think we should do the following:

A good example, [bower's package search](http://bower.io/search/), consists of the following:
- a large search box
- a large, paginated table with the search results (defaults to all packages).
  - each row contains:
    - name
    - ow

[2014-10-03 11:07] jcspencer opened #50 "Download rate limiting"
As discussed in IRC by @josevalim, limiting downloads per 24 hours per key, user or IP address would be useful, as to stop scripts going crazy, and downloading packages a few thousand times :stuck_out_tongue_winking_eye:

AFAIK, neither S3 or Cloudflare support rate limiting for assets, so I'm not sure how we could limit tarball fetches. :confused:

[2014-10-03 22:22] ericmj opened #51 "Consider limiting download stats per IP"
We are seeing issues where one machines' script can run rampant and download packages many times per day and so skew the download stats. No limiting also allow the download stats to be gamed to promote a package higher on the "download charts".

Download stats are calculated once each day for the previous day. A proposed way of limiting would be to only count an IP once per package instead of coun

[2014-10-04 00:09] #50 closed, assigned to nobody

[2014-10-06 09:05] sjmackenzie opened #54 "Could not start Hex."
### steps to recreate:
- $ mix new my_project --bare
- include :phoenix into mix.exs
- $ mix deps.get
### what should happen:
- download the phoenix dependency
### what does happen:

[code]
### Further
- Running `$ mix` by itself results in the same issue as above
### OS:
- Nixos

[2014-10-06 09:06] #54 closed, assigned to nobody

[2014-10-09 12:09] ericmj opened #55 "Send success/failure mails on package and docs publish"
Depends on #21.

[2014-10-10 11:47] ericmj opened #57 "Add full stack integration tests against older client versions"
We need to run integration tests with older Hex clients to ensure that we maintain API and registry compatibility and don't break other stuff.

The tests need to use the Hex client code archives and run full stack tests through the Mix CLI.

Tests we need to run are:
- Fetch deps
- Update deps
- Publish package (and then fetch it)
- Publish docs

[2014-10-11 16:27] BennyHallett opened #60 "Local hex_web to mirror hex.pm"
Is it possible to have a locally running hex_web that mirrors hex.pm? I'm thinking along the same lines as you would run up something like geminabox to mirror rubygems.org.

The benefit would be that people would be able to publish private packages to their locally running hex_web, but still have everything from hex.pm available while only pointing to their mirror.

I think it'd be a cool feature

[2014-10-11 16:30] #60 closed, assigned to nobody

[2014-10-12 17:46] ericmj opened #66 "Update docs for package forks"

[2014-10-18 00:22] #36 closed, assigned to nobody

[2014-10-18 00:22] #21 closed, assigned to nobody

[2014-10-23 08:27] #48 closed, assigned to nobody

[2014-10-24 06:16] jcspencer opened #69 "Split HTML sanitisation engine and template helpers into another project"
As discussed by @ericmj in #26, and on IRC.

It would allow for much more dedicated testing, and allow for re-use in projects other than hex_web.

/cc @chrismccord @josevalim

[2014-10-24 06:23] jcspencer opened #70 "Add a FAQ page"
For now, this issue is a place for discussion about questions (along with answers) that would be useful on an FAQ page.

:rotating_light: **under construction** :rotating_light:

[2014-10-27 23:17] talentdeficit opened #71 "precompiled mix linked on hex.pm is compiled with elixir 0.15.1"
is there a way to get precompiled mix that uses 1.0.x?

[2014-10-27 23:29] #71 closed, assigned to nobody

[2014-11-19 20:53] josevalim opened #74 "Serve Rebar 3 packages with Hex"
Based on a discussion on IRC with @tsloughter (and to some extent @ferd), this is a proposal and discussion to have Rebar 3 packages stored and served from Hex.

## Rationale

Hex already provides the whole structure for publishing and serving packages. Also, since Hex aims to be the package manager for the whole Erlang Ecosystem, with better tooling for Erlang already on the way, it makes sense f

[2014-11-20 15:46] josevalim opened #75 "Find a way of storing build information with packages"
We need to know how packages are meant to be built so all build tools do not replicate Mix heuristic. This information should ideally be part of the package.

[2014-12-05 17:03] h4cc opened #76 "Search Packages by Tags or Keywords"
With a raising number of packages, it will become more important to find matching packages.
This could be done using Keywords or Tags like other package manager offer.

_Examples:_
https://www.npmjs.org/browse/keyword/logging
https://packagist.org/search/?tags=logging

The mix file could be extended with a keywords part:
[code]

What do you think about such feature?

[2014-12-09 18:03] tonini opened #77 "Support for routes like http://hexdocs.pm/plug/Plug.Conn.html"
Hi,

It would be really useful if direct routes to `HTML` pages like `http://hexdocs.pm/plug/Plug.Conn.html` just serves docs for the latest release.

Cheers

Samuel

[2014-12-09 18:35] tonini opened #78 "404 Error page is not css formatted properly when deeper than /packages/...."

[2014-12-09 18:54] #78 closed, assigned to nobody

[2014-12-09 18:57] #77 closed, assigned to ericmj

[2014-12-09 22:53] #23 closed, assigned to ericmj

[2014-12-11 11:03] alexrp opened #79 "Display latest package version in search results"

[2014-12-13 12:34] josevalim opened #81 "Black list Erlang applications"
We should not allow anyone to publish a package with the same name of an OTP application.

[code]

[2014-12-13 13:45] #81 closed, assigned to nobody

[2015-01-01 05:23] JamesS237 commented on #79
Working! Just a bit of cleaning up left :smile:

![screen shot 2015-01-01 at 4 24 23 pm](https://cloud.githubusercontent.com/assets/860934/5591711/84556c4c-91d2-11e4-8006-55b2533519ba.png)

[2015-01-01 05:58] JamesS237 commented on #79
Done! See #82.
//cc @ericmj

[2015-01-01 22:12] #79 closed

[2015-01-01 23:14] tsloughter commented on #42
Just to throw in my 2 cents since rebar3 plans to use Hex :).

Ruby gems specs.gz is 2.1MB. A decade of gems I guess?

Updating is not something done that often and the size after 10 years is still less than an average mp3. It doesn't seem like something needed for Hex or RubyGems even.

[2015-01-01 23:42] ericmj commented on #42
The issue is that you need to download the full file every time the user fetches dependencies because you cannot be sure new versions have been published in between. Today it's 85kb for ~1400 entries so we need to find a more compact format than ETS files. Suggestions?

[2015-01-01 23:43] tsloughter commented on #42
I'm confused, why do you have to fetch the index every time you download dependencies?

[2015-01-01 23:45] ericmj commented on #42
Because we need the index to know which dependencies and what versions to fetch. We don't need to do it every time you fetch, we need to do it when dependencies are updated or you are fetching when some dependencies are not locked yet.

[2015-01-01 23:48] tsloughter commented on #42
I always considered this the user's responsibility. The user must run an 'update' command to download the updated registry. Is this not what other package managers do?

[2015-01-01 23:50] ericmj commented on #42
OS package managers require you to manually update the index, but I don't know of any developer package managers that require it. It seems like an unnecessary step which can be solved in a good way.

[2015-01-01 23:51] tsloughter commented on #42
I was fairly sure that is what opam and cabal require. I could be wrong.

[2015-01-02 00:14] ericmj commented on #42
That may be possible, but it doesn't mean we should follow suit. It's an extra manual step to perform that just feels unnecessary. That being said, rebar3 can have the manual step if it wants, there is a format for full index downloads in the proposal.

[2015-01-08 05:29] #66 closed

[2015-01-08 05:29] #76 closed

[2015-01-08 05:30] ericmj opened #84 "Retry if stats job failed"

[2015-01-08 05:57] ericmj opened #85 "Delete associated docs when reverting release"

[2015-01-12 17:49] josevalim opened #87 "Redirect hexdocs.pm/package"
Today, it seems we are serving packages from hexdocs.pm/package but we should rather redirect otherwise we can have caching issues. There is an html-refresh meta tag thing we can (ab)use. For example, some people are experiencing caching issues with [Phoenix](http://hexdocs.pm/phoenix/0.8.0/)

[2015-01-13 09:12] ericmj commented on #87
We changed to serve the latest docs from hexdocs.pm/package instead of redirecting to the latest version because people complained that they couldn't create links to the latest docs. The HTTP cache headers are set to 1 hour, so it shouldn't be too big of an issue. Setting the cache time lower will update the page faster but will also likely result in a slower website.

[2015-01-21 09:18] #22 closed

[2015-01-21 15:42] ericmj commented on #87
I have decided to keep the current behaviour but lower the cached headers to 15min. Waiting 15mins for docs to update should be fine.

[2015-01-21 15:42] #87 closed

[2015-01-21 16:01] ericmj commented on #87
With the free option on cloudflare we can only set the browser expire TTL to 30 min and the edge cache TTL to 2 hours.

[2015-01-22 21:41] fishcakez opened #92 "Pushing unpublished version to hexdocs has poorly formated error"
[code]

[2015-01-22 21:48] ericmj commented on #92
Moving issue to hexpm/hex#84

[2015-01-22 21:48] #92 closed

[2015-01-28 19:33] ericmj commented on #51
I'm going to work on this. I've also noticed a discrepancy where we count too few downloads (as much as reporting less than a 1/3 of actual downloads). I'm going to address both issues in the coming days and recalculate all downloads for the correct values.

[2015-01-29 20:48] #51 closed

[2015-02-02 09:28] jcspencer commented on #84
Should we fix this by running the statistics job as a task under the supervision of a task supervisor with a one_to_one strategy, and retrying `n` times before failing?

[2015-02-02 16:35] ericmj commented on #84
That sounds like a nice way to solve it.

[2015-02-02 22:19] jcspencer opened #94 "Phase out PATCH "users/:name""
The password reset functionality of this route has been replaced by `/api/users/:user/reset`, and the email reset functionality is forthcoming.

If this is correct, I'll open up a PR.

@josevalim @ericmj

[2015-02-02 22:25] ericmj commented on #94
Yeah, but we need to keep the functionality for at least one month after the release of the next hex version.

[2015-02-02 22:41] jcspencer commented on #94
Any idea when we expect to push a new release?

[2015-02-02 22:48] ericmj commented on #94
No idea, waiting for a response on the erlang-questions list so we can fix certificate verification.

[2015-02-06 23:46] jcspencer opened #95 "Upgrade to lastest Ecto release"
Ecto is now at `v0.7.2`, and hex_web is still depending on `v0.2.5`!

Because Ecto has changed a lot since 0.2.5, I think it might take a lot of code changes to get hex_web back to the Ecto version.

:ocean: :surfer:

[2015-02-07 02:10] ericmj commented on #95
This is something I plan to do when I get free time for it. There is no hurry.

[2015-02-07 02:10] #95 closed

[2015-02-09 09:36] jcspencer commented on #74
Has there been any progress on this?
If not, what are the key parts that have to be put into place to make this possible?

[2015-02-09 20:25] jcspencer commented on #74
pinging @ericmj @josevalim @tsloughter @ferd

[2015-02-09 21:11] ericmj commented on #74
@jcspencer It's an ongoing process. For now there is nothing that has to be done.

[2015-02-10 22:40] jcspencer commented on #85
Is this as simple as adding a the following block [here](https://github.com/hexpm/hex_web/blob/master/lib/hex_web/api/router.ex#L228)?

[code]

If this is corrrect, I'll open a PR

[2015-02-10 22:45] ericmj commented on #85
Yeah, I think that should be enough.

[2015-02-11 02:40] tsloughter commented on #74
Mix has environments and rebar3 has profiles, wouldn't it be good to separate deps by profile like they can be in configs instead of just required or optional?

[2015-02-11 04:03] jcspencer opened #97 "Add the ability to reset account email address"
Now that #22 (password reset via email) has been implemented, and client support is available in the master branch of the Hex client, we should now be able to implement the ability to reset email addresses for accounts.

I have some ideas of how this could be done; Sadly, sending a link to reset page to an existing email address is useless in this situation, so it requires different logic to reset

[2015-02-11 12:37] ericmj commented on #74
@tsloughter I would like to read on how rebar3 profiles work, do you have documentation on them?

In mix all dependencies run in the production environment and only prod deps (and deps that hasn't specified an environment) are included in the package. If we look at ecto's mix.exs file https://github.com/elixir-lang/ecto/blob/master/mix.exs#L33-L40 you can see that some deps have `only: :docs`. The

[2015-02-11 12:39] ericmj commented on #97
The user can still change email with a reset link if they control their old email. If they lost their email they are out of luck and need to convince an admin that it's their account. No way around that unfortunately.

[2015-02-11 13:45] tsloughter commented on #74
Profiles http://www.rebar3.org/v3.0/docs/profiles

And yea, I tried to think of a scenario that makes sense to fetch the deps of a dep for a random profile but couldn't... So probably it is probably good as is.

[2015-02-11 16:34] ericmj commented on #74
The metadata format has been changed to erlang term files. It still expects the same keys and values as described in https://github.com/hexpm/hex_web/issues/74#issuecomment-67581618, except that maps will be deprecated in favor of proplists to support older OTP versions. All keys should be binaries, atoms are not allowed in the metadata.

[2015-02-11 22:52] jcspencer commented on #85
@ericmj Should be fixed in #96

[2015-02-11 22:53] jcspencer commented on #97
Sounds like a reasonable way to solve it :+1:

[2015-02-12 21:53] #85 closed

[2015-02-15 18:26] tsloughter opened #98 "Attemping to modify a release after an hour returns a 500"
The response from the server to the client is just a 500. I see in the server logs:

[code]

It be nice to return a `40x` and the error to the client so a useful message can be given to the user.

[2015-02-15 20:12] jcspencer commented on #98
The problem lies [here](https://github.com/hexpm/hex_web/blob/master/lib/hex_web/api/router.ex#L226).

We only seem to be checking for the `:ok` return type; but we should also be matching against `{:error, result}` to throw a 40x error and supply a useful error message to the client. This can be fixed by wrapping the existing code in a `case`, and matching both `:ok` and `{:error, reason}` return

[2015-02-16 05:20] ericmj opened #99 "Add hard limits on tarballs"
Add an upper limit on uncompressed size and number of files in package and release tarballs. The only limit today is on compressed size: 8MB.

OTP will likely add limited output buffer size functionality to gzip in OTP18 that will protect the server when unzipping. Unfortunately there is no limit on number of files in tarball, we can only check after the tarball is fully extracted in memory. Hopef

[2015-02-16 06:08] jcspencer commented on #98
Note: the problem is now found [here](https://github.com/hexpm/hex_web/blob/master/lib/hex_web/api/router.ex#L246) on master.

[2015-02-16 06:41] jcspencer commented on #99
You can use the following code to get the following code to get the total uncompressed size from a gzip archive without extracting the archive:

[code]

This method is described [here](http://www.abeel.be/content/determine-uncompressed-size-gzip-file). The gzip spec defines that each gzip file an 8-byte footer, containing a CRC-32 checksum and the length of the original uncompressed data.

This wi

[2015-02-16 13:27] tsloughter commented on #98
Is it only fixed for a delete? It also happens on a post to releases.

[2015-02-16 13:55] ericmj commented on #99
@jcspencer That method won't work against an attacker that tries to exhaust the memory on the server because there is no way to pass the size to gzip and ask it to terminate early if the size is exceeded.

[2015-02-16 14:06] #98 closed

[2015-02-16 14:06] ericmj commented on #98
Fixed. We return 422 for all validation errors.

[2015-02-16 20:38] jcspencer commented on #99
@ericmj The main attack this thwarts is when an attacker tries to upload an extremely highly compressed file. In gzip, this compressed file can sometimes be ~1000x smaller than the original, as described in erlang/otp#592.

As we can get this value *without* extracting the tarball, this should stop hackers who try to exhaust the memory on the server; we would simply refuse to extract the tarball i

[2015-02-17 00:57] ericmj commented on #99
@jcspencer It is useful to check it, but it would only stop a user that makes a mistake. A malicious attacker can create a tarball that will be huge when uncompressed and then change that last 4 bytes to a smaller size.

The issue you linked (which I was referring to in the initial issue comment) is an actual fix that protects against attackers.

[2015-02-17 01:08] jcspencer commented on #99
I didn't think of that, this would definitely be exploitable in this
case (faking the last 4 bytes).

If the linked OTP pull request is merged into OTP, I think we would have
to depend on it like you originally mentioned, as it doesn't look like
we can do much from a user space perspective.

Maybe the check of the final 4-bytes would be a good fail-safe for the
meantime?

On 17/02/2015 11:57 am, E

[2015-02-17 01:09] ericmj commented on #99
Agreed.

[2015-02-23 21:58] ericmj opened #101 "Remove latest packages RSS in favor of sorting on the API"

[2015-02-24 14:35] seriyps commented on #99
Also, when I initialy discussed this attack with guys from #Erlang IRC (before I made that patch), they suggested to feed input data by small chunks: eg, don't pass whole 100kb input to `zlib:inflate`, but feed it chunk-by chunk of, eg, 1kb and control decompressed data size. But this tactics may significantly decrease performance.

P.S.: otp#592 provides safety without influence on performance.

[2015-02-24 22:27] jcspencer commented on #101
Could you expand on this?

[2015-02-24 22:29] ericmj commented on #101
This https://github.com/hexpm/hex_web/blob/master/lib/hex_web/feeds/router.ex should be replaced by the HTTP API.

[2015-02-27 15:22] ericmj commented on #74
In this gist https://gist.github.com/ericmj/ddfe9879ecf3b6572af3 is the specification for precompiled packages and the additions to the package metadata. Unless you have any comments I am going to start implementing this in the next few days.

/cc @tsloughter @ferd

[2015-02-27 16:16] ferd commented on #74
- Are your endpoints key/values sorted, or do you expect combinatorial explosion of parameters in paths? Either have explicit path hierarchies or an explicit order to them

[2015-02-27 16:18] ericmj commented on #74
Parameter keys in the endpoint should be sorted according to ASCII. I.e. the "arch" key should appear before the key "erts".

[2015-02-27 22:37] tsloughter commented on #74
I'd suggest (for precompiled packages) requiring `/arch/<type>/erts/<vs>` where for packages that only have BEAM code type is `generic`.

[2015-02-27 23:26] josevalim commented on #74
What about not sending arch if it is only beams?

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-02-27 23:35] tsloughter commented on #74
I just figured a built package always having an arch and an erts would make it more consistent.

[2015-02-28 08:17] josevalim commented on #74
@tsloughter but are you going to prebuild it for all archs then? or you will have another tag saying it is beam only?

[2015-02-28 13:36] tsloughter commented on #74
@josevalim hm? Being arch `generic` would mean that it is beam only.

[2015-02-28 13:51] ericmj commented on #74
Are we only going to allow predefined parameters such as "arch" and "erts"? My first idea was to allow any parameters and it would be up to build tools to use them however they like. However, just allowing certain predefined keys may be better because all build tools using hex should agree on parameter conventions so that everyone can make use of precompiled packages regardless of the creator.

On

[2015-02-28 13:52] tsloughter commented on #74
I'd be fine with predefined keys. But if we went that way then I'd argue for always having `arch` and `erts` requires for prebuilt packages :)

[2015-02-28 14:59] josevalim commented on #74
Another reason for not including arch if the value is going to be generic is space. Most of the packages will have no arch. If we have 100_000 package versions, how much space we will save by not including it?

[2015-02-28 15:00] josevalim commented on #74
It just feels very weird to include information which can be represented by its absence.

[2015-02-28 15:35] tsloughter commented on #74
Not sure how the size matters, it is negligible. I just thought it would make it uniform instead of requiring a special case. Either way works.

[2015-02-28 15:50] josevalim commented on #74
To me adding a "generic" arch is the special case. :) Also, if we decide to show those "tags" on the website, it feels weird to have `arch: generic` in there, so my vote is to skip it.

[2015-02-28 15:53] tsloughter commented on #74
Hehe, it feels weird to me to not have `arch: generic` on the website since then the user has to know that the lack of `arch` means `generic` :)

[2015-02-28 16:06] josevalim commented on #74
@tsloughter hahaha! :D it depends also if we are going to have multiple tags or not. Because people may push a tag `gcc: 5.1` and then people will automatically learn that the lack of a tag means you don't care.

[2015-03-04 21:00] jcspencer commented on #94
As Hex v0.7.0 was released on 2015/02/15, we *should* be able to phase this out at some point after March 15th.

Do we have any way to check the current usage statistics of `PATCH "users/:name"` vs. `POST "users/:name/reset"`?

[2015-03-04 21:04] ericmj commented on #94
I can try to get some usage statistics from Heroku and S3 logs. But I think we should remove `PATCH` ASAP after the 15th since it's a potential security issue.

[2015-03-04 21:09] jcspencer commented on #94
I agree. If you don't think it's too much of a user inconvenience, I think removing it on the 15th is a good idea.

[2015-03-18 16:42] ericmj opened #103 "Include reason why authentication failed"
If authentication failed because a user didn't confirm their email it will be very hard for them to find out why it doesn't work.

[2015-03-19 01:32] jcspencer commented on #103
We should be able to add another state (return value) [here](https://github.com/hexpm/hex_web/blob/master/lib/hex_web/api/util.ex#L146) specifically for unconfirmed accounts.

[2015-03-19 01:50] jcspencer commented on #94
Fixed in #102

[2015-03-19 01:50] #94 closed

[2015-03-19 04:04] jcspencer commented on #103
I'll take this one.

[2015-03-29 17:47] #103 closed

[2015-04-11 11:55] awetzel opened #105 "Sort search result by number of downloads and last release date"
Hello,
It starts to be complicated to make choices between libraries, for instance if you take :

https://hex.pm/packages?search=xml

exmerl and sweet_xml are similar (both xmerl wrapper), but sweet xml is more used because more complete and useful, but exmerl is the first result because of alphabetic ordering.

Maybe a nice feature would be to sort result : by a combination of last release update

[2015-04-11 11:59] awetzel commented on #105
because alphabetic sorting is useful only if you know the library name, and if you know the library name you put it directly in the search input so sorting is not so much useful. So I think sorting may be more useful to help you find a good library for a given purpose

[2015-04-11 23:26] ericmj commented on #105
We can add monthly downloads as a column and change the sorting by clicking the columns. It should default to the current sorting though.

[2015-04-12 01:13] awetzel commented on #105
Yes adding a column would do the job and is sufficient, thanks for the reply.

But why do you think alphabetic sorting should be default ? It is not an obvious sorting at a point that when I opened the issue (before my comment), I thought that the sorting was shuffle and I use hex.pm almost every day currently (and thank you for it :) ).
Maybe I though the sorting was shuffle because of other simi

[2015-04-12 01:27] awetzel commented on #105
And obviously I can help to dev this if you do not have time.

[2015-04-12 05:00] jcspencer commented on #105
I believe this should be an easy change to make, as it ultimately only requires modifying `HexWeb.Web.Router.fetch_packages/4` to accept a `sort` parameter (which would refer to a field name) that defaults to sorting by name, and using it in an Ecto query (after ensuring it is safe). This approach would require the user to fully refresh the page to re-organise the contents of the table, but that s

[2015-04-12 05:15] ericmj commented on #105
It makes sense to sort alphabetically when you search for name. Sorting by last update seems arbitrary, why would a package updated yesterday be more relevant than a package updated last week? Always promoting the most popular is not always ideal either because it means it will keep being the most popular even if better alternatives exist.

What do you mean that names are random?

We can add a col

[2015-04-12 17:58] awetzel commented on #105
Yes I agree about the nb of columns, 2 or 3 information per package is a maximum.

What I meant with "random" is that when you choose a name for a library, most of the time the name is random and without meaning (for instance "sweet_xml" or "ecto" or "hex" :) ) : so for a user who are looking for the term "xml", result will appear to be random, even more because all other website sort by some some

[2015-04-12 18:23] awetzel commented on #105
Feature idea in the wild :) :

Hex.pm could use a community driven reference package list : https://github.com/hexpm/awesome-packages in an Yaml file for instance, by topic or search term, in the fashion of *_awesome repositories (, but with a more opened governance model :) .

And use it to construct its homepage and always explicitly shows packages from the "reference list" first in search resul

[2015-04-12 23:43] ericmj commented on #105
Okay, I agree that sorting by number of downloads is better than by name, thanks for convincing me. So I think we should add the monthly downloads column and maybe a latest update date column (lets see how it looks). We should default to sorting by number of downloads but give users the option to sort by name.

Can you explain some more how that would work? My first thinking is that this is someth

[2015-04-16 18:12] #97 closed

[2015-04-16 18:13] ericmj commented on #105
@awetzel Are you working on this?

[2015-04-16 18:51] awetzel commented on #105
Yes sorry I did not see your answer, thanks to have read my opinion and even more for taking it into account.

Actually about the idea of a community repository of reference packages by topics, it is an idea I have but i do not have the time currently to work on it. Your are right about that it is not the primary job of hex.pm to promote package, but since it is not only a repository but also a we

[2015-04-16 19:20] ericmj commented on #105
hex.pm's main task is just to be a repository and an API interface for clients and other websites to use. The reason we have a website is only for convenience, notice that the website is completely read-only, all user and package related tasks happen through the hex client that is using the HTTP API.

Who should moderate the list of promoted packages? I don't have time or interest in exploring and

[2015-04-16 23:50] awetzel commented on #105
Yes I agree, it would be crazy for hex.pm to maintain this kind of list, I understand that the website is a side-effect. But I think the issue of having a quality package ecosystem is closely linked with the way to distribute package which is the purpose of hex. If you want to close the debate here, no offense at all :).

If you are interested, I will detail my point and why I think Hex is part of

[2015-04-17 00:06] awetzel commented on #105
And to answer your last question, Hex is better because it can make a standard about this because hex is the Elixir standard to manage packages, and use this kind of list in package search and analysis tools may be useful.

[2015-04-17 01:30] ericmj commented on #105
I'm not convinced we should do this but right now it's just being proposed as "nice thing to have" and sure, it would be nice to have. What we need is concrete proposals of how it's going to work.

* Who is going to manage list, a single person, a group of people or the whole community?
* How is the approval process going to work?
* What criteria should we use to rank packages?
* How should packag

[2015-04-17 05:24] jcspencer commented on #97
@ericmj Any specific reason for closing this?

[2015-04-17 08:38] josevalim commented on #105
I agree with @ericmj and @awetzel in the sense that this would definitely be nice to have but I don't think it should be part of Hex at all. Hex is a tool and about infrastructure. Hex and the Hex team should focus on those.

I remember explicitly saying to @ericmj that it would suck if one day someone can own someone's else package because we added a "leave a comment in Markdown" feature that had

[2015-04-17 14:04] ericmj commented on #97
You can only change your email if you control the old email. Because of that this is not a high priority issue. If you want to work on it please go ahead.

[2015-04-20 07:21] pma opened #106 "Latest column showing the first version"
In the list (https://hex.pm/packages) and search results, the Latest column is showing the first version, instead of the last one.

[2015-04-20 19:19] #106 closed

[2015-04-20 19:19] ericmj commented on #106
Thanks for reporting

[2015-04-20 23:36] jcspencer commented on #105
I agree completely with @josevalim, Hex is about infrastructure, not about curation or ranking. This kind of tool does not belong in Hex itself, but belongs in a community project.

Hex has an existing API that would be easy to build a community project around.

[2015-04-28 15:11] ericmj opened #107 "Sort by and display number of downloads in package search"

[2015-04-28 15:11] ericmj commented on #105
Closing this and opening #107 for sorting and displaying package downloads in search.

[2015-04-28 15:11] #105 closed

[2015-04-28 15:54] parkerl commented on #107
Hey @ericmj I'd be happy to take a stab at this.

[2015-04-28 17:50] matteosister opened #108 "change username after registering"
Is there a way to change the username? There is a typo in mine, and I can't find a way to update it.

I'd like to help, but I'm a total newbie of elixir... :smile:

[2015-04-28 19:05] ericmj commented on #108
No, you have to create a new user. If you want to reuse your email you can mail support@hex.pm to have them delete your old account.

[2015-04-28 19:05] #108 closed

[2015-04-28 20:26] matteosister commented on #108
thanks!

[2015-05-07 14:32] chrismccord opened #110 "Provide copy/pastable snippet on package page for mix.exs entry"
It could be for the latest version, i.e.: If I'm viewing httpoison's hex.pm page, I could have a snippet:

    {:httpoison, "~> 0.6"}

That is for the latest major version. Thoughts?

[2015-05-07 14:35] ericmj commented on #110
Sounds good. For pre 1.0 packages I think we should generate `{:httpoison, "~> 0.6.1"}` and for post 1.0 we should generate `{:httpoison, "~> 1.6"}`.

[2015-05-07 15:02] whatyouhide commented on #110
:+1: very nice addition!

[2015-05-08 00:16] jcspencer commented on #110
Something along the lines of this?

[code]

[2015-05-08 00:19] ericmj commented on #110
@jcspencer Looks good, but I would match on the result of `Version.parse` instead of piping to `elem`

[2015-05-08 16:44] parkerl commented on #107
@ericmj ahh I forgot you want sorting too. How should this work?

[2015-05-08 19:13] ericmj commented on #107
@parkerl It should default to sorting by downloads and you should be able to click "Name" or "Downloads" to change the sorting.

[2015-05-08 20:29] parkerl commented on #107
Ok I'm on it.

[2015-05-09 00:04] jcspencer commented on #110
[code]

Is this more appropriate?

[2015-05-09 00:16] jcspencer commented on #110
![screen shot 2015-05-09 at 10 15 24 am](https://cloud.githubusercontent.com/assets/860934/7547617/60a7dc82-f634-11e4-8046-10fb6f2d51a5.png)
This would result in something looking roughly like this.

[2015-05-09 00:46] ericmj commented on #110
@jcspencer Beautiful, we should also prepend the version with "~>".

[2015-05-09 18:24] #75 closed

[2015-05-09 18:27] ericmj commented on #74
Update: Added build_tools to release metadata and to registry. Next step is to create a new registry format for rebar3.

[2015-05-18 10:10] #107 closed

[2015-05-18 10:11] #101 closed

[2015-05-18 12:03] h4cc commented on #101
Oh, so the feeds are gone? :(
This is what i used for the https://github.com/h4cc/awesome-elixir in combination with https://zapier.com/

What will be the equivalent API call for the RSS Feed of new packages then?

[2015-05-18 12:04] ericmj commented on #101
GET /api/packages?sort=inserted_at

[2015-05-18 12:06] h4cc commented on #101
Thanks! :+1:

[2015-05-22 23:56] ericmj commented on #69
Closing since it has been done with phoenix and we will be migrating to it.

[2015-05-22 23:56] #69 closed

[2015-05-24 01:43] jcspencer commented on #69
Will we maintain to keep the same sanitization API on the hex_web side, or change the hex_web sanitization API to suit that of phoenix_html?

[2015-05-24 08:38] ericmj commented on #69
We will use the one from phoenix.
On May 24, 2015 3:43 AM, "James Spencer" <notifications@github.com> wrote:

[2015-05-25 16:37] oldfartdeveloper opened #116 "Doc link for plug_heartbeat version 0.1.0 is broken"
How to reproduce:

1.  Browse https://hex.pm/packages/plug_heartbeat.
1.  On that page, click the link **[docs link](http://hexdocs.pm/plug_heartbeat/0.1.0/)** at the bottom of the page.
1.  Observe you are presented the message "PAGE NOT FOUND".

[2015-05-25 16:38] josevalim commented on #116
I think this is the bug we had when docs were being wiped out when sharing a prefix. It has been fixed since then. @whatyouhide can you push the docs for heartbeat again pls?

[2015-05-25 16:40] whatyouhide commented on #116
There you go! Sorry :(

[2015-05-25 16:44] josevalim commented on #116
@whatyouhide don't be, it was our bug. :)

[2015-05-25 17:51] ericmj commented on #116
Ah, I will restore the backups.

[2015-05-25 20:33] ericmj commented on #116
Restored backups.

[2015-05-25 20:33] #116 closed

[2015-05-26 19:15] josevalim opened #117 "Ecto docs is redirecting to 0.9.0"
So the docs are considering 0.9.0 to be more recent than 0.11.0. Just access: http://hexdocs.pm/ecto

It also happens with Phoenix, Plug, etc.

[2015-05-26 21:54] ericmj commented on #117
Fixed, for good, hopefully, maybe.

[2015-05-26 21:54] #117 closed

[2015-05-27 11:19] ericmj opened #118 "Add package sorting by updated_at"
/cc @barisbalic

[2015-05-29 02:45] jcspencer commented on #118
What is the use case of this vs. `inserted_at`?

[2015-05-29 02:53] jcspencer opened #120 "Consider limiting versions on package page"
Currently, some packages like `phoenix` have many releases (`phoenix` has 31). The list displayed on the package page is not limited, so the list on some packages extends the page tremendously.

One way to solve this would be to limit the page to show only the latest `n` releases, and then show the rest on a separate page, or to simply devise a toggle button to show/hide older versions and their d

[2015-05-29 09:55] barisbalic commented on #118
You may want to see packages that most recently changed, rather than got inserted.  One example would be the updates feed that used to show new packages, it could use this to show new *and* updated packages.

[2015-05-29 10:26] ericmj commented on #120
Lets go with showing N releases and then add a link to a separate page.

[2015-06-01 04:28] jcspencer commented on #118
Closed in #121

[2015-06-01 09:12] #118 closed

[2015-06-17 19:49] ericmj commented on #74
Specifications listed in this issues are located here: https://github.com/hexpm/hex_web/tree/master/specifications. The final missing part is the HTTP API which I will be working on documenting next.

[2015-06-17 19:49] #74 closed

[2015-06-18 22:56] milmazz commented on #25
@ericmj @jcspencer How are you tackling this issue? If you want I can help with the _Statistics_ area at the beginning, I have previous experience with [Highcharts](http://www.highcharts.com/) but I can try [Chart.js](http://www.chartjs.org/).

[2015-06-18 22:58] ericmj commented on #25
@milmazz No one is working on this issue. Please contribute anything you can! :+1:

[2015-06-20 11:30] ericmj opened #123 "List dependent packages on package page"
Technically only a release has dependents so a package can have different dependents based on which release is considered. For the same reason a package A can depend on B only for a subset of A's releases.

Optional dependencies should also be marked as optional in the dependent list.

Should we only list directly dependent or also include transversally dependent also? Given the following dependen

[2015-06-25 17:09] williamgueiros opened #128 "doesn't split words on /"
more information on https://github.com/hexpm/hex/issues/103

[2015-07-02 21:25] mschae commented on #42
I just read through this and it's extremely interesting.

This might be old news. But regarding the file size of the registry and the need to download it every time: why don't we just checksum the registry to a file and compare the local checksum with the remote checksum? That way we only have to download a few bytes every time we run mix and only have to download the entire thing when it changed.

[2015-07-02 21:26] ericmj commented on #42
We already do conditional http requests with etag/if-none-match.

[2015-07-02 21:51] mschae commented on #42
Way better. :)

Am Donnerstag, 2. Juli 2015 schrieb Eric Meadows-Jönsson :

--
*Michael Schaefermeyer*
michael.schaefermeyer@gmail.com
DE phone +49 (251) 590 8787
US phone +1 (415) 439 0430
about.me/mschae

[2015-07-02 23:37] ferd commented on #42
Other than log formats, there are other ways to rebuild or modify indexes. One example would be to use hash-trees to only download the diffset (which is nicer than log formats when you *delete* elements -- log formats require tombstones or re-fetching the index snapshot when the last update took place before compaction) and to update this.

You could also try to just run a compressed table and see

[2015-07-02 23:47] ericmj commented on #42
@ferd I would be interested to read more about hash-trees and how to make it efficient over HTTP requests, if each change results in a separate HTTP request there will be an efficiency problem. Do you have any references to literature?

We already gzip the registry, there is no way to fetch it uncompressed:

[code]

It seems like the `{compressed,9}` option is slightly more efficient than plain gz

[2015-07-03 00:18] ferd commented on #42
For the hash tree algorithms, the one I'm always a fan of is the merkle tree. The trick is to build up a kind of hash *trie*:

[code]
Each inner node also has a hash of all its children's hashes, such that you can easily transfer the top level (as an ETag for example) to know if there have been *any* modifications to the data set.

After that, you need to check the children at each level for their

[2015-07-03 08:01] milmazz commented on #120
@ericmj @jcspencer If we use the `collapse` component from Bootstrap we can avoid to show the list of the _oldest versions_  in a separate page.

For example, please assume that `n=2`, we can do something like this:

![screen shot 2015-07-03 at 2 57 27 am](https://cloud.githubusercontent.com/assets/34700/8494970/53362362-212f-11e5-98bb-6c1687cc74b1.png)

If the user wants to see the oldest version

[2015-07-03 11:20] ericmj commented on #120
Great idea @milmazz :+1:!

I think the button should stay at the bottom even when uncollapsed. Wdyt?

[2015-07-08 17:17] ericmj commented on #55
Are you still working on this @jcspencer? Otherwise I will grab it. We need this soon due to the recent S3 failures.

[2015-07-12 00:56] ericmj opened #134 "Recreate download stats materialized views on the fly"
So that we can run it for any day, not just today. This allows to the rerun yesterdays job before 3AM GMT  the next day.

[2015-07-24 04:12] gjaldon opened #135 "Docs for Timex is down"
Visiting http://hexdocs.pm/timex/ says 'page not found' but package is found in Hex. Is this a Hex issue or does `timex` author need to do something on his end?

[2015-07-24 09:49] ericmj commented on #135
I have fixed it but there are no docs for the last 3 versions.

[2015-07-24 09:49] #135 closed

[2015-07-24 11:12] gjaldon commented on #135
Thanks! :+1:

[2015-07-29 05:28] milmazz commented on #120
@ericmj I think I almost have this issue solved, but, if I try to avoid the code duplication in the following section with a new EEx template, that piece of code is not rendered at all.

[code]

With the previous piece of code the feature is working, but if I try [this](https://github.com/milmazz/hex_web/commit/49fff9264b20cdf455a0cb9fa4f7ae8df122f248) I get the following result:

![screen shot 20

[2015-07-29 10:49] ericmj commented on #120
Looks like an issue with the safe html engine, please open a PR  with the code you have so I can investigate.

[2015-07-30 05:06] milmazz opened #137 "Possible bug on HexWeb.Web.HTML.Engine"
Trying to fix #120 I added this piece of code into `lib/hex_web/web/templates/package.html.eex` and is working properly:

[code]

But in order to avoid code duplication I created a new EEx template, the result is the following:

![image](https://cloud.githubusercontent.com/assets/34700/8976156/bfa2c512-364e-11e5-8cdb-1843c75eb95e.png)

The details of the implementation can be found [here](https://

[2015-08-03 13:16] ericmj opened #138 "Trim invalid UTF8 in search field"
Will fix exceptions from postgres

[2015-08-03 13:39] josevalim commented on #138
You should set up the proper frields in the form to force the browser to submit utf-8. More info here: https://github.com/phoenixframework/phoenix_html/blob/master/lib/phoenix_html/tag.ex#L114

[2015-08-04 03:59] milmazz commented on #137
The problem was that I forgot to add `safe` :disappointed:

[code]

[2015-08-04 03:59] #137 closed

[2015-08-04 13:44] #120 closed

[2015-08-05 19:10] ericmj opened #140 "Discuss specification for a simpler registry format"
Will be less optimized but should be easy to build. Will be useful when running private repositories.

[2015-08-10 14:34] Kapeli opened #141 "Integration with Dash"
I'm the developer behind [Dash](http://kapeli.com/dash), an API documentation browser for OS X.

I'd like to allow Dash users to grab docs for hex packages directly from within the app.

What I need:
- [x] A search API for the packages that have docs on hexdocs.pm. Something simple like a substring match over the package names is fine
- [x] Once I have a package name, I need a way to get all the a

[2015-08-10 20:52] pma commented on #141
@Kapeli

1. List packages that match a give string
$ curl https://hex.pm/api/packages\?search\=plug | jq .

2. Get all available versions of that package
$ curl -s https://hex.pm/api/packages/plug | jq .

3. Get version and check if it has docs
$ curl -s https://hex.pm/api/packages/plug/releases/0.14.0 | jq .

4. Download docs of given version (follow redirect)
$ curl -s -L https://hex.pm/api/pack

[2015-08-10 20:53] milmazz commented on #128
@ericmj I think this is already solve via #132

[2015-08-10 20:54] #128 closed

[2015-08-10 20:59] Kapeli commented on #141
Awesome. I'm just going to show an error for packages/versions that don't have docs when the user attempts to install them.

[2015-08-10 21:08] ericmj commented on #141
All specifications including the HTTP API can be found here: https://github.com/hexpm/hex_web/tree/master/specifications

@Kapeli Can we close this?

[2015-08-10 21:09] Kapeli commented on #141
Yes. Closing.

[2015-08-10 21:09] #141 closed

[2015-08-11 02:46] jcspencer commented on #140
Could this use a format similar to the log-structured, append-only registry format discussed in #42?

[2015-08-11 02:58] jcspencer commented on #123
I'd suggest being able to show each releases dependent packages (defaulting to the latest release), but only include directly dependent packages (as opposed to including transversally dependent packages).

[2015-08-11 10:54] ericmj commented on #140
No, the idea is to be much simpler than that. Something that can be built with a small amount of code.

[2015-08-11 10:59] jcspencer commented on #140
Should it be an erlang-native format (e.g. ETS) or should it be a globally-supported format (e.g. JSON)?

[2015-08-11 11:00] ericmj commented on #140
Neither is good because you will need a lot of code to build those format. CSV or something similar should be used.

[2015-08-11 11:01] jcspencer commented on #140
Agreed. Should the format reflect the structure currently used in the ETS-based format, or is structural similarity unimportant?

[2015-08-11 11:12] ferd commented on #140
Isn't it more complex to have two formats than a single one?

[2015-08-12 11:43] #55 closed

[2015-08-12 11:43] #27 closed

[2015-08-12 11:43] #84 closed

[2015-08-14 04:56] jcspencer commented on #140
Would this be replacing the existing registry format, or co-existing with it?

[2015-08-14 06:21] eksperimental opened #143 ""Oldest Versions" button"
Hi,
I think that button should read "Older versions", since it's showing all the versions left.
In fact i think we should have something like
"All Versions"
and once clicked, maybe the button could by grayed out and change text to "Recent Versions"

Example:
https://hex.pm/packages/phoenix

[2015-08-14 14:27] ericmj commented on #143
I agree on all points, please send a PR.

[2015-08-14 14:29] ericmj commented on #140
@ferd It is more complex but the simpler format should be simple enough that it shouldn't matter much. The existing format that will be updated will likely be more complex anyway.

@jcspencer The current format will change but this is another format.

[2015-08-14 14:31] ericmj commented on #143
If possible also try to remove the gap between the old and recent versions.

[2015-08-15 05:58] eksperimental opened #144 "[Porcelain]: goon executable not found"
[code]

should we mention in the README.md that optionally the goon driver should unpacked to the root folder of the project?
https://github.com/alco/goon/releases/latest

[2015-08-15 06:01] eksperimental commented on #144
also we should add "/goon" to .gitignore

[2015-08-15 07:14] josevalim commented on #144
Shouldn't porcelain have this executable in priv so dependencies don't need to install it separately? /cc @alco

[2015-08-15 09:17] alco commented on #144
@josevalim There's a separate executable for each platform: https://github.com/alco/goon/releases/tag/v1.1.1. Including them all with Porcelain is not practical. Also, for the basic use case of spawning a process that doesn't wait for input, the basic driver will work.

[2015-08-15 09:19] josevalim commented on #144
Thanks @alco!

[2015-08-15 09:24] eksperimental commented on #144
@alco is it technically doable ( i can sit down and do it myself, but not sure if there is any restiction on the hex/mix side), when installing a porcelain as a dependency, or any another app, to detect the OS and download automatically a package as goon?
I'm asking because I m using it myself in an app I'm  writing and I would prefer to do everything automatically.

[2015-08-15 09:25] josevalim commented on #144
@eksperimental  it is not possible. Mix does not provide such hooks. Porcelain could provide a task though, if @alco wants one, that could automate that. Then you would just need to call it.

[2015-08-15 09:29] eksperimental commented on #144
@josevalim thanks!, I can look into that

[2015-08-16 12:17] ericmj commented on #144
The goon executable is not needed.

@alco can we silence the warning? Shouldn't the default be to not say anything, quite annoying when dependency write to stdout just by starting it or maybe it should go through Logger at least?

[2015-08-16 13:00] alco commented on #144
I can switch to Logger.debug. Please open an issue on Porcelain's repo.

[2015-08-16 22:08] #144 closed

[2015-08-19 13:08] ericmj opened #146 "Add server-side signing of registry file"
The private key would need to be stored on the hex.pm server so this would only protect against attacks against Amazon S3.

[2015-08-22 06:47] jcspencer commented on #146
To verify the registry, the client will need access to the public signing key. Will this be included with the client, or fetched each time?

[2015-08-22 07:47] josevalim commented on #146
Elixir will ship with a public key since 1.1. We will be able to re-use it.

[2015-08-22 08:19] jcspencer commented on #146
@josevalim What about Hex running on Elixir versions older than v1.1? Should we only check registry signing on Elixir >=1.1?

[2015-08-22 10:47] josevalim commented on #146
Yes. They won't be able to check the registry.

[2015-08-23 10:22] ericmj commented on #146
@josevalim I think we should use a different key because the one that signs the registry needs to be online. We can do chain though so that the offline key for the hex archive and rebar signs the one we use to sign the registry.

[2015-08-23 10:27] josevalim commented on #146
@ericmj that's no problem. We will be able to ship multiple keys with Elixir. :)

[2015-08-23 10:30] ericmj commented on #146
The problem is that a single online hosted key compromises all hex and rebar installs since any key shipped with elixir can be used to install.

[2015-08-23 10:52] josevalim commented on #146
Yes, I agree. To be clear, all the structure for handling public keys will be in Mix. Hex should just leverage that. And if Hex needs something in particular, we should add it to Mix.

[2015-08-23 11:07] jcspencer commented on #146
Who will the Elixir certificate be signed by? Will it be supported on the majority of machines?

[2015-08-23 11:08] ericmj commented on #146
It wont be a certificate, just a key that ships with elixir.

[2015-08-27 02:08] ericmj opened #149 "Add naming policy"
1. Never use another package's namespace. Example: if extending plug namespace your project `PlugExtension`, not `Plug.Extension`, `plug` owns the `Plug` namespace.
2. If your package is an extension or an addition on top of another prefix with the other package's name. Example: extending `plug` should be `plug_extension`

[2015-08-27 07:02] whatyouhide commented on #149
Where should this be added?

[2015-08-27 12:29] ericmj commented on #149
I'm not sure, which is why opened the issue. Possibly some kind of FAQ page?

[2015-08-27 13:29] whatyouhide commented on #149
@ericmj ah ok, I see. Yes, probably a FAQ page could be nice. Should we put that under "Documentation"? I can work on it in the next few days if you want!

[2015-08-27 13:44] ericmj commented on #149
Either under "Documentation" or as top-level page. Whatever you think feels/looks best.

[2015-09-02 14:12] #149 closed

[2015-09-02 14:12] ericmj commented on #70
This is in. Will add some more questions and then deploy.

[2015-09-02 14:12] #70 closed

[2015-09-02 14:14] ericmj commented on #25
Closing this as the issue is too general. Will open an issue for stats.

[2015-09-02 15:09] ericmj opened #151 "Add graphs for download statistics for all and individual packages"

[2015-09-02 15:24] milmazz commented on #151
@ericmj Something like a time series that shows the Downloads over the last 60 days? or do you prefer something like a monthly average downloads?

[2015-09-03 08:55] Tuxified commented on #110
Since someone mentioned having rebar snippet as well (in the closed PR), I tried something like this:

![screen shot 2015-09-03 at 10 19 58](https://cloud.githubusercontent.com/assets/51889/9653700/b095a4de-5225-11e5-9da7-00920668f25b.png)

Unfortunately, that does pushes the versions and deps info down. If that works for you, I'll make a PR

[2015-09-03 16:06] tsloughter commented on #110
Why not move Versions and Dependencies up and to the left of Downloads/Snippets?

[2015-09-03 23:16] ericmj commented on #110
@tsloughter idea is great. Make sure to have Dependencies above Versions
because it takes less space.

[2015-09-04 07:48] Tuxified commented on #110
That would be something like:

<img width="770" alt="screen shot 2015-09-04 at 09 41 18" src="https://cloud.githubusercontent.com/assets/51889/9678809/35944988-52e9-11e5-89b2-8f5d9108aea0.png">

----------------

BTW, @tsloughter I'm not familiar with rebar version usage, I presumed `0.x.x` for versions smaller than 1.0 and `1.x.*` for versions larger than 1.0 (similar to @ericmj proposal for mix)

[2015-09-04 14:11] tsloughter commented on #110
@Tuxified no, rebar3 doesnt' suppose any of that. It is right as it is in the mock up screenshot, the full version number.

And I meant something slightly different for the layout, but no idea how to show it :). Something like:

[code]

[2015-09-04 21:53] ericmj commented on #151
Maybe show the last 30 days and monthly average downloads over the entire lifetime?

[2015-09-15 20:59] matteosister commented on #108
@ericmj many mails after, still nobody answered! :cry:  Do you have any idea on how to delete (and eventually re-use) the same email for a new account?

[2015-09-15 21:50] Tuxified commented on #110
Another try then:

![image](https://cloud.githubusercontent.com/assets/51889/9891033/b8dee348-5c03-11e5-8a23-9fc7c4ae3518.png)

Is it ok to leave the grey title part of snippets empty? I don't know how to call them succintly :disappointed:

[2015-09-15 22:59] ericmj commented on #110
That looks good. You can just remove the `panel-heading` div: http://getbootstrap.com/components/#panels-basic or call the panel "Config" or something similar.

[2015-09-15 23:08] ericmj commented on #108
Your emails were stuck in the spam folder. Your user has been deleted.

[2015-09-15 23:40] jcspencer commented on #151
If we want to show downloads from a given time period, do we need to include a date in the HexWeb.Stats.PackageDownload schema?

[2015-09-16 00:05] ericmj commented on #151
Sure, if we want to .We can adjust the cached download views as necessary.

[2015-09-16 10:25] MSch opened #156 "mix hex.key remove <key-name> throws 500"
Seems something is broken.

[code]

[2015-09-16 13:55] ericmj commented on #156
Thanks, will check for the logs for what went wrong. If you have the time of the error (and timezone) that would help.

[2015-09-16 14:32] MSch commented on #156
Approx 2 minutes before I filed the bug :)

Can still reproduce it, so it definitely happened Wed Sep 16 16:32:37 CEST 2015

[2015-09-16 14:33] ericmj commented on #156
Thank you, will investigate.

[2015-09-16 20:16] matteosister commented on #108
many thanks!!!!

Il giorno mer 16 set 2015 alle ore 01:08 Eric Meadows-Jönsson <
notifications@github.com> ha scritto:

[2015-09-21 20:33] ericmj commented on #156
I have no idea how this issue happened but this commit should fix it: https://github.com/hexpm/hex_web/commit/8a6958a9ab8eefd8d15ce4982a33e3af9b6915d9

[2015-09-21 20:33] #156 closed

[2015-09-21 22:56] #143 closed

[2015-09-22 01:23] #99 closed

[2015-09-22 01:24] ericmj commented on #20
Less important now that everything is on 1.0+. If we add this we would also need to add OTP requirement to be consistent which we don't do yet. It is also blocking on a requirements system as @josevalim mentioned.

[2015-09-22 01:24] #20 closed

[2015-09-22 01:25] ericmj commented on #110
@Tuxified Any updates? Looking forward to it :)

[2015-09-22 01:26] ericmj commented on #138
Note that this is blocking on the phoenix or at least phoenix_html move.

[2015-09-22 17:39] henrik opened #158 "Should we really send mail when a package is published?"
Let me know if there's a better place for this discussion.

I find the "…has been published" email superfluous, because `mix hex.publish` already said that it's successfully published. So it's just something to throw away.

For reference, last bit of `mix hex.publish` output:

    Published at https://hex.pm/packages/progress_bar/0.0.10
    Don't forget to upload your documentation with `mix hex.d

[2015-09-22 18:45] ericmj commented on #158
The email is actually not superfluous since all background jobs haven't been processed when `mix hex.publish` returns. We added the mail because previously when the jobs failed (because of networking errors to S3 or any other reason) the user was not notified and didn't know they should republish. When you get the email you know that everything completed successfully. Maybe we should tweak the mes

[2015-09-22 19:19] henrik commented on #158
Eric, thank you for clarifying.

What do you think about an optimistic approach – the mix task could keep claiming it's published, and if the bg jobs succeed no email is sent, but we do send one on failure? There seems to be such an email already: https://github.com/hexpm/hex_web/blob/master/lib/hex_web/email/templates/publish_fail.html.eex

Then the happy case is less noisy, but you're still noti

[2015-09-22 19:56] ericmj commented on #158
We can possibly do that, would like to hear more opinions on it.

Is your main issue with the current behaviour that you dislike getting many emails or that just feel that they are unnecessary?

[2015-09-22 20:43] henrik commented on #158
Sounds great.

I guess it's both of those things. I've been pushing new versions fairly frequently and it feels unnecessary to have those mail to clear out afterwards. If there was very often a long delay until they were available, or if it failed very often, I guess it would be a good thing to have. But when things mostly succeed, and quickly, I'd prefer the optimistic "let's assume it worked, an

[2015-09-23 16:50] #110 closed

[2015-09-28 22:51] tomekowal commented on #25
Can we also add something like "most popular searches" feature? I know, it is usually not super important, but having some kind of statistics could help developers decide what other libraries people need.

[2015-09-29 13:06] ericmj commented on #25
Yes, it could be useful but before we start adding features we need someone that will do the actual work. I don't have the time or the design knowledge to do it myself.

[2015-10-06 02:35] ericmj opened #162 "Reject package pushes with no description"

[2015-10-08 02:26] jcspencer commented on #162
Does this functionality also need to be implemented in the client?

[2015-10-08 03:16] ericmj commented on #162
Yep, we need to update the validator on the server and prohibit your from pushing if your forget it in the client.

[2015-10-08 03:46] jcspencer commented on #162
I agree. Does Ecto have support for validating JSON fields, or do we need to do it manually?

[2015-10-08 03:48] ericmj commented on #162
If you look at `release.ex` there are examples of validating meta fields. It should be a one line code change.

[2015-10-08 10:27] jcspencer opened #163 "Add autocomplete to search box"
I think it would be really useful to autocomplete search queries in the search bar. This could be done simply with a query like this:

[code]

This takes (on average) ~1-2ms per query in my test environment.

[2015-10-08 10:29] jcspencer commented on #163
It would also be a good idea to limit the number of responses, as it's overkill to send every single match

[2015-10-08 13:07] optikfluffel commented on #163
I guess we should also debounce the input on the client side so we do not fire a request on every keystroke.

[2015-10-08 13:45] ericmj commented on #163
There's still a ~200ms roundtrip for people on the other side of the world.

If you want to work on this go ahead but it's not a priority for Hex right now.

[2015-10-08 13:45] #163 closed

[2015-10-08 19:57] jcspencer opened #164 "Repository mirroring"
I know it's been on the cards for a while, but I think we need to discuss repository mirroring in more detail. Specifically:

* will clients mirror all packages, or selected packages?
* how will clients fetch a list of packages available for mirroring?
* do storage implementations other than s3 need to be implemented for mirror operators?

There is obviously much more to discuss, but I think this

[2015-10-09 14:04] ericmj commented on #164
Clients will mirror all packages.

Clients can fetch and scan the registry file, with some interval, diff it to what they have locally and fetch new and changed packages.

The mirroring should be independent of the final storage solution so that a new storage can be easily added.

[2015-10-09 21:21] jcspencer commented on #164
Should mirrors be notified when a package is updated as to automatically pull it, or should it periodically download the registry?

[2015-10-09 21:56] ericmj commented on #164
After the first iteration is implemented we can add pushing with webhooks but for now mirrors need to poll the registry for changes.

[2015-10-10 01:45] jcspencer commented on #164
Should mirrors require a hex_web instance to operate? I think it could be wise to have it work in a way that bucket mirroring is separate from running a Hex API server. That way, tools that mirror package tarballs into another region but still rely on the core `hex.pm` API server would be possible.

[2015-10-10 04:29] ericmj commented on #164
No, you're right, the mirroring will be a separate project. Also to clarify, the mirror won't use the API server it will just use the CDN to fetch the registry and packages.

[2015-10-11 04:03] jcspencer commented on #164
I think we should implement the log-structured registry format before this, as it will be much easier for a mirror to update it's registry and easily identify the diff

[2015-10-11 08:21] druzn3k commented on #134
I would like to help with this issue, if nobody is already doing it.

[2015-10-11 14:06] ericmj commented on #134
Go ahead

[2015-10-11 14:14] druzn3k commented on #134
Thanks! In the meantime I could also directly work also on #151, that seems related to me.

[2015-10-12 20:20] jcspencer commented on #164
@ericmj what do you think?

[2015-10-12 20:54] ericmj commented on #164
Diffing is easy, with a log format it may be slightly easier. The new registry format is still some ways off and we need to support the old one for a quite a while so it shouldn't be a blocker for mirroring.

[2015-10-12 22:37] jcspencer commented on #164
That makes sense. How would you go about diffing two ETS tables?

[2015-10-12 22:38] ericmj commented on #164
Traverse both ETS tables, build sets of each and then call `Set.difference/2`.

[2015-10-13 00:14] ferd commented on #164
There's other fun options for diffing that can require log N time to diff only. I think the last time this was discussed I outlined a possible plan for it.

[2015-10-13 01:23] ericmj commented on #164
@ferd Interesting, I didn't know you could implement set difference faster than O(n log n). You would at least need O(n) to load the data set unless you can use functions directly on the ETS table I guess. Can you give us some more details?

Performance is not very important though, we only have 4400 releases so far.

[2015-10-13 01:44] ferd commented on #164
well yeah. There's a O(n log n) cost to build the hash tree the first time around, but the cost will be O(log n) per insert, and pretty much O(log n) for the diff (the thing finds entries differing in matching subtrees, so progressive changes are easy to spot and synchronize)

[2015-10-13 04:03] jcspencer commented on #164
So something like this?

[code]

[2015-10-13 04:22] ericmj commented on #164
Sort of, don't append to the the end of a list and use `Enum.into(..., HashSet.new)` for creating the set.

[2015-10-15 22:29] jcspencer commented on #164
@ferd How would you suggest diffing two ets tables?

[2015-10-15 23:07] ferd commented on #164
@jcspencer see https://github.com/hexpm/hex_web/issues/42#issuecomment-118200802

I've got the [merklet](https://github.com/ferd/merklet) repo implementing such a tree, and a closed-source (for now) prototype to live-stream and self-repair updates between them. Diffing them can be a bit tricky to productionize safely, but it's doable.

[2015-10-15 23:54] ericmj commented on #164
Just using `MapSet` is good enough. No need to waste time on a fancy diffing algorithm when we don't need it, specially if we are going to change the registry format.

[2015-10-15 23:59] ferd commented on #164
yeah the fancy diffing is mostly worth it when you want to diff over the network without sharing the entire data set every time. It lets you run very efficient diffs frequently (even multiple times a second between peers if you want to) without blowing up your bandwidth.

[2015-10-16 00:54] jcspencer commented on #164
For now, I think the best implementation would be @ericmj's idea of using a HashSet and using `Set.difference/2`, like so:

[code]

In the future as the registry grows, however, I think using a more efficient diffing technique (such as @ferd's suggestion) would be a better idea, to reduce network load, etc.

[2015-10-16 00:56] jcspencer commented on #164
I'm happy to start the implementation of a separate project to handle mirroring. Before I begin, I've got a few questions:

* Will this project need to have HTTP functionality? (i.e. should it be built as a web service)
* Since functionality will be shared between this project and the existing *hex* and *hex_web* projects, should shared logic be split into a separate project that is mutually depen

[2015-10-16 00:57] ericmj commented on #164
The more efficient diffing technique would be the new registry format. It will by design be a diff.

[2015-10-16 01:04] jcspencer commented on #164
@ericmj I think (for now), we can work with the existing registry format as a placeholder, and replace it later, as I don't think we'll be able to migrate to the new registry format extremely quickly (I think)

[2015-10-16 01:11] ericmj commented on #164
I'm not sure how this should work yet. But we probably need a pluggable backend where people can add functionality they need. We can ship with a few defaults, like a plug http backend or something that can upload to FTP, S3, etc.

There is basically nothing to share for the first registry format so there is nothing to reimplement. The second registry format may be able to share more (because the c

[2015-10-16 04:18] jcspencer commented on #164
Do you have an existing implementation of the new registry format of which can be use?

-- 
James Spencer

On 16 October 2015 at 12:11:58 pm, Eric Meadows-Jönsson (notifications@github.com) wrote:

Will this project need to have HTTP functionality? (i.e. should it be built as a web service)

I'm not sure how this should work yet. But we probably need a pluggable backend where people can add functi

[2015-10-16 04:19] ericmj commented on #164
No, the specification isn't even finalized.

[2015-10-16 05:10] jcspencer commented on #42
@ferd While I do find this solution to be greatly effective if used infrequently, I can see the following problems with it in a production application:

* sending data backwards and forwards is not going to scale with a large number of concurrent clients (especially with the rate that hex adoption is growing)
* using this approach will require a dedicated server to conduct the negotiation (whereas

[2015-10-16 12:17] ferd commented on #42
- sending the data forward and backwards should in theory be more efficient than a log-structured format. The point is that:
  - if everything is up to date, the cost is the same (trade a hash and check it, vs trading a log sequence number and checking it)
  - if only a few keys are missing, these are found in O(log n) time under the tree structure *no matter which is missing*. For an event-based

[2015-10-16 21:29] jcspencer commented on #42
@ferd Thanks for such an in-depth explanation and clarification! I think you've convinced me :+1:

I guess my last question is: what protocols can we use for the negotiation, and will they be supported on Heroku?

[2015-10-16 22:32] ericmj commented on #42
All of this needs to be able to run on top of HTTP, FTP or other similar *simple* protocols. That's why we need a log structured registry format and cannot use fancy algorithms.

[2015-10-16 23:39] ferd commented on #42
yeah. The private prototype I have would require to go over websockets at the very least and needs a concept of an active session. FTP is just overall terrible (especially for people behind firewalls or having to deal with NAT).

Log structure is conceptually a lot simpler. I'd recommend going that way at first -- a state-based mechanism can always be added at a later point in time without problem

[2015-10-17 04:13] jcspencer commented on #42
@ericmj does your original log-structured format spec still stand, or do you want to use a different spec?

[2015-10-17 04:30] ericmj commented on #42
It's going to be the same idea with the addition that we will hash each
"chunk" of the log and reference the previous chunk with a hash that will a
create a hash chain that we can use to check for integrity and changes
further down the chain.

On Fri, Oct 16, 2015 at 11:13 PM, James Spencer <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2015-10-17 12:34] ferd commented on #42
^ that format cannot work with log compaction for a client to check their own data as you will be skipping around the hash chain when records are rewritten/crushed. As long as you're aware the data set can never shrink or be compacted, you're fine, though.

[2015-10-18 17:45] fteem commented on #162
@ericmj is this up for grabs? If so, I'd like to take a stab at it.

[2015-10-18 17:46] ericmj commented on #162
It's free to take.

On Sun, Oct 18, 2015 at 12:45 PM, Ile Eftimov <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2015-10-20 04:13] ericmj commented on #134
Are you still working on this? Otherwise I'll grab it, I need it for another bugfix.

[2015-10-20 04:14] ericmj commented on #158
Closing this for now. If we get more complaints about excessive email sending I will of course reconsider.

[2015-10-20 04:14] #158 closed

[2015-10-20 05:13] henrik commented on #158
Sounds fair.

Sent from my iPhone

[2015-10-20 05:43] druzn3k commented on #134
I was trying, but I'm going too slow because I have not spare time and I'm
not confident enough with ecto. Grab it, I can learn reading your solution
and next time I will be faster. :)
Il 20/ott/2015 06:13 AM, "Eric Meadows-Jönsson" <notifications@github.com>
ha scritto:

[2015-10-22 05:26] jcspencer commented on #162
This can be closed.

[2015-10-22 05:58] #162 closed

[2015-10-22 14:05] ferd commented on #42
Even if it ends up not being used, for the sake of completeness in this discussions, here's a demo application doing state-based replication with merkle trees: https://github.com/heroku/sdiff.

It would need a protocol handler translating the primitives (listen/accept, connect, send, recv) into a websockets format and some TLS support, for example, but it shows the core protocol being in place.

[2015-10-22 16:12] ericmj opened #168 "Document mirrors"
Currently we have three official sources for packages, in the future we will have mirrors. They should be documented somewhere on the website.

[2015-10-22 22:09] jcspencer commented on #168
Perhaps something like this could be a starting point?

| Name | Location | URL | Official? |
|----------|------------|--------|-------------|
| America (default) | US East | https://s3.amazonaws.com/s3.hex.pm | Yes |
| Europe | Europe West | https://s3-eu-west-1.amazonaws.com/s3-eu.hex.pm | Yes |
| Asia | Southeast Asia | https://s3-ap-southeast-1.amazonaws.com/s3-asia.hex.pm | Yes |

[2015-10-22 22:10] jcspencer commented on #168
As well as instructions on applying them, of course

[2015-10-23 04:54] ericmj commented on #168
That looks great, instructions would be useful as well. The exact locations are "US East (Northern Virgina)", "Europe West (Ireland)", "Southeast Asia (Singapore)".

[2015-10-23 05:46] jcspencer commented on #168
I think this should be close to what would be required. Please leave some comments if you see fit.
--

# Mirrors

Hex packages and archives are distributed (mirrored) in various locations. Using a nearby server will speed up your download, and also reduce the load on the central server.

*Note:* By default, the American (US East) bucket is used by Hex clients.

## Usage

To permanently select a mi

[2015-10-23 14:04] ericmj commented on #168
Looks great! Please send a PR.

[2015-10-23 23:31] ericmj opened #169 "Add direct link to non-versioned hexdocs from package page"
Saw questions about linking to the latest to hexdocs version, we have no direct link to it so unless you know about it will be hard to find.

[2015-10-24 20:47] ericmj commented on #158
We will stop sending emails so that the error emails stand out more.

[2015-10-24 21:51] henrik commented on #158
Oh, nice. 👍

[2015-10-25 14:16] ericmj opened #173 "Add mirror documentation for rebar3"
This page: https://hex.pm/docs/mirrors

/cc @tsloughter

[2015-10-25 14:30] victorlcampos opened #174 "Add category to libs to make easy find it"
Hi, a good feature of www.ruby-toolbox.com is search by category.
It's allow you to compare libs from the same category and make choose easyer.

![image](https://cloud.githubusercontent.com/assets/1539610/10716092/1c1285f8-7b14-11e5-9516-5e38d019466d.png)

![image](https://cloud.githubusercontent.com/assets/1539610/10716091/065d691c-7b14-11e5-948e-6bac78a32239.png)

[2015-10-25 14:52] ericmj commented on #174
This has been discussed a few times before and the conclusion has been that full text search of the package description is good enough for finding packages for now. The problem with categories is that they need moderation and the hex developers and admins (me) need to focus on the core goals of Hex. Instead I would like to suggest working on an external site, which uses Hex's HTTP API, that can ha

[2015-10-25 16:44] victorlcampos commented on #174
![image](https://cloud.githubusercontent.com/assets/1539610/10716646/f0f410a4-7b26-11e5-8f77-5c2248ac3a79.png)

[2015-10-25 16:44] #174 closed

[2015-10-25 16:46] victorlcampos commented on #174
Where could I find hex http api?

[2015-10-25 20:33] jcspencer commented on #173
In order to set the URL permanently, we can run `$ rebar3 hex config cdn_url <url>`, but AFAIK, we can't do it temporarily. If this is correct, I can write up these docs.

[2015-10-25 20:34] tsloughter commented on #173
That is correct.

[2015-10-26 05:49] HashNuke opened #175 "Cannot find docs that were published"
[code]

Visiting http://hexdocs.pm/hound/0.7.4 redirects to http://hexdocs.pm/hound/0.7.4/README.html which says "page not found". The same error when visiting without version in the url http://hexdocs.pm/hound/

[2015-10-26 05:56] milmazz commented on #175
Review your ExDoc configuration, instead of `readme` please use the `extras` option.

[code]

[2015-10-26 06:07] HashNuke commented on #175
@milmazz Yes just noticed that it was using the older config updated it thanks.

[2015-10-26 06:07] #175 closed

[2015-10-26 07:50] HashNuke commented on #175
@milmazz I published a new version after updating the package info. Both http://hexdocs.pm/hound/0.7.5 and http://hexdocs.pm/hound still redirect to README.html.

The `main` is set to `extra-readme` - https://github.com/HashNuke/hound/blob/master/mix.exs#L14
and the file is available at http://hexdocs.pm/hound/0.7.5/extra-readme.html

[2015-10-26 09:16] HashNuke commented on #175
@milmazz it was the cloudflare caching I guess. Works now.

[2015-10-26 12:30] ericmj commented on #174
https://github.com/hexpm/hex_web/tree/master/specifications

On Sun, Oct 25, 2015 at 5:46 PM, Victor Campos <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2015-10-26 16:04] victorlcampos commented on #174
Thx

[2015-11-02 00:54] manveru commented on #168
Is it just me, or are all the links broken? I'm getting:

    <?xml version="1.0" encoding="UTF-8"?>
    <Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>16B948AADBFA7F98</RequestId><HostId>doGVZ0yqNVLaXICPI7Su1jYe9HHhNnvU/slLOTmuxXeaL7hbJGEkefhMPWwyO65wI8VUSkp/fa0=</HostId></Error>

[2015-11-02 11:05] josevalim commented on #168
You can't access them at the root, there is nothing to serve there.
@ericmj maybe we should include some URL for people to try? If so, which
one?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-02 11:10] manveru commented on #168
Well, I originally came here because the download link at
https://hex.pm/docs/usage is broken. Any alternatives for that?

On Mon, Nov 2, 2015 at 12:05 PM, José Valim <notifications@github.com>
wrote:

--
Michael Fellinger

[2015-11-02 13:17] josevalim commented on #168
@manveru that seems a broken link regardless of this issue. :) Can you please open up another report? Do you want to publish an Elixir project or an Erlang one?

[2015-11-02 16:29] dexsda commented on #164
Hello, I'm the intern mentioned by @ericmj. I had a lot of different things to work on/finalize before I could get into this project, but these should be out of the way for now.

@jcspencer , did you attempt starting your implementation already?

For future reference, you can contact me on karol.urbanski [at] erlang-solutions.com.

[2015-11-03 22:53] jcspencer commented on #164
I haven't currently started on an implementation, but I'm happy to assist now that you're available.

Do you have a rough idea of how you want to tackle to problem?

-- 
James Spencer

On 3 November 2015 at 3:30:05 am, Karol Urbański (notifications@github.com) wrote:

Hello, I'm the intern mentioned by @ericmj. I had a lot of different things to work on/finalize before I could get into this projec

[2015-11-04 02:32] ericmj commented on #168
We should remove that link because we no longer suggest installing mix separately now that rebar3 supports hex. Why are you looking for the mix download?

Also closing this issue now because mirrors are documented.

[2015-11-04 02:32] #168 closed

[2015-11-04 14:58] ericmj opened #176 "Include reason why auth failed on 401 responses"

[2015-11-05 14:18] dexsda commented on #164
In broad terms, I'd start by creating a skeleton project (as Eric wants); creating basic methods of finding if there's a new update (using the diffing snippets here); build something that can mirror the required packages when ran, starting with a simple mirror to the local machine; and expanding that to use more sophisticated methods like mirroring to FTP or S3 and on polling techniques.

The bigg

[2015-11-09 19:54] beatrichartz opened #179 "Docs for CSV 1.2.1 render a 404"
When I upload the docs for `CSV` version 1.2.1, I get:
[code]
However, http://hexdocs.pm/csv/1.2.1/ is rendering a 404 - is there something wrong with these docs? When I open them locally under `doc/index.html`, they work fine.

[2015-11-09 19:58] josevalim commented on #179
Can you try publishing them? Did you receive an email saying if they were
published with success or fail?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-09 20:00] josevalim commented on #179
Oops, Can you try *republishing* them? :)

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-11-09 21:16] beatrichartz commented on #179
Republished them again right now using `mix hex.docs` - [Here's a copy of the folder it uploaded](https://dl.dropboxusercontent.com/u/2323078/doc.zip).

I received an email when the docs for 1.2.1 were originally published on October 17, but did not visit the site then. I did not receive an email when I published an hour ago and now.

It seems to me like a broken version of the documentation is pr

[2015-11-09 23:34] beatrichartz commented on #179
The docs are showing now - closing this. Thanks!

[2015-11-09 23:34] #179 closed

[2015-11-10 17:30] liveforeverx opened #181 "Hex web shows wrong suggest version for *-rc versions"
Example: https://hex.pm/packages/conform

Latest version is: `1.0.0-rc2`, suggestion is: `{:conform, "~> 1.0"}`, after trying to use it, you get

[code]

[2015-11-13 19:15] ericmj commented on #164
Yes, that's the only way to fetch them.

Looking forward to it :)

[2015-11-13 19:16] ericmj commented on #164
What is the difference between a web service and a backend here?

[2015-11-17 04:07] #181 closed

[2015-11-17 11:11] #176 closed

[2015-11-17 11:12] ericmj commented on #173
Ping?

[2015-11-17 11:12] ericmj commented on #151
Is anyone working on this otherwise I might grab it?

[2015-11-17 15:04] tsloughter commented on #173
Pong. Will look soon.

[2015-11-17 16:41] tsloughter commented on #173
What is `mix hex.registry` in the example? That isn't in the mix tasks documentation.

[2015-11-17 16:48] tsloughter commented on #173
Ours is a little different and odd: https://github.com/hexpm/hex_web/pull/182

We allow overriding the cdn for fetching with `rebar_package_cdn` in the rebar3 configs. We only look at the hex config when using the rebar3 hex plugin for publishing or doing other hex api work.

[2015-11-17 16:56] ericmj commented on #173
`mix hex.registry` is wrong, it should be `mix deps.get` or something similar.

[2015-11-17 21:06] #173 closed

[2015-11-19 13:53] fteem commented on #169
I would like to tackle this, but I am not sure what exactly needs to be done? Where do we want the links to appear? Does it mean every package needs to have a link to the non-versioned hexdocs?

[2015-11-19 13:55] fteem commented on #151
I'd like to take a stab at this if free?

[2015-11-19 14:14] ericmj commented on #169
Every package should have a link to the non-version hexdocs (https://hexdocs.pm/a_package) somewhere on the package page. I don't know the best place for the link so it's open to decide for the contributor :).

[2015-11-19 14:15] ericmj commented on #151
I think it's free. If you already started working on this @milmazz please let us know so we don't duplicate efforts.

[2015-11-19 15:24] milmazz commented on #151
@ericmj No, I haven't work on this. So, @fteem please go ahead, if you need some help just let us know.

[2015-11-19 15:59] fteem commented on #151
@milmazz cool, I'll tackle this.

[2015-11-19 16:17] izimbra opened #184 "'rabbit_common' docset is missing"
http://hexdocs.pm/rabbit_common link is broken

[2015-11-19 16:18] izimbra opened #185 "'amqp_client' docset is missing"
http://hexdocs.pm/amqp_client link is broken

[2015-11-19 16:51] ericmj commented on #184
Have any docs been uploaded for that package? I can't seem to find any.

[2015-11-19 16:51] ericmj commented on #184
Also, where did you find the link?

[2015-11-19 16:52] ericmj commented on #185
Duplicate of #184.

[2015-11-19 16:52] #185 closed

[2015-11-19 17:26] izimbra commented on #184
I assumed - maybe incorrectly - that since the packages are on Hex, the docs are built automatically.
The link comes from Dash (https://kapeli.com/dash) which tries to download docsets using the recipe from Hexdocs frontpage:

[2015-11-19 17:27] ericmj commented on #184
Hex doesn't build docs automatically, package authors upload docs themselves by running `mix hex.docs` or something else for erlang packages.

[2015-11-19 17:41] izimbra commented on #184
Building and publishing them automatically after package upload would be a nice feature.

[2015-11-19 17:41] #184 closed

[2015-11-19 17:52] ericmj commented on #184
We are likely not going to add that because users can generate documentation however they want and I don't want to be running user code on the same server that handles packages. I created the documentation functionality because no service to host documentation existed at the time. Hex is package manager first and that's its main focus, it's not going to be a full featured documentation browser. If

[2015-11-19 18:02] izimbra commented on #184
Thanks for the detailed explanation!

[2015-11-22 03:53] pragmaticivan commented on #25
Is there plans for this Task? I started something, but I'm not sure how this project is managed.

![preview](https://cloud.githubusercontent.com/assets/301291/11321972/7e53328c-9089-11e5-9a98-2f80bfa6716b.png)

[2015-11-22 04:15] pragmaticivan commented on #25
Is there plans for this Task? I started something, but I'm not sure how this project is managed.

![preview](https://cloud.githubusercontent.com/assets/301291/11322042/a0981d6e-908c-11e5-9ca8-e41f58d4b6a9.png)

[2015-11-22 04:54] ericmj commented on #25
There are definitely still plans for this. This is something I don't have skills for myself so I left the issue open as a way for better designers (like you) to find it :).

I like what you have so far, it looks great. But I am not convinced about the purple background, especially since it won't fit with the new logo that we have not released yet. I can send you a draft of the logo privately if yo

[2015-11-22 04:59] pragmaticivan commented on #25
Cool, please send me this. I just created the colors based on Elixir. Because the current website doesn't have a lot of pallet context. But It's just a prototype. I can change anything.

[2015-11-22 08:41] pragmaticivan commented on #25
I'm not sure if I can post the draft of the logo here, but let me know and I can delete.

![previewhex](https://cloud.githubusercontent.com/assets/301291/11322805/d13109ac-90b1-11e5-8499-2705b7deb212.png)

[2015-11-22 08:59] josevalim commented on #25
Wow, this looks really nice! Two tiny suggestions:

For the main text, I would suggest the following:

[code]

Also, we don't typically show who published the package, so you should consider this information won't be shown or won't be available as well. :)

[2015-11-22 09:04] pragmaticivan commented on #25
So if we have this information about the package, should we show the info about who published the package?
<img width="281" alt="screen shot 2015-11-22 at 1 03 23 am" src="https://cloud.githubusercontent.com/assets/301291/11322888/f39a21ce-90b4-11e5-835e-f9312f4ed9cc.png">

[2015-11-22 09:07] pragmaticivan commented on #25
Fixed.

[2015-11-22 09:09] josevalim commented on #25
Yes, we should never show who published the package. :) We focus on the maintainers, the particular person who published is not that important. :)

[2015-11-22 09:10] pragmaticivan commented on #25
Cool, thanks.

[2015-11-22 09:13] pragmaticivan commented on #25
Updated with all the changes.
![previewhex](https://cloud.githubusercontent.com/assets/301291/11322931/29daae10-90b6-11e5-91a1-2f4637da9488.png)

[2015-11-22 10:48] victorlcampos commented on #25
+1

[2015-11-22 12:57] henrik commented on #25
@ericmj:

You can see some tagging in action at http://toolbox.elixir.pm (site is still rather rough), which basically mirrors the Hex.pm package list and adds tags/multiple categories on top. I'm not sure myself yet if it's a good way of organizing/discovering packages – it's an experiment (and an excuse to learn Phoenix).

If I find the time or inclination (or someone contributes it), I'm happy

[2015-11-22 13:58] ericmj commented on #25
I think it's an excellent idea to try out new features separately and then discuss if they should be added to Hex itself. Great initiative @henrik!

I also want to clarify that the discussion in the early posts is pretty old and and some of the ideas have already been implemented, abandoned or put on the back burner. I'm not dismissing any of the above ideas, some of them may be nice to have, but

[2015-11-22 15:14] henrik opened #187 "Add latest version number to API packages list?"
It would simplify things for http://toolbox.elixir.pm if this was included without having to look at each individual package.

Would you be open to a PR?

[2015-11-22 15:38] pragmaticivan opened #188 "Redesign website Template"
Suggestion for redesign of the layout of the website:

* [x] Layout base
* [x] Home
* [x] Packages List
* [x] Package Show

![hex2](https://cloud.githubusercontent.com/assets/301291/11324632/108356ca-90ec-11e5-9bc0-599f5b997bb6.png)

[2015-11-22 16:48] pragmaticivan commented on #188
Packages Page.
![packageshex](https://cloud.githubusercontent.com/assets/301291/11324970/b69874ce-90f5-11e5-9d00-ee2da849b5d0.png)

[2015-11-22 18:14] pragmaticivan commented on #188
Second Version for Packages.
![packagehex2](https://cloud.githubusercontent.com/assets/301291/11325412/db497a64-9101-11e5-8d46-5707fd5374cf.png)

[2015-11-22 19:25] ericmj commented on #187
Don't you need the individual packages for anything else? I am hesitant because we need to fetch all releases for a package to figure out the latest version. We might optimize by caching the latest version on the package table or implementing the version compare as a function in postgres.

[2015-11-22 19:35] ericmj commented on #25
Closed in favor of #188.

[2015-11-22 19:35] #25 closed

[2015-11-22 20:17] henrik commented on #187
Hm, comparing the API responses, the "releases" list seems to be the only thing missing from the list as compared to the individual package info. And I don't expect to need any details of the releases, beyond the current version number.

Would we have to implement version compare? Maybe we could just look at the associated release with the highest id? Maybe that could be a fast-enough query, not s

[2015-11-23 05:45] pragmaticivan commented on #188
Package View:

![hexpackageshow](https://cloud.githubusercontent.com/assets/301291/11330585/46edfdc0-9162-11e5-8ffc-0edcd87a0b06.jpg)

[2015-11-23 05:45] pragmaticivan commented on #188
Package View:
![hexpackageshow](https://cloud.githubusercontent.com/assets/301291/11330591/5f80e082-9162-11e5-8980-caee620666f7.jpg)

[2015-11-23 05:48] pragmaticivan commented on #188
cc @ericmj @josevalim

Let me know if you guys have any suggestions, changes or new pages.

[2015-11-23 08:53] josevalim commented on #188
Thanks Ivan! Quick feedback: we won't incorporate the Readme and it is
unlikely that we will have avatars for maintainers in the package page, so
you should consider how this would affect the design. :)

Great work! we should wait for @ericmj feedback too. He is the one deciding
everything.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-11-23 15:55] pragmaticivan commented on #188
Cool, I have some questions, I'm very new with Elixir, so I don't know all the specs related to the environment. Will the repo always be Github for packages? I was thinking about using The Gravatar image for that. And the info would come from Github. But Ok, let's wait @ericmj .

[2015-11-23 16:20] ericmj commented on #188
Looks great Ivan. We might include the readme, but not right not at least because it would also require changes to the publication process and need to be stored in the database. We can't assume that the repo will always be from Github unfortunately, so I think we should just skip the Github customization.

The packages page is a little colorless, what do you think of making the package links red l

[2015-11-23 16:42] pragmaticivan commented on #188
Even if not from Github, will aways be using git? Because I think we still can calculate the contributors and have the emails from the commits.

By the way any "new feature" can stay on the template, but I'll implement another example not showing the feature. So  in the future if you guys decide that we're going to implement this we will have the design for that.

[2015-11-23 16:46] ferd commented on #188
I sometimes use mercurial and would sure like it if I could publish packages without switching away. It might give me a chance to stop being forced to use git for everything in the world because the moment I don't, I have to get into huge arguments about "ease of contribution" with people who don't plan to contribute anything anyway!

[2015-11-23 16:53] josevalim commented on #188
We do have their emails, so that's enough for gravatar, but I am still not
a fan of the feature. :)

Also, we shouldn't have anything related to Github or git. How a package is
published should not depend on how it is developed. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-11-23 17:51] ntrepid8 opened #190 "robots.txt and sitemap.xml"
Is  Google crawling hexdocs.pm?  I am getting 404s for both of these:

- <http://hexdocs.pm/sitemap.xml>
[code]
- <http://hexdocs.pm/robots.txt>
[code]

Should these be produced to make it easier for search engines to index hexdocs.pm?  This may not be an issue, but sometimes it seems like Google is not able to find docs even with a very specific search.  For example Google has trouble with findin

[2015-11-23 17:55] pragmaticivan commented on #188
There's also something missing. Should we have a link to hexdocs  in case the package has documentation?

[2015-11-23 18:00] ericmj commented on #190
We don't have a sitemap or robots file for either hexdocs or hex. If you would like to contribute that would be greatly appreciated.

Google is indexing both hex and hexdocs though: https://www.google.se/#q=hexdocs+amqp

[2015-11-23 18:01] ntrepid8 commented on #190
Ok, I'll take a crack at it :)

[2015-11-23 18:10] ericmj commented on #188
@pragmaticivan Yes, a general link and a link for each package version.

[2015-11-23 18:12] milmazz commented on #190
@ntrepid8 You can also try with: `site:hexdocs.pm amqp`

![capture](https://cloud.githubusercontent.com/assets/34700/11345281/7f65a3be-91db-11e5-89d1-4ed2c4b48910.PNG)

[2015-11-23 18:52] ntrepid8 commented on #190
@milmazz yep that does work but it's not really the first thing that most people try.  I'm thinking it will make it easier for others to get into Elixir if they can just Google for the search results.

[2015-11-23 19:20] pragmaticivan commented on #188
Package List Update:
![hexpackagelist](https://cloud.githubusercontent.com/assets/301291/11346960/3460305c-91d4-11e5-94df-e347ab15d237.jpg)

[2015-11-23 19:45] pragmaticivan commented on #188
Updated Package View with some modifications.
![packageview2](https://cloud.githubusercontent.com/assets/301291/11347714/9a49b8cc-91d7-11e5-8ed4-4f03921a4dac.jpg)

[2015-11-23 20:28] Nicd opened #191 "Add privacy policy"
The EU [Data Protection Directive](https://en.wikipedia.org/wiki/Data_Protection_Directive) states that personal data of users may only be used

Additionally:

Personal data is defined as

In short, if the person can be identified from the data directly or indirectly, it is considered personal data. As such, email addresses would fall under personal data for many people. To be on the safe side, I

[2015-11-23 23:00] ericmj commented on #191
This some information I think can be useful in a privacy policy:

* The personal data we store in the database is username and email
* Requests to the API server and CDN are logged which includes IP address and user agent
* Both hex.pm and hexdocs.pm runs Google Analytics
* hex.pm, hexdocs.pm and the CDN is hosted in the USA, the CDN also has mirrors in Ireland and Singapore, the CDN is also publi

[2015-11-24 19:48] ericmj commented on #188
Looks great. Don't forget to change collaborators to "Maintainers" and a list of names instead of pictures.

[2015-11-24 21:59] pragmaticivan commented on #188
What about this one?
![packageview2](https://cloud.githubusercontent.com/assets/301291/11381862/7ef265c4-92b3-11e5-97c8-331a504f192b.jpg)

[2015-11-24 22:03] ericmj commented on #188
Beautiful!

[2015-11-24 22:08] pragmaticivan commented on #188
So, full approved?

[2015-11-24 22:12] pragmaticivan commented on #188
I think we can reuse the documentation pages and just change the title styles using the same as in package view.

[2015-11-24 22:13] ericmj commented on #188
Yes, go ahead. We should also remove the Github issues and pull requests from the package page.

[2015-11-24 23:14] josevalim commented on #188
I think the package page could be improved in the sense we have too much information packed (ha) on the right. The version currently online seems to spread the information better. I also don't like that the links come at the bottom. What if we kept only the Config and Stats on the right side? Or maybe only the config... if we can find a nice way to show the stats as you did for the home page.

Tha

[2015-11-25 00:07] pragmaticivan commented on #188
Cool, I'm going to do some UX Homework and try to come with something that solves this issue.

I also started some design for the menu as well

<img width="437" alt="screen shot 2015-11-24 at 4 04 52 pm" src="https://cloud.githubusercontent.com/assets/301291/11384518/4bf0a282-92c5-11e5-8a36-042b3b7dcd7b.png">

Do you think this menu fits good the template?

[2015-11-25 03:35] ericmj commented on #187
I don't want to do the extra association call, it's expensive just to get the latest version. If you want the latest version you need to fetch the individual packages and get the latest version from that.

[2015-11-25 08:17] henrik commented on #187
Yeah, makes sense. Do you think caching the value is something worth considering, or would you rather skip that? I would totally understand – just wanted to check what might be done on the Hex.pm side before I start on this.

[2015-11-25 08:48] josevalim commented on #188
It looks nice @pragmaticivan!

I have one question though: on the home and search page, you used purple for heading and red for links. Should we follow the same conventions on the package page and menu? I am just wondering, I don't have any design expertise. :D

[2015-11-25 08:51] pragmaticivan commented on #188
Actually I don't have design expertise, I usually don't do design for anything, so It's just a "hobby" haha. I need to work a little bit more on those kind of things.  I think in my mind at this time I was just following the colors of the new logo. Probably you have access to this new logo design.

[2015-11-25 09:13] josevalim commented on #188
@pragmaticivan yes, I do have access to the new logo. :) I think we should stick to a set of colors, the new logo has 6 and it may be weird to use a different combination on every page.

[2015-11-25 17:07] henrik commented on #187
Just noticed that https://hex.pm/packages shows latest version, so maybe a cached number could come in handy there.

[2015-11-25 19:32] ericmj commented on #187
https://hex.pm/packages is hit a lot less often than the API. I think caching would mostly complicate things at this point.

[2015-11-25 21:24] henrik commented on #187
Alright, no worries! Thanks for entertaining the discussion all the same :) I'll close the ticket.

[2015-11-25 21:24] #187 closed

[2015-11-26 06:18] pragmaticivan commented on #188
Is there a way to have more than one License in a package? I didn't find a case like that browsing on the project.

Should I use:
`MIT license` or as on the current website: 'Licenses: MIT` ?

[2015-11-26 06:34] ericmj commented on #188
Yes, a project can have multiple licenses. We should use the string that is in the package metadata, for MIT I think the string usually is just "MIT".

[2015-11-26 06:37] pragmaticivan commented on #188
![package_show](https://cloud.githubusercontent.com/assets/301291/11416699/227c3d5c-93c5-11e5-93b6-945cccd7cc89.jpg)
Package Show Page.

[2015-11-26 06:39] ericmj commented on #188
I think that looks great but build tools can be moved to the sidebar because it is less important than everything else. WDYT @josevalim?

[2015-11-26 06:44] pragmaticivan commented on #188
<img width="655" alt="screen shot 2015-11-25 at 10 44 00 pm" src="https://cloud.githubusercontent.com/assets/301291/11416816/113f94ca-93c6-11e5-9425-54a32fea97f6.png">

Here's the final menu concept.

[2015-11-26 06:50] pragmaticivan commented on #188
![package_show2](https://cloud.githubusercontent.com/assets/301291/11416902/cea6dc12-93c6-11e5-8555-471cf1f815ea.jpg)
Package Page with Build tools in the sidebar.

[2015-11-26 09:57] josevalim commented on #188
It looks great! @pragmaticivan!

Does it make sense to move the stats to the left side and use icons similar to the one on the home page?

Also, the right column is too high up, I think it should start after the Title+Description, similar to today.

Finally, there are still some inconsistencies between the package and the home page. I am not sure if we want to unify them further. I would try somet

[2015-11-26 10:01] josevalim commented on #188
Ah, I would also keep the package title red... because they are red on all other pages. :)

[2015-11-26 18:12] pragmaticivan commented on #188
Cool.
- On the current site, the package title are blue but this one Should not be Red. It's not a Link.
- The headings are black because they're not Main headings on this page, I tested using purple but didn't look very good (I can show the tests).
- I think moving the States to the left would be good, I was trying to experiment some new approaches with graphs but didn't look very good. I'm going

[2015-11-26 18:35] josevalim commented on #188
Agreed on all points! Thanks for the clarifications.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-11-26 21:13] pragmaticivan commented on #188
![package_show3](https://cloud.githubusercontent.com/assets/301291/11430698/58087cd6-943f-11e5-8e33-2e191b1ffc16.jpg)

I'm not sure if this the Versions and Dependencies looks good, because there'is not a lot of information. But here's another layout for that.

[2015-11-26 21:14] pragmaticivan commented on #188
Need to improve the size of the fonts but we can imagine how would be the page.

[2015-11-26 22:28] josevalim commented on #188
Thank you! This looks much nicer!

A couple other suggestions we could try:

* the stats icons look oddly centralized. can we make the stats icons take
only the left column instead of both left and right columns? If that
doesn't work, can we simply remove the line above the icons and rely on
more whitespace to improve the content distribution?

* the purple headings on the right column still look

[2015-11-26 23:25] pragmaticivan commented on #188
![package_show4](https://cloud.githubusercontent.com/assets/301291/11431678/df84f452-9451-11e5-9b2d-d30d0ef959fb.jpg)

I tried the style of Most Downloaded but didn't look very good.

[2015-11-26 23:25] pragmaticivan commented on #188
What about this version?

[2015-11-27 09:24] josevalim commented on #188
I like it! And what do *you* think? :D

Three final questions:

1. can we still increase a bit the vertical spacing (margin-top/bottom) in the stat items?
2. Should MIT License be in red? Afaik, it is not a link, just some random text
3. Should All Versions be a button? I have been told buttons should be used when causing an action from the server (like posting a form, deleting an item) and "All v

[2015-11-27 09:28] pragmaticivan commented on #188
Yes, the spacing is something that I need to clean a little bit more. This kind of design spacing is something that I always change when I start coding the client-side of the project.

I'm not sure if it should be a Link, Just added there in case. But we have styles on PSD for non-link. Should be easy to change in this case.

Personally I don't like this approach of button as well. Even load more

[2015-11-27 09:31] josevalim commented on #188
Ah, I see. It is a button because it loads things in place. That sounds good to me then but I agree in the long term we can create a separate page!

[2015-11-27 09:37] pragmaticivan commented on #188
![package_show5](https://cloud.githubusercontent.com/assets/301291/11438094/4e4182d4-94a7-11e5-87bb-c6f17d76413d.jpg)

The padding/marging space may change when start coding the front-end but that's the final result of the design.

[2015-11-27 09:38] josevalim commented on #188
Beautiful, thank you!

[2015-11-27 09:50] pragmaticivan commented on #188
So, should we close this task? or Still waiting for @ericmj ? I'm sending the PSD by email just in case.

[2015-11-27 10:22] josevalim commented on #188
I got it, thanks! We should wait for @ericmj to close this. :)

[2015-11-27 18:55] ericmj commented on #188
Closing this. If issues and/or questions come up during the psd => html conversion please open up a separate issue where we can track those. Thank you!

[2015-11-27 18:55] #188 closed

[2015-11-27 20:12] pragmaticivan opened #192 "Problem with Sample Data"
I'm having some trouble using sample data with Ecto:

<img width="953" alt="screen shot 2015-11-27 at 12 10 53 pm" src="https://cloud.githubusercontent.com/assets/301291/11447727/0e7e81de-9500-11e5-9d46-352272741ad0.png">

Looks like the validation system is not working very well.

[2015-11-27 20:15] ericmj commented on #192
I think the validation is correct, I am just really bad at updating the sample data when I do incompatible changes because I use it infrequently myself. We should try to add the sample data to the tests.

[2015-11-27 20:19] pragmaticivan commented on #192
I think it's an obstacle for new contributors. And Maybe is something that we should give more attention.  I'm new with Elixir and Ecto, I'm gonna try to fix that.

[2015-11-27 20:30] pragmaticivan commented on #192
By the way, is there any parallel project for migrate this project to Phoenix?

[2015-11-27 20:45] ericmj commented on #192
Definitely and if we make it a part of test suite this issue will not come up again.

We are going to convert to phoenix but first we need to change how we test the hex client. To test the client we make hex_web a dependency and test by calling it directly inside the same VM. Hex needs to support all elixir versions since 1.0.0 and phoenix doesn't support that, so first we need to move hex_web to

[2015-11-29 23:54] pragmaticivan opened #193 "Front-end Development for Template Redesign"
I'm converting the PSD to front-end now. I choose to do that in parallels with Gulp because of speed, once the project doesn't have livereload or automatic template compile.

Any concern?

[2015-11-30 00:00] pragmaticivan commented on #193
Another Question: How bad/hard would be to have the front-end part of the project outside and start using it as an API consumer?

[2015-11-30 05:34] pragmaticivan commented on #193
You guys can track the process here: http://pragmaticivan.github.io/hex-web-template/

[2015-11-30 16:37] ericmj commented on #193
You can use whatever you want to develop, but I don't want to merge a dependency on gulp.

Not sure if it is worth the extra complexity. What would the benefits be?

[2015-11-30 16:40] pragmaticivan commented on #193
| You can use whatever you want to develop, but I don't want to merge a dependency on gulp.

The idea is just develop this fast and move the front-end using copy/past if that's the case. The velocity of development using something like gulp is way bigger.

| Not sure if it is worth the extra complexity. What would the benefits be?

No big deal, but if the front-end is out would be easier to test a

[2015-12-01 10:26] seantanly opened #194 "Missing readme.html on versioned docs url"
Just did a `mix hex.docs` to update existing docs with the latest ex_docs (0.11.1), and I'm getting a missing `readme.html`.

This doesn't load,
http://hexdocs.pm/paratize/2.1.1/readme.html

This does, though they should be the same? 2.1.1 is the latest version.
http://hexdocs.pm/paratize/readme.html

I didn't have this problem with another hex package docs which I updated the same way. Is this a

[2015-12-01 11:29] josevalim commented on #194
The README loads here so it is a cache problem. Give it 24h and if it doesn't work out please reopen. :)

[2015-12-01 11:29] #194 closed

[2015-12-01 11:38] seantanly commented on #194
Thanks, will do.

VPNed to a different geo location and it loads there. Indeed, it's probably
the CDN cache. :)

On Tue, Dec 1, 2015 at 7:29 PM José Valim <notifications@github.com> wrote:

[2015-12-01 16:01] ericmj opened #195 "Purge hexdocs.pm pages from CDN on new publish"
Currently hexdocs.pm is an S3 bucket with CloudFlare in front. When new documentation is pushed the old version can be cached on CloudFlare and it's confusing to users that the hexdocs doesn't immediately update. We can make an API request to CloudFlare to manually purge the required pages from the cached.

We may change to Fastly as CDN soon so we should hold on with this until we know. Fastly al

[2015-12-01 16:02] ericmj commented on #194
Opened an issue for a way to better handle this: https://github.com/hexpm/hex_web/issues/195

[2015-12-01 23:11] ericmj opened #196 "Only allow key authentication on requests that doesn't require password authentication"

[2015-12-01 23:12] ericmj commented on #196
Today all authenticated requests allow you to use both key and username/password authentication except for the request that creates new keys. All requests except `POST "keys"` should only allow key authentication.

[2015-12-06 04:01] jcspencer commented on #190
I think we also need to add a meta description tag to both package pages, as well as the main page. It will make search results much clearer.

-- 
James Spencer
Sent with Airmail

On 24 November 2015 at 5:13:08 am, Milton Mazzarri (notifications@github.com) wrote:

@ntrepid8 You can also try with: site:hexdocs.pm amqp

—
Reply to this email directly or view it on GitHub.

[2015-12-06 04:16] jcspencer commented on #195
Will occur after the package has sucessfully published, or before the new files are pushed up?

Also, do these APIs allow the specific files to be flushed, or does the entire cache need to be purged?

-- 
James Spencer
Sent with Airmail

On 2 December 2015 at 3:01:40 am, Eric Meadows-Jönsson (notifications@github.com) wrote:

Currently hexdocs.pm is an S3 bucket with CloudFlare in front. When new

[2015-12-06 07:27] ericmj commented on #195
It needs to happen after or there will be a race condition.

Purging the whole cache is not an option because it will make the cache useless.

[2015-12-06 10:44] jcspencer commented on #196
This is a fairly easy fix, but it may break a lot of third-party clients that use the Hex API. If it were to be introduced, we need to make sure there is a change window, along with good documentation on using key authentication.

[2015-12-06 10:49] jcspencer commented on #138
Could this be solved by using the `accept-charset="UTF-8"` tag on the search form?

[2015-12-06 10:51] jcspencer commented on #146
#159 is ready to go, which will add this functionality. Once that's complete, I will open a pull request for client side support.

[2015-12-06 11:45] ericmj commented on #196
I think it should be fine. The only clients that need authentication is
those that publish packages. That should only be the mix and rebar3 client
and they already do it correctly. It is also documented as only key
authentication supported.

On Sunday, 6 December 2015, James Spencer <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2015-12-06 11:46] ericmj commented on #138
I am working on converting to Phoenix now and should be fixed by then.

On Sunday, 6 December 2015, James Spencer <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2015-12-07 11:57] jcspencer commented on #195
I'm working on an application at the moment that will be interacting with Fastly. After the new year (early January), I'm planning to build an elixir library to do so, so I will be able to build this functionality then, if it suits

On 6 December 2015 6:27:30 PM LHDT, "Eric Meadows-Jönsson" <notifications@github.com> wrote:

--
James Spencer

[2015-12-09 23:01] ericmj opened #197 "Remove window for reverting and repushing packages"
This will make the registry fully immutable. If a released package version is broken a new version should be pushed. We could addsome sort of "shadow delete" of versions, it would still keep the tarball and the entry in the registry so that builds don't break and some message could be printed to users that are using it. But it would be hidden on the homepage and it cant be resolved unless it's alr

[2015-12-15 10:30] jcspencer commented on #195
Note to self: we can set the x-amz-meta-surrogate-key header on s3 files when uploaded, that way we can tag all files associated with a documentation bundle with a key such as 'ecto/1.2.3'.

That way, we don't need to call a purge for each file, but rather just one call that covers every file in a documentation bundle.

On 6 December 2015 2:27:30 PM GMT+07:00, "Eric Meadows-Jönsson" <notifications

[2015-12-27 14:14] pragmaticivan commented on #193
[WIP] Just for continuous feedback Here are some of the pages I'm working on:

- Home: http://pragmaticivan.github.io/hex-web-template/
- Package List: http://pragmaticivan.github.io/hex-web-template/packages.html
- Package View: http://pragmaticivan.github.io/hex-web-template/package-view.html

[2015-12-27 14:57] pragmaticivan commented on #193
* About Page: http://pragmaticivan.github.io/hex-web-template/about.html

[2015-12-28 09:52] josevalim commented on #193
That looks fantastic @pragmaticivan! My only concern so far is that the homepage fonts look really big. Running at 90% size definitely looks better here. The "Getting Started" section still looks big though and it could use a bit more of spacing. :)

Finally, what if the line that divides the headers and packages at the bottom is made of light grey?

[2015-12-28 11:24] pragmaticivan commented on #193
Cool, I also have some concerns at Home Page, bottom line of MOST DOWNLOADED,  NEW PACKAGES and RECENTLY UPDATED is making my life hard for responsive layout. just because It's 100% wide. I'm thinking about to reduce the line or remove this.

The template is almost 100% responsive. The front-end is not ready, It's just a work in progress. I need to improve a lot of things, and I agre that I defini

[2016-01-04 20:36] ericmj opened #202 "Add audit log"
We need to add an audit log that tracks actions users perform on packages, users and package ownership.

Actions that need to be logged:

 * Release published/reverted
 * Documentation published/reverted
 * Package owner added/removed
 * API key generated/deleted
 * Password reset

Additionally we should consider not fully deleting packages, releases and docs - instead they can be flagged as delet

[2016-01-04 20:58] ericmj opened #203 "Should not be possible to remove last owner of package"

[2016-01-05 13:41] jcspencer commented on #202
Should this log be streamed to STDOUT, or should it be saved into a database or another separate logging service?

On 5 January 2016 7:36:42 AM AEDT, "Eric Meadows-Jönsson" <notifications@github.com> wrote:

--
James Spencer

[2016-01-05 14:15] ericmj commented on #202
It should be saved to the database.

On Tuesday, 5 January 2016, James Spencer <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-01-09 12:34] fteem commented on #169
This can be closed, got resolved in #186

[2016-01-09 12:35] fteem commented on #203
May I? :)

[2016-01-09 13:21] #169 closed

[2016-01-09 19:36] gmr opened #204 "Allow for specification of language for a package"
I think it'd improve usability if to have packages specify their primary language. If that data is stored, then the UI could then specify if it's an Erlang or elixir package and allow for filtering based upon such things. It would also allow for LFE and other beam languages to use hex without any confusion. For example, if I wanted to go pure Erlang for a particular type of package I am looking fo

[2016-01-10 12:52] ericmj commented on #203
Go ahead

[2016-01-10 12:55] ericmj commented on #204
We already have the build tool metadata which achieves this in a better way I think. Which language being used is not really that interesting, what's more interesting is if you can actually build and use the package. The build tool used is also a very strong hint on which language is used.

[2016-01-11 18:22] ericmj opened #205 "Find better way to validate metadata"
Currently the server side validation of metadata is basically non-existent so it almost always results in 500 errors or invalid data beings stored. We just need some rudimentary type validation on all metadata fields.

[2016-01-15 20:15] msoedov commented on #203
@ferd Sorry it has been 6 days since your last post so I decided to make pr since there is no updates from your side.

[2016-01-15 20:21] fteem commented on #203
@msoedov I guess you were referring to me. No problem, but next time, please ask before starting to work on it to avoid double effort.

[2016-01-15 20:24] msoedov commented on #203
@fteem My bad, thanks :)

[2016-01-16 17:29] gleber opened #208 "metadata.config is not in sync with rebar.config"
For example:
https://hex.pm/packages/jc

This page lists no deps, and it is reflected in it's metadata.config: http://ix.io/ntj
rebar.config looks like this: http://ix.io/ntk

What might have happened here? Does hex do metadata validation with the content of build configuration?

Triggering issue: https://github.com/erlang-nix/hex2nix/issues/4

[2016-01-16 17:32] gleber commented on #208
@ericbmerritt FYI

[2016-01-16 19:04] ericbmerritt commented on #208
This should probably be in hex rather than hex_web. I think hex_web really can't do validation considering it has no insight on the build system.

[2016-01-16 19:10] tsloughter commented on #208
@gleber this can't be done by hex_web, it would restrict what tools are allowed to publish packages.

The issue here is the person publishing `jc` didn't have a `rebar.lock` so it didn't know it had deps to include in the package, and the user didn't check the output `rebar3_hex` gives where it lists what deps it discovered are to be included as being wrongly empty.

As a fix for this I've publish

[2016-01-16 19:21] gleber commented on #208
I see. Thanks for exaplanation. I do not yet know the architecture of ecosystem well enough. So it seems like we can close this issue.

[2016-01-16 23:17] #208 closed

[2016-01-16 23:20] ericmj opened #209 "Fix invalid attributes in package metadata"
[ ] Some packages have been published with the `files` field as a list of tuples instead of a list of binaries. Fix with `Enum.map(files, fn {file, _} -> file end)`.
[ ] Add `/utf8` to utf8 strings.
[ ] Convert maps to tuple lists.
[ ] `{optional, nil}` => `{optional, false}`
[ ] Fix bad `requirements` from rebar3 and erlang.mk.

Recreate checksums in tarball and database after changing metadata.

[2016-01-21 02:19] ericmj opened #210 "Order dependencies by name on package page"

[2016-01-23 16:32] #210 closed

[2016-01-27 17:50] ericmj opened #213 "Send mail to all owners when an owner is added or removed"
/cc @fishcakez

[2016-01-28 13:51] ericmj opened #214 "No version set for erlang.mk config"
The `@erlang_mk_snippet` variable here is never set https://github.com/hexpm/hex_web/commit/67fc985ec7e1f5096f849199341e5232e052d979#diff-1be7478849c2bf867887bec60dec003eR159.

/cc @elbrujohalcon

[2016-01-28 17:09] tsloughter opened #217 "Only display supported build tools in Config sidebar"
It would be best if `rebar3` was not part of the Config sidebar version list when it is not a package with build tools that include rebar, rebar3 or make. rebar3 will currently filter out any other packages from the registry, which means a user who thinks from the website that they can use a package will find when trying to do so rebar3 complains it does not exist.

[2016-01-28 17:45] #214 closed

[2016-01-29 00:52] ericmj commented on #217
So just to confirm; the rebar config should only be shown if the build tool is either rebar, rebar3 or make?

[2016-01-29 00:57] tsloughter commented on #217
Correct.

[2016-01-29 00:58] ericmj commented on #217
I would guess we should do the same for erlang.mk? /cc @elbrujohalcon

[2016-01-29 01:54] elbrujohalcon commented on #217
@ericmj no, because erlang.mk can totally build rebar deps, no problemo.

[2016-01-29 01:58] elbrujohalcon opened #218 "Improve config for erlang.mk"
Once ninenines/erlang.mk#497 is implemented, packages with names that differ from the app (e.g. https://hex.pm/packages/barrel_jiffy) will be allowed in erlang.mk with the format:

[code]

[2016-01-29 03:01] tsloughter commented on #217
@elbrujohalcon erlang.mk supports mix?

[2016-01-29 03:03] elbrujohalcon commented on #217
@tsloughter good point. Unless @essen says otherwise, I would assume erlang.mk only knows how to build erlang.mk, make or rebar based projects.

[2016-01-29 05:11] essen commented on #217
Erlang.mk supports anything with a Makefile, and rebar based project, by default. Plugins add support for LFE, Efene and Elixir projects, including Mix based. So if it's on Hex there's very little chance it won't build with Erlang.mk.

[2016-01-30 01:53] ericmj commented on #193
@pragmaticivan master uses phoenix now so your workflow should be better now with the automatic reloads and recompiles. I hope this wont cause you too many conflicts, the templates were essentially unchanged, they just moved to a new location.

[2016-01-30 04:18] ericmj opened #220 "Remove redirect docs GET request"
The endpoint "/api/packages/PACKAGE/releases/VERSION/docs" should be removed, it just redirects and the URL is available at "/api/packages/PACKAGE/releases/VERSION" anyway.

Also remember to remove from specification.

[2016-01-30 14:40] pragmaticivan commented on #193
Thanks @ericmj I'm working on moving my front-end project inside a branch here.

[2016-01-30 16:59] pragmaticivan commented on #193
@ericmj I'm not sure if you had this issue before. I want to use SASS in this project, I added `"sass-brunch": "^1.9.1",`. Seems to compile well. But I'm having trouble trying to add the file in the template. Sorry, I'm newbie with that, do you you have any example, there's not a lot of info about that. Just trivial articles about how to install, but never about how to call inside the template.

[2016-01-30 22:21] pragmaticivan opened #222 "Fix sample data seed script"
The current seed script is not working.
File: `scripts/sample_data.exs`

[2016-01-31 00:35] pragmaticivan opened #223 "404 Template page (bug)"
When you try to access the 404 behavior: `https://hex.pm/packages/xxxxxxx` the layout is being loaded twice.

[2016-01-31 00:36] pragmaticivan commented on #223
I'm going to solve this in the new front-end PR.

[2016-01-31 23:26] mkaszubowski commented on #220
Hi, I'd like to work on this issue, just making sure: should I remove the entire endpoint or just the GET request?

[2016-02-01 09:18] ericmj commented on #220
Just the redirecting GET request.

[2016-02-01 12:11] ericmj commented on #138
Master is using phoenix now so this is up for grabs.

[2016-02-01 12:26] #220 closed

[2016-02-02 13:14] mkaszubowski commented on #222
@pragmaticivan Can you give more details? What kind of error is this? I tried running it on the most recent version and it works fine.

[2016-02-02 22:40] pragmaticivan commented on #222
@mkaszubowski looks like it is fixed.

[2016-02-02 22:40] pragmaticivan commented on #222
We can close this one.

[2016-02-02 22:46] pragmaticivan commented on #223
I'm solving this one on #225

[2016-02-02 22:58] #222 closed

[2016-02-03 08:31] pragmaticivan opened #227 "copy_snippet function is not implemented"
![imagem](https://cldup.com/HP4h2Y8Fg0-3000x3000.png)

It's not implemented on this script, probably after phoenix migration.

Solving this problem with the new template as well.

[2016-02-03 08:44] pragmaticivan opened #228 "Code highlight system is not working"
The function is not being called anywhere.

Fixing on new Front-end code.

[2016-02-03 08:55] pragmaticivan opened #229 "Hex Status Twitter Account"
What about creating a twitter account like https://twitter.com/rubygems_status ?

We can add a link in the new Front-end design.

[2016-02-03 09:04] pragmaticivan opened #230 "Update seed and add dependency packages."
I think would be good to have a consistent sample data which has all the data we need to simulate any case. For example, I can't find any package with dependencies. Would be good if all those packages have one dependency at least.

[2016-02-03 12:34] ericmj commented on #229
I think first we need an off-site status page and a way to actually automatically check the status of services.

[2016-02-05 00:35] jcspencer commented on #229
This could be achieved with something like [statuspage.io](https://www.statuspage.io/) (unfortunately incredibly pricey at  $29/m, but alternatives exist), or simply running something like [Cachet](https://github.com/CachetHQ/Cachet) in another Heroku region or another region completely to ensure that even if Heroku itself goes down the status page will still be live

[2016-02-05 01:22] jcspencer commented on #195
Here is a (very) rough prototype: https://gist.github.com/jcspencer/58338239c99cb867ae3e

This only implements basically purge_all (service specific) and purge_key (service/surrogate key specific) functions, which I assume should be enough for Hex

[2016-02-05 01:27] ericmj commented on #229
Closing this for because it's low priority. If someone wants to work on it they are free to do so of course.

[2016-02-05 01:27] #229 closed

[2016-02-05 15:13] ericmj commented on #227
Actually all javascript seem to be broken, will need to fix this in master.

[2016-02-05 15:13] ericmj commented on #228
Duplicate of #227.

[2016-02-05 15:13] #228 closed

[2016-02-05 15:14] ericmj commented on #230
The sample data script wasn't adding dependencies, it has been fixed now.

[2016-02-05 15:14] #230 closed

[2016-02-05 15:31] ericmj commented on #223
Seems to be a phoenix issue https://github.com/phoenixframework/phoenix/issues/1504#issuecomment-180402720

[2016-02-05 15:31] #223 closed

[2016-02-07 10:17] Kapeli opened #232 "Docs archives no longer work"
[Dash](https://kapeli.com/dash)'s integration with Hex relies on downloading the docs for packages. I used to be able to download the docs from URLs like https://hex.pm/api/packages/plug/releases/0.14.0/docs, but that doesn't work anymore.

Any idea what's going on? Did Hex stop supporting these archives?

[2016-02-07 11:13] Kapeli commented on #232
As far as I can tell the archives are now located at URLs like https://s3.amazonaws.com/s3.hex.pm/docs/plug-0.14.0.tar.gz. Could redirects be added to support the old URLs too?

[2016-02-07 16:25] ericmj commented on #232
You should use the new url instead or get the url from the HTTP API.

[2016-02-07 16:26] ericmj commented on #204
Ping?

[2016-02-07 16:26] #204 closed

[2016-02-07 16:27] Kapeli commented on #232
How do I get the URL using the HTTP API?

[2016-02-07 16:29] ericmj commented on #232
The `docs_url` field at this endpoint: https://hex.pm/api/packages/plug/releases/0.14.0. Any reason you can't use the direct url? It should be more reliable.

[2016-02-07 16:31] Kapeli commented on #232
I can use the direct url, but I was thinking maybe it would be best to use the API in case the URL will change again the future?

[2016-02-07 16:32] ericmj commented on #232
The url has always been the same, the redirect was only removed.

[2016-02-07 16:33] Kapeli commented on #232
Ah. I see. Any chance the redirect could be readded? :)

I can fix things from Dash's end, but it will take 7 days or so until Apple approves the update.

[2016-02-07 16:47] ericmj commented on #232
I can temporarily add it back, but it would be great if you can fix it on your end also.

[2016-02-07 16:48] Kapeli commented on #232
Great. Would it be ok if I'd fix it in the next release cycle which would be in 2-3 months? If not, I can cancel the current pending release and fix it in ~1 week.

[2016-02-07 20:05] ericmj commented on #232
Deployed with the redirect added back. You can follow your planned release cycle, but please ping here when we can remove the redirect.

Just to satisfy my curiosity, is it a mac store app?

[2016-02-07 20:05] #232 closed

[2016-02-07 20:08] Kapeli commented on #232
Thank you! I'll make sure to open an issue when it's safe to remove the redirect.

Yep. It's also available outside of the App Store though.

[2016-02-08 08:58] pfitz commented on #232
Thanks for working this problem so quickly out! Downloading docs with Dash is now working again! :+1:

[2016-02-10 21:35] henrik opened #234 "404 page shows a page within a page"
https://hex.pm/packages/nosuchpackage

<img width="776" alt="screenshot 2016-02-10 22 34 51" src="https://cloud.githubusercontent.com/assets/216/12962619/831d845a-d046-11e5-9777-8be78d4082d7.png">

[2016-02-10 21:36] pragmaticivan commented on #234
discussion here: #231

[2016-02-10 21:41] henrik commented on #234
@pragmaticivan Thank you! Closing this one then.

[2016-02-10 21:41] #234 closed

[2016-02-14 01:09] ericmj commented on #227
All javascript is fixed except for ALL VERSIONS starting out expanded.

[2016-02-14 01:41] ericmj commented on #227
All fixed now.

[2016-02-14 01:41] #227 closed

[2016-02-14 21:01] devinus opened #237 "Most downloaded in alphabetical order"
At some point the most downloaded packages section stopped being ordered by # downloaded. I believe this is a bug:

https://github.com/hexpm/hex_web/blob/d310147abdc5f2f8b9b9838a19655a01ba5cb3fd/web/models/package_download.ex#L25

[2016-02-15 01:04] ericmj commented on #237
Thanks for the report.

[2016-02-15 01:04] #237 closed

[2016-02-15 09:31] wojtekmach commented on #202
Hi all, I'm not sure if you had a chance to discuss this feature in detail yet. If not, I'd like to take a stab at fleshing it out before implementing it. My proposal is mostly based on GitHub audit logs (https://help.github.com/articles/reviewing-your-security-log/).

**Base params**:

| Name             | Example value                    |
| ---------------- | -------------------------------- |

[2016-02-15 13:02] ericmj commented on #202
This looks like a great schema for the job.

I don't think heroku allows this since we only get one account.

Fast lookup should not be necessary for this table so lets keep it normalized.

[2016-02-15 15:03] wojtekmach commented on #202
@ericmj thanks for the feedback

That's fine. Just so we're clear, do you prefer `actor` (string) or `actor_id` (foreign key) (and `package_id`, `release_id` for extra_params)? The former is gonna be easier to read when just browsing the table but the latter is gonna enforce DB integrity which is always good (albeit it would prevent manually removing referenced user which is probably fine too).

A

[2016-02-15 16:12] ericmj commented on #202
We should only store ids. We should never fully delete users, packages or releases so the references should be fine.

[2016-02-16 11:38] brucify commented on #164
Hi

@yohaneskuma will take over from @dexsda now. Beow is a summary of the tasks. The most important in **Bold**, things can that come later in *Italic*.

**Fetching package registry**
* Client is able to fetch and scan the registry file, with some interval.
* Mirrors won't use the API server, it will just use the CDN to fetch the registry and packages.
* A new registry format is under constructio

[2016-02-16 12:44] ericmj commented on #164
Looks good. This is done already "Set up Hex mirrors on different S3 availability zones.".

[2016-02-16 19:59] ericmj opened #239 "Do not update main docs when publishing docs for beta versions"

[2016-02-17 01:52] jcspencer opened #240 "Password reset failure"
When I reset my password at the form from the emailed link, I am currently getting a 400 Bad Request on submission. I am unable to debug the issue further in terms of the server response.

[2016-02-17 04:12] ericmj commented on #240
I believe you worked on this initially? Would you mind adding some tests for the password reseting?

[2016-02-17 04:12] #240 closed

[2016-02-17 06:46] jcspencer commented on #240
Yeah, of course.

[2016-02-21 01:24] gleber opened #242 "Expose API over http too"
Currently attempts to access API over http returns a 302 redirect to https endpoint:

[code]

As far as I understand use of https prevents caching proxies. This is a problem for me, since I am scraping large chunk of hex.pm when developing `hex2nix` and importing metadata of some hex packages into http://github.com/nixos/nixpkgs

[2016-02-21 03:48] ericmj commented on #242
It's very unlikely that we are going to allow HTTP access to the API. Many other APIs do the same, for example GitHub.

Why do you use a caching proxy when scraping?

[2016-02-21 03:59] gleber commented on #242
It is handy while developing https://github.com/erlang-nix/hex2nix and iterating with various package metadata analysis approaches and various output generation approaches. I end up re-running it often enough to slow me down considerably. These requests are also rate-limited, since otherwise the scraping operation will be getting errors from the server. This tool already has caching layer, but it

[2016-02-21 04:49] ericmj commented on #242
The future of the web is https, newer protocols doesn't even support http. There are many benefits for using https; security, SEO, etc. and it's much easier and safer to just force redirect all requests. If you rely on http you will have to change to https eventually anyway.

[2016-02-21 05:01] gleber commented on #242
Agreed. Closing the issue.

[2016-02-21 05:01] #242 closed

[2016-02-21 21:33] #195 closed

[2016-02-21 21:33] #192 closed

[2016-02-21 21:35] ericmj commented on #57
We should do this after hex specifications have reached stable.

[2016-02-22 23:01] #138 closed

[2016-02-26 21:55] connorshea opened #248 "Feature: Package Changelogs"
I've opened a similar issue before with Bundler, but [they weren't able to do this without RubyGems](https://github.com/bundler/bundler/issues/4243) supporting the feature. I've recently begun looking more into Elixir and Phoenix, so I figured I'd suggest this in the hopes that it could get in on the ground floor.

I'd love the option to have changes from the previous version to the current versio

[2016-02-26 22:45] ericmj commented on #248
While this would be a neat feature, I believe this is currently out of scope for the package manager. Hex is still in beta and we should focus on features that are core to package management.

An issue with this is that it's an extra step for package authors to do when publishing packages. As you may have noticed the configuration for a package is very thin and you only have to set it up once. Wit

[2016-02-26 22:51] josevalim commented on #248
@ericmj I agree with you. However, I think it would be nice if we had a mechanism for showing messages after update. I think a CHANGELOG would be too much. It would just insane to show Ecto 2.0 CHANGELOG on upgrade but information like security releases would be likely welcoming. So I would call it like UPGRADE NOTICE or UPGRADE WARNING. It could be a simple file we place inside the Hex package.

[2016-02-26 22:57] ericmj commented on #248
@josevalim That's something I have my wish list too. A way to tag releases with a message when publishing or even after they have been published would be nice. We could show the tags on hex.pm and when fetching the package.

Other useful messages would be for example deprecation messages telling people the package is no longer maintained and what they should use instead.

[2016-02-28 21:18] #190 closed

[2016-02-28 21:19] ericmj commented on #190
Thank you @bjfish!

[2016-03-01 20:48] #217 closed

[2016-03-01 23:03] #239 closed

[2016-03-01 23:27] wojtekmach commented on #203
@ericmj this can be closed :)

[2016-03-01 23:36] #203 closed

[2016-03-02 05:54] ericmj commented on #248
The plan is to add a feature to add tags or messages to packages. It's not on the immediate roadmap so I am closing this issue. If anyone wants to work on the feature please open a new issue where it can be discussed in more detail.

[2016-03-02 05:54] #248 closed

[2016-03-02 05:54] #213 closed

[2016-03-02 05:55] ericmj commented on #202
Closing in favor of https://github.com/hexpm/hex_web/pull/238

[2016-03-02 05:55] #202 closed

[2016-03-02 05:55] #196 closed

[2016-03-02 05:56] ericmj commented on #140
Putting this on hold for now. First step is to provide a new and improved "main" registry format.

[2016-03-02 05:56] #140 closed

[2016-03-02 05:57] ericmj commented on #123
Closing this because it's not on the immediate roadmap and there has been no updates for 6 months.

[2016-03-02 05:57] #123 closed

[2016-03-02 05:57] #26 closed

[2016-03-02 05:57] #134 closed

[2016-03-02 06:01] ericmj commented on #218
Closing this because it's not immediately actionable. Please send a PR when the feature is ready in erlang.mk.

[2016-03-02 06:01] #218 closed

[2016-03-02 16:55] connorshea commented on #248
Works for me, thanks :)

[2016-03-05 06:19] ericmj opened #257 "Update to Ecto 2.0 beta"
1. Audit logs can be cleaned up by using `Ecto.Multi`
2. Requirement insertion and validation can be cleaned up by using `cast_assoc`
3. Creating package and package owner at the same time using either `Ecto.Multi` or `cast_assoc`
4. Resetting a user and all their keys can use either `Ecto.Multi` or `cast_assoc`
5. Clean up `HexWeb.Release.requirements/1` if the beta supports `%{model | ...}` sele

[2016-03-05 15:47] wojtekmach commented on #205
Hey! Couple of notes:
- do we still need this issue open? There are already basic type validations on master e.g. here: https://github.com/hexpm/hex_web/blob/73bc8da4bf6e763d5416bfb81bfa247ed5f68ca3/web/models/package.ex#L34:L39
- have you considered using embeds to handle metadata? I was thinking about having explicit PackageMetadata and ReleaseMetadata models. I think it could work very well, in

[2016-03-05 16:00] ericmj commented on #205
Yeah, we still need it. The metadata validation we have today does not cover all cases and is kind of ugly. Using embeds is a nice way of cleaning it up, good idea. Please open an issue an ecto for `{:map, TYPE}` support, you can reference this issue. If ecto doesn't add it we can implement it ourselves.

Btw, requirements are also part of this and should be fixed in https://github.com/hexpm/hex_w

[2016-03-05 16:26] wojtekmach commented on #205
@ericmj ok, sounds good. I created the issue on Ecto, and will start on doing embeds in the meantime.

[2016-03-05 21:39] crertel opened #259 "Docs link for graphmath 1.0.2 appears to be broken."
Despite publishing and running hex docs, it appears that the site doesn't have the docs.

Should I rerun it, or what should I do?

[2016-03-05 22:39] wojtekmach commented on #259
@crertel can you successfully generate docs locally with `mix docs`? I tried that on https://github.com/crertel/graphmath master branch and it gave me back an essentially blank `index.html` that redirects to `overview.html`, which doesn't exist, which is consitent with what hexdocs.pm currently serves. I also saw this output:

[code]

which if I remember correctly points to a well known problem wi

[2016-03-06 00:39] ericmj commented on #259
@crertel Can you show the output of `mix hex.docs`? Also include the version of (`mix hex.info`) and the version of ex_doc (found in the mix.lock file).

[2016-03-07 06:32] crertel commented on #259
Will get back to you folks tomorrow...thanks!

[2016-03-07 21:24] wojtekmach commented on #257
@ericmj I'd like to tackle this; I'm not sure when I'm gonna be done but I should have some updates on it in a day or two

[2016-03-07 21:24] ericmj commented on #257
Please go ahead, there is no rush :)

On Mon, Mar 7, 2016 at 10:24 PM, Wojtek Mach <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-03-07 21:27] wojtekmach commented on #257
:) I guess what I was trying to say is it's probably gonna end up in multiple chunks of work (prob multiple commits) because looking at it, there's a lot of stuff this touches and so might make sense to review it in chunks potentially. But yeah, Multi rocks :)

[2016-03-08 05:42] ericmj commented on #232
@Kapeli Has the new release gone out yet? We are planning to access the S3 bucket through Fastly CDN to improve performance and reduce our Amazon AWS costs so the URL is going to change. No worries if the release is already out, the direct S3 access is going to be available for quite a while.

[2016-03-08 09:04] Kapeli commented on #232
The release is about 1 month away unfortunately.

Should I make a quick release that fixes this issue ASAP? The App Store review takes around 3 days, so I should be able to release in about 3-5 days.

[2016-03-08 09:38] ericmj commented on #232
Yes. We are currently in testing, I was just wondering if we needed to hurry up if you are releasing soon but now I know we have time to do some more testing. I will ping you in this issue again when we're ready to make it public.

[2016-03-08 09:43] Kapeli commented on #232
Great. Thanks for the heads-up.

[2016-03-09 10:52] ericmj commented on #257
BTW, would be awesome if you include the traverse_errors change mentioned here https://github.com/elixir-lang/ecto/issues/1295#issuecomment-193681206.

[2016-03-09 12:57] wojtekmach commented on #257
@ericmj yeah, I was thinking about it too. I don't think that change (improving validation messages) is necessarily related to ecto 2.0 upgrade, so it could be done off current master too I think.

[2016-03-12 05:19] jcspencer commented on #151
If we were to do this, I suggest we simply pre-render a graph as a background job after the download stats are calculated (one option is just to pre-render a d3 svg in phantom). This speeds up both server-side queries (we don't need to constantly query download stats) and speeds up client-side loading (no need to render the graph every time).

[2016-03-12 12:28] ericmj commented on #259
Ping?

[2016-03-12 12:29] #146 closed

[2016-03-12 12:29] ericmj commented on #146
Hex 0.11.2 added registry verification.

[2016-03-12 12:30] #164 closed

[2016-03-13 03:54] crertel commented on #259
Hey, sorry for delay!

I tried running `mix hex.docs`, get the output is:

[code]

Running `mix docs` yields:
[code]

Running `mix hex.info` yields:
[code]

[2016-03-13 06:55] ericmj commented on #259
Sounds like this is an ex_doc issue. Hex simply calls ex_doc, zips the docs and uploads them.

You may try if it works when you fix the warnings, otherwise open an issue on ex_doc.

[2016-03-13 06:55] #259 closed

[2016-03-13 17:29] ericmj commented on #232
@Kapeli The new endpoint is http://s3.hex.pm.global.prod.fastly.net

[2016-03-13 17:32] Kapeli commented on #232
I'll make sure to use it in the next Dash version. I'll let you know when the update is live.

[2016-03-13 17:32] ericmj commented on #232
Thank you :)

On Sun, Mar 13, 2016 at 6:32 PM, Bogdan Popescu <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-03-15 08:22] phanimahesh opened #266 "Show elixir version compatibility information for each package version"
Currently if I have an elixir setup which for some irrelevant reason can not be updated to the latest version, I have to hunt and peck each package's mix.exs fro source and look at the elixir versions it declares to support. (It's a whole another problem that some package maintainers don't understand how to put proper values in there)

It would be nice to list supported elixir versions against eac

[2016-03-15 08:24] phanimahesh commented on #266
Actually, since hex is not specific to elixir, we should be listing compatible elixir version for elixir packages, OTP version for erlang packages, and equivalents for other erlang-family languages.

[2016-03-15 09:06] ericmj commented on #266
As you mention, I think the problem is that the value is seldom set correctly. We can list it on the website but I don't think it should be part of resolution or hex.outdated.

We can't do this search because we don't have semver support in postgres.

[2016-03-15 10:25] brucify commented on #164
Now the discussion is concluded. The implementation is at https://github.com/ieug/HexMirror/tree/develop_hex_mirror

Further discussions can be reported there.

[2016-03-15 11:09] phanimahesh commented on #266
We should try to figure out ways to educate the maintainers and get them to set it correctly. Elixir is very much still in its early stages and it is not late IMO.

There is an extension at http://pgxn.org/dist/semver/doc/semver.html that looks promising, though it does not support `~>` operator. That isn't really an issue, since we can convert the semver range from mix.exs into equivalent postgre

[2016-03-15 11:37] ericmj commented on #266
We cant use that extension on heroku. We are probably going to need a pure SQL implementation.

The first step is to add it to the package metadata specification, then have the mix client add it to the metadata and the server display it on the website. After that we can discuss what other things we can use the language version requirement for. It's important to only keep essentials in the registry

[2016-03-15 11:44] phanimahesh commented on #266
Makes sense. I'll initiate a discussion on the specification once I collect my thoughts on this.

[2016-03-19 17:15] ericmj opened #268 "Use HTTPS for hex.pm repository"
When we moved to Fastly we stopped using HTTPS for the repository. As part of Fastly's open source sponsorship they provide us with two CDNs for hexdocs and the hex.pm repository. They also provide us with a shared certificate that we use for https on hexdocs.

We no longer need HTTPS to verify the integrity of the registry and packages because we sign the registry and we keep checksums of package

[2016-03-19 17:19] ferd commented on #268
HTTPS will also be worthwhile when/If we get to handling cert revocation lists and so on, ensuring that at the very least, the list we get hasn't been manipulated by a MITM.

[2016-03-19 17:21] ericmj commented on #268
I was thinking we could solve that with an offline master key? There are also concerns with relying 100% on public key infrastructure.

[2016-03-19 17:38] ferd commented on #268
I'm not sure how an offline master key would work there if the objective is to have tools able to go look at a revocation list online to know if the one they have is still good; if the access to the remote certs is MITM'd, no check is safe. You don't want to sign an empty CRL since you could just replay that over and over.

In fact that's an interesting problem with signing a package but not encry

[2016-03-19 17:45] ericmj commented on #268
You set an expire time on the CRL.

I am not sure providing an old registry is a security concern but we can add a creation time to the registry and have clients check that.

I don't think we can use nonce since we need to be able to serve this from CDNs. Any ideas?

[2016-03-19 17:55] ferd commented on #268
The big common ways would probably be to sign the thing and include the signing time (a UTC epoch as a 64 bits integer with a well defined endianness for example) and a TTL that clients may choose to interpret with any level of tolerance. If the package served has been signed too long ago (or too far in the future), warn about it and consider it invalid.

[2016-03-23 00:26] ericmj opened #269 "Make ownership clear in Terms of Service (also add Terms of Service)"
hex.pm does not own anything you publish but it will be made public and may be public forever. You may not have the ability to remove or change anything you have published.

[2016-03-23 00:29] ericmj opened #270 "Implement and document DMCA process"

[2016-03-23 00:30] ericmj commented on #270
I'm guessing DMCA applies to hex.pm because it's hosted on Heroku and Amazon which are both US companies.

[2016-03-23 01:50] wub commented on #268
It's possible to, in the dashboard, add a domain with format `[anything-not-taken].global.ssl.fastly.net` - which is accessible globally, over both HTTP and HTTPS. Not sure if this fits with how they deal with free-CDN-for-FOSS, though.

[2016-03-23 02:02] ericmj commented on #268
@wub Thanks, we have that setup now: https://github.com/hexpm/specifications/blob/master/endpoints.md. Hopefully we can get shared SAN certificate on fastly instead of using their shared wildcard certificate, I believe that should be more secure.

[2016-03-23 02:04] wub commented on #268
@ericmj Thanks, next time I'll read before I post :-) I can see how proper certificates are important for this kind of thing.

[2016-03-23 11:37] wojtekmach opened #271 "Improve test suite"
Per conversation on https://github.com/hexpm/hex_web/pull/265#discussion_r55612798 there're a few things we could do to clean up the test suite:
- [x] return common records from the setup hook instead of fetching them in each example. E.g.: `test "release docs", %{user: user} do`
- [x] consider using some sort of factory library for generating test data

[2016-03-23 11:38] wojtekmach commented on #271
@ericmj I created this issue so that I don't forget about it :) Feel free to drop ideas how to improve the test suite even further

[2016-03-23 15:25] ericmj opened #272 "Add reserved package versions"
If a package release has been removed we should reserve that version for all future so that we can't republish over it.

[2016-03-23 17:18] OnorioCatenacci commented on #272
Is there a database somewhere that keeps the current and prior versions of packages Eric?  I think the simplest way to accomplish this would be to simply add a step to add an entry into a database to record that a version is in use and to mark prior versions as "unavailable".

[2016-03-23 17:48] ericmj commented on #272
This information is not currently stored anywhere. We store current packages and their versions of course but previous versions have not been stored.

[2016-03-23 19:28] wojtekmach commented on #272
I believe this has been discussed in some issues before - one way to do it is to never truly delete a package or release record (or any record, eventually) from the DB and instead "soft delete" it by setting a flag. This way, uniqueness constraint would prevent republishing.

[2016-03-23 20:00] ericmj commented on #272
I think it's better to keep a list of reserved names and version.

[2016-03-23 20:17] ericmj commented on #270
Also add document on trademark disputes.

[2016-03-24 08:53] jcspencer commented on #272
@ericmj would this go against what you described in #197 in regards to registry immutability?

[2016-03-24 08:56] jcspencer opened #273 "Provide means of revoking registry certificate"
There is no current way to ensure the certificate has not been compromised with the current solution, and a PKI or equivalent seems like the only plausible, automated solution.

From what I understand, for this to work effectively, you would need to use a pre-existing solution such as GPG where keys are publically accessible, immutable, and have the ability to be revoked.

[2016-03-24 09:00] jcspencer commented on #270
What do you think the process of DCMA takedowns and trademark dispute responses should look like?

[2016-03-24 12:01] ericmj commented on #273
If the private key is compromised we will release new versions of the hex clients with a new public key, inform users on the website https://hex.pm/docs/public_keys and post it to mailing lists and other forums.

If we are going to add a more sophisticated signing process I would be happy to see it as a specification proposal.

[2016-03-24 12:01] #273 closed

[2016-03-24 12:03] ericmj commented on #272
@jcspencer #197 limits the user's ability to remove packages. Admins will still be able to remove packages in special circumstances such as for legal reasons.

[2016-03-24 12:03] ericmj commented on #270
I don't know yet, that's why we have this issue :)

[2016-03-24 13:18] paulcsmith commented on #270
Not sure if this helps, but bitlaw.com has a great writeup on trademark disputes: http://www.bitlaw.com/trademark/internet.html and specifically http://www.bitlaw.com/trademark/infringe.html

It looks like in the case of the Kik/npm ordeal it is very unlikely they actually would have had any legal grounds since. I'm quoting the parts that are most relevant

Only the top 5 would apply to this parti

[2016-03-24 13:39] ferd commented on #270
The problem with this is that if you do not take down the content, what is going to be the legal process if you decide to say no when someone sends you what looks like a bad trademark claim, but then decides to bring it to court anyway?

[2016-03-24 13:46] paulcsmith commented on #270
I think if a court order looks legitimate then things should be taken down. In the case of Kik it was a threat with little/no legal backing. They did not sufficiently illustrate how it infringed. There is a definite gray area here, but if there is doubt, I think asking for legal proof before taking something down is not an unreasonable demand. If something is obviously an infringement maybe that i

[2016-03-24 14:43] redvers commented on #269
Related: http://www.mail-archive.com/cpan-workers@perl.org/msg01430.html

Thread on cpan-workers on how they're addressing the same issue in a different way.  They separate code-ownership from namespace ownership.

Straight immutability still makes more sense in our ecosystem in my mind but adding the link for context.

[2016-03-24 19:48] ericmj commented on #191
Step 1 will be done here https://github.com/hexpm/hex_web/pull/274. Still need to do step 2 to add a prompt when registering a user.

Also ccing @tsloughter because the prompt needs to be added to the rebar3 plugin also.

[2016-03-24 19:49] ericmj commented on #191
Closing this in favour of the PR. Step 2 should be done at https://github.com/hexpm/hex, PRs appreciated.

[2016-03-24 19:49] #191 closed

[2016-03-25 00:07] jcspencer commented on #270
There are some key things I would recommend implementing in this process:

- Provide a simple means of creating claims, as well as counter claims.
- *Fix Windows*: If the claim is due to a subset of files or code within the package, the user could be given a window of, for example, 24 hours to fix the issue. If the claim is in reference to the entire package, we would skip this step.
- *Repeated I

[2016-03-25 02:06] enilsen16 opened #275 "Add latest_release field to `/api/packages`"
When working with the api I am finding myself making multiple calls. One for a list of packages sorted by `updated_at` and another for a particular package's latest version.

Two options that come to mind are adding a key for the latest version or batching API calls; for example, `https://hex.pm/api/packages/abnf,ecto` would return all information regarding both `abnf` and `ecto`.

[2016-03-25 02:44] ferd commented on #275
behold as I create the `abnf,ecto` package and ruin your day

[2016-03-25 12:11] ericmj commented on #275
We can include the list of published versions and their API links in the package index endpoint. Personally not a fan of the comma-separated list.

[2016-03-26 06:57] jcspencer opened #277 "Implement per-package signing"
After the recently infamous NPM fiasco, I believe it is essential that Hex provides users and developers with a means of personally signing and verifying the signatures of packages to ensure that packages have not been tampered with by a third party (thus removing the need to trust Hex, as well as the developer)

The easiest way to implement this functionality is probably to use porcelain or anoth

[2016-03-26 07:05] jcspencer commented on #277
Context: https://twitter.com/lhoguin/status/711248900749975553, http://blog.npmjs.org/post/141577284765/kik-left-pad-and-npm

[2016-03-26 11:26] enilsen16 commented on #277
@jcspencer I may be wrong but https://github.com/hexpm/hex/issues/216 might be what you are looking for.

[2016-03-26 11:28] enilsen16 commented on #275
I implemented something similar -- https://github.com/enilsen16/hex_web/commit/6ee1b27b45651227c55d0fbd18db79ef87b101de

But I feel like this adds extra cruft. If I need all the versions of a given package, polling the api twice is fine. It's just in cases when you are looking for the latest version where I think this should be added to the index endpoint.

[2016-03-26 11:29] ericmj opened #278 "Add 2-factor authentication for publishing"
For reference: https://www.kb.cert.org/vuls/id/319816.

We should start out by sending an email with a link or a code you have to enter for the publish to proceed. In the future we can look at other forms of 2-factor such as sending an SMS.

[2016-03-26 11:31] jcspencer commented on #277
Thanks for the reference, but this is not referring to a checksum of the file, as any party can create a checksum. A signature can only be created by a party with a certain key, which makes sure that a specific user created it.

On 26 March 2016 10:26:53 PM AEDT, Erik Nilsen <notifications@github.com> wrote:

--
James Spencer

[2016-03-26 11:32] ericmj commented on #278
We would also need the 2-factor for adding or removing package owners.

[2016-03-27 00:12] ericmj commented on #275
The problem with the linked commit is the N+1 query, one query will be executed for every package in the result. It is possible to build a single query that fetches all releases for all packages.

The "latest version" means different things for different people. Is the latest published version, is it the version with the highest version numbers or is the highest version excluding pre-releases. Tha

[2016-03-27 00:39] ericmj commented on #277
I would like to reiterate that the "NPM fiasco" is not possible on hex.pm. It's not possible for users to revert or re-publish packages and removed packages cannot be acquired by other users. There are also some recently opened issues that will strengthen the enforcement of this, we always appreciate any help we can get with issues.

I also want to say that getting package signing right is very di

[2016-03-27 00:39] #277 closed

[2016-03-27 08:56] jcspencer commented on #277
Thanks for the swift, lengthy reply!

In regards to the NPM issue, I don't believe the issue lies with other users being able to republish packages in place of existing revisions, but rather that NPM itself was able to do so. This could obviously avoided by making the registry completely immutable, but a signature proves that nobody other than the developer touched it.

In regards to the rest of y

[2016-03-27 15:59] ferd commented on #278
+1 to this, especially useful since pretty much all installs and compile runs are allowed arbitrary code execution.

[2016-03-28 22:29] #275 closed

[2016-03-28 22:45] enilsen16 commented on #272
This would also prevent packages from not having any releases.

[2016-03-29 21:20] enilsen16 opened #281 "Packages without releases behave inconsistently"
Depending on the endpoint, inconsistent results are observed when a package has no releases. They appear in the index api endpoint as well as in the list of all packages on the site; however, if you try to view the "show" page for one, you get a 404. This does not happen with the api endpoint. Additionally, if you search for such a package using `mix hex.search`, you get no results; but if you try

[2016-03-30 00:19] ericmj commented on #281
It's a long-standing bug that a package can exist with no releases. I believe it can happen in a few different ways but the most common one is when a package with only one release has that release reverted.

[2016-04-05 05:07] jcspencer commented on #278
I'm willing to implement this, but before I do, I have a few questions:

1. What type of 2FA codes will we be using? TOTP, HOTP, etc.
2. Will we be using any external providers? (i.e. Google Authenticator, Yubico, etc.)

[2016-04-05 05:38] jcspencer commented on #278
IMO, I'd either provide support for Google Authenticator-esque applications (for TOTP codes), or send OTP codes over SMS.

[2016-04-05 11:54] ferd commented on #278
I like TOTP more than SMS since I do not need to pay fees when I'm traveling for TOTP.

[2016-04-05 12:10] ericmj commented on #278
I think it's overkill for the first iteration. We just need to generate a code, with a time limit, on the server, email that to the publisher and have him enter it when publishing. Similar to how email confirmation works today.

After this is working we can look at other services such as SMS and Google Authenticator.

[2016-04-06 00:30] jcspencer commented on #278
I think that we should implement email first, but by sending TOTP tokens. That way when we implement things like Google Authenticator, we don't need to reinvent the wheel again.

On 5 April 2016 10:10:02 PM AEST, "Eric Meadows-Jönsson" <notifications@github.com> wrote:

--
James Spencer

[2016-04-06 00:35] ericmj commented on #278
I don't think TOTP really works if you cant share a secret with the client, remember that 2-factor is supposed to circumvent the user system being compromised and the user already stores an API key which is a shared secret.

TOTP also seems superfluous if we are going to send the TOTP value to the user. TOTP builds on the client and the server independently generate the same value.

[2016-04-06 00:47] jcspencer commented on #278
The main advantage of using TOTP tokens is that they are time derived, so they will automatically expire. Even if the client isn't generating their own tokens to prove they have the secret, the tokens sent are time-limited by design.

Are you suggesting we generate random crypto data and derive a number from it?

On 6 April 2016 10:35:51 AM AEST, "Eric Meadows-Jönsson" <notifications@github.com> w

[2016-04-06 00:50] ericmj commented on #278
That's why I suggested doing it like the email confirmation tokens which also expire after time. I don't see any benefit TOTP gives us over normal time-limited tokens.

[2016-04-11 12:49] ericmj commented on #268
We have HTTPS for the repository again. Still looking into getting our domain for it while retaining HTTPS.

[2016-04-11 12:49] #268 closed

[2016-04-12 01:30] ericmj commented on #269
Closed in favour of #274.

[2016-04-12 01:30] #269 closed

[2016-04-12 08:49] brucify opened #283 "Enable notation of private packages in the specification"
We are developing an app ([HexMirror](https://github.com/ieug/HexMirror/tree/develop_hex_mirror)) that enables you to mirror the package index so you can use your own [hex_web](https://github.com/hexpm/hex_web) to host your own private packages with alternative CDNs.

The current [package metadata specification](https://github.com/hexpm/specifications/blob/master/package_metadata.md) have the foll

[2016-04-12 10:57] ericmj commented on #283
When running a package repository with private packages I don't packages should be mirrored from hex.pm. Instead hex clients (mix, rebar3, erlang.mk) should support pulling packages from multiple indexes.

Given that I would prefer to extend the specification to support cross-repository dependencies. A cross-repository dependency is when you depend on a package from another repository - that means

[2016-04-12 11:48] josevalim commented on #283
@ericmj Right, we need to support both. We should be able to say "I am a private package depending on this package from hex.pm" and we still need to be able to replace "hex.pm" by our own mirrors. Sometimes the private package AND the mirror are the same entity (which is @brucify's case).

[2016-04-12 11:53] ericmj commented on #283
That's what I am suggesting.

What's the use case for merging the mirror and private repository?

[2016-04-12 11:54] josevalim commented on #283
I know, I was just clarifying/reinforcing. :)

Well, if you have private packages and you don't want to depend on hex.pm, then you are doing both. No?

[2016-04-12 11:58] ericmj commented on #283
If the mirror repository is kept separate from the private repository I don't see the need for adding the notion of private packages to the metadata. Keeping them separate also has the benefit that you won't get conflicting package names between private and hex.pm packages.

If there's a use case for keeping the repositories together then I can see the need for adding it to the metadata. Or may be

[2016-04-12 12:54] ericmj commented on #283
@brucify @yohaneskuma Can you elaborate on what you need this for?

[2016-04-12 13:48] Kapeli commented on #232
I've released the Dash update. Sorry for the wait!

If you can, please wait a week or so before removing the redirect, to give users time to update to the new version.

[2016-04-13 23:59] sotojuan commented on #271
Taking care of this right now :-)

[2016-04-14 02:56] ericmj commented on #270
Closed in favour of #274.

[2016-04-14 02:56] #270 closed

[2016-04-18 21:14] pragmaticivan opened #297 "Pagination with Letter selection"
It's not getting the letter param for pagination filter.

[2016-04-18 21:32] benwilson512 opened #298 "Default Search Focus"
Hey!

Love the new design! As a minor thing, it would be very nice if the search box had the default focus when the page loaded. That way users can simply open a new tab, go to hex.pm, and search for a package all without needing a mouse or without hitting `tab` first.

Thanks!

[2016-04-18 21:38] ericmj opened #299 "Limit package description to single line on front page"
Sometimes it will overflow to two lines.

[2016-04-18 21:39] #193 closed

[2016-04-19 00:05] pragmaticivan opened #303 "Fix broken layout for mobile screen size"
<img width="384" alt="screen shot 2016-04-18 at 5 05 01 pm" src="https://cloud.githubusercontent.com/assets/301291/14623513/bac1993e-0587-11e6-9fd8-5b760c6d216c.png">

[2016-04-19 00:55] #298 closed

[2016-04-19 00:55] #297 closed

[2016-04-19 01:09] benwilson512 commented on #298
Thanks!

On Monday, April 18, 2016, Eric Meadows-Jönsson <notifications@github.com>
wrote:

[2016-04-19 08:47] #303 closed

[2016-04-19 10:38] alco opened #306 "The docs on hex.pm still mentions HEX_CDN"
See here https://hex.pm/docs/mirrors

However, when I run `HEX_CDN=https://s3.amazonaws.com/s3.hex.pm mix deps.get`, I get this warning:

Hex version 0.11.5

[2016-04-19 10:41] ericmj commented on #306
Fixed on master.

[2016-04-19 10:41] #306 closed

[2016-04-19 11:36] ericmj opened #307 "Add favicon to browser search"

[2016-04-19 11:50] josevalim opened #308 "New layout does not include how packages are sorted in search"
https://hex.pm/packages?search=ecto&sort=downloads

I would expect it to say "57 results sorted by downloads" or something of sorts.

[2016-04-19 14:18] jaimeiniesta opened #310 "Broken link to github repo"
The link to the github repo in https://hex.pm/packages/elli_xpblfe contains a typo, a square bracket at the end:

https://github.com/quasiquoting/elli_xpblfe]

This is an invalid URL, apart from cleaning it up from the database contents maybe we could enforce the URL validation?

[2016-04-19 14:43] ericmj commented on #310
I believe that's still a valid URL, although it links to a 404?

We should also avoid changing the metadata of packages in the database because it will still be the same in the package tarball. The package owner should fix it instead.

[2016-04-19 14:59] jaimeiniesta commented on #310
I'm not sure about that, but the validator complains with:

https://validator.nu/?doc=https%3A%2F%2Fhex.pm%2Fpackages%2Felli_xpblfe

I think that the square bracket should have been [percent-encoded](https://en.wikipedia.org/wiki/Percent-encoding).

Anyway, what's important here is the 404. I'll ping the owner of the package, closing here as it's not a hex_web issue.

[2016-04-19 14:59] #310 closed

[2016-04-19 15:01] ericmj commented on #310
Unfortunately I don't know how to validate it, `URI.parse/1` seems to accept it.

[2016-04-19 15:08] jaimeiniesta commented on #310
Also, `URI.encode/1` doesn't transform the `]` into `%5D` as I had expected.

[2016-04-19 15:45] josevalim opened #312 "Disabled fonts may show unexpected results"
I am not sure if we can do something about this. Many mobile users will have disabled things like custom fonts as they are common in adblockers and similar tools. When such happens, the website uses non-ideal icons, look at the kiss sign near to the search in the screenshot below). I am not sure if this could be fixed but I thought I would report it anyway.

![img_3709](https://cloud.githubusercon

[2016-04-19 15:48] josevalim opened #313 "Alphabetic packages listing on mobile views needs improvements"
Two suggestions:

1. Increase the space between the letters (they are too close to each other)
2. Align the Sort By to the right, as it happens on non-mobile views

See screenshot below.

![img_3713](https://cloud.githubusercontent.com/assets/9582/14645699/fe764150-0656-11e6-96f9-d2c3a44f4bf9.jpg)

[2016-04-19 15:50] josevalim opened #314 "Mobile views break with long package names"
It happens both on the package listing page and on the package page itself. Please see both screenshots below:

![img_3715](https://cloud.githubusercontent.com/assets/9582/14645718/17c1f9ce-0657-11e6-8935-a4459f3d5053.jpg)

![img_3717](https://cloud.githubusercontent.com/assets/9582/14645734/242e3f92-0657-11e6-92ce-92c7f5194fe4.jpg)

[2016-04-19 15:53] josevalim opened #315 "Too many horizontal lines for embedded search on mobile views"
It also happens on non-mobile devices on short width. Please see the screenshot below.

![img_3716](https://cloud.githubusercontent.com/assets/9582/14645870/a62a3e6a-0657-11e6-9ff0-818c95cbf000.jpg)

[2016-04-19 15:56] josevalim opened #316 "Download information is cluttered on both home and package pages"
This happens:

* On the package page for mobile devices (see the bottom of screenshot below)
* On the package page for regular browsers with limited width
* On the index page for regular browsers with limited width

This is, however, fixed on the index page for mobile devices. We should likely apply the fix throughout.

![img_3716](https://cloud.githubusercontent.com/assets/9582/14645870/a62a3e6a-

[2016-04-19 15:57] yurrriq commented on #310
Thanks for the heads up and PR. It might be good to do some client-side validating in the tooling.

[2016-04-19 16:40] ericmj commented on #209
We cannot fix this now since both rebar3 and mix stores checksums in the lockfile.

[2016-04-19 16:40] #209 closed

[2016-04-20 09:59] TakteS commented on #308
#317

[2016-04-20 19:10] TakteS opened #320 "Can't sort packages when you select packages by the letter"
If you select packages by the letter and try change a sorting option you will redirected to packages list without sorting by the letter

[2016-04-20 19:22] TakteS commented on #320
Fixed on #319

[2016-04-20 19:31] ericmj commented on #320
Responded in the PR.

[2016-04-21 10:59] #320 closed

[2016-04-22 13:56] austinsmorris opened #321 "Left-side navigation menu is broken on small screens (mobile)"
If your screen is small enough (small on desktop, always on mobile), the left side menu will not stay open.  If you click the hamburger to expand the menu, it slides out and disappears, making it unusable.

[2016-04-22 17:07] pragmaticivan commented on #321
@austinsmorris can you add more info? which device have you used for this test? what's the screen size? In my for example is working very well (Nexus 6P and iPhone 6)

[2016-04-22 17:32] austinsmorris commented on #321
For me, it appears to be any screen width below 768px.

This happens on my iPhone 6s with safari and chrome (all latest versions).  It also happens on my desktop any time I shrink width below 768px (chrome, safari, and firefox).

[2016-04-22 17:55] ericmj commented on #321
I can't reproduce either. It works for me on iPhone 6S and the different viewport sizes for mobile devices in chrome.

[2016-04-22 17:58] ferd commented on #321
I get a way cooler effect when I shrink the window size

![](http://i.imgur.com/7Lxsi6C.png)

[2016-04-22 17:59] ericmj commented on #321
@fred Issue open here https://github.com/hexpm/hex_web/issues/316

[2016-04-22 18:01] austinsmorris commented on #321
Ok, it must have something to do with content.  Ecto docs work for me, but check out:

https://hexdocs.pm/absinthe/Absinthe.html
https://hexdocs.pm/absinthe_relay/Absinthe.Relay.html

[2016-04-22 18:17] wojtekmach commented on #321
@austinsmorris based on two links above, seems like you might be experiencing design issues with hexdocs.pm, and not hex.pm itself. Even though hex_web helps with hosting the docs, the docs generation, layouts, styles etc happens elsewhere. See: https://github.com/elixir-lang/ex_doc. Perhaps open issue there?

[2016-04-23 00:13] jcspencer commented on #307
Add this to `hexsearch.xml`:

[code]

[2016-04-23 00:14] ericmj commented on #307
I think it needs to be moved to a template if we are going to use `static_path` to get proper caching.

[2016-04-23 00:41] jcspencer commented on #307
That's true. How long do clients (i.e. browsers) cache the OpenSearch file for?

[2016-04-23 00:56] ericmj commented on #307
I have no idea but it's convention in the rest of hex_web to use phoenix's static_path helper to create digested urls so I think it should be used here too to be consistent.

[2016-04-23 03:31] vkill opened #322 "mix hex cdn_url will deprecate, but mirrors page no update?"
Hi

In this page https://hex.pm/docs/mirrors

the `cdn_url` will deprecate

https://github.com/hexpm/hex/blob/master/CHANGELOG.md#v0112-2016-03-11

[2016-04-23 11:18] ericmj commented on #322
Thank you, we will update that page.

[2016-04-23 13:10] #321 closed

[2016-04-23 17:11] vkill commented on #322
:+1:

[2016-04-25 17:06] #322 closed

[2016-04-29 11:20] #307 closed

[2016-04-30 13:40] pragmaticivan opened #326 "Description limit for package page"
Check this example: https://hex.pm/packages/timex

[2016-04-30 22:52] ericmj commented on #326
Please open an issue with timex also. The description is supposed to be a few paragraphs at most.

[2016-05-07 19:10] wojtekmach opened #328 "Fix flaky test suite"
Looks like test suite is flaky, I can reproduce it with this seed:

[code]

Build seems to be stable again when Mailer sends emails serially instead of in parallel:

[code]

Not yet sure if it's a problem with `HexWeb.Parallel` or `HexWeb.Email.Local` or both.

[2016-05-07 21:04] ericmj commented on #328
I think it's because email sending is async now and we check the email before it is sent. Best fix is probably to make it sync during testing.

[2016-05-08 21:44] mobileoverlord opened #329 "Page rendering issues for packages with long names"
there is a base line rendering issue which cuts off the bottom of letters for packages with longer names when the view is scaled for mobile.

https://hex.pm/packages?_utf8=%E2%9C%93&search=nerves_toolchain&sort=downloads

In addition, On the package page, there is an issue with where the version is placed when the package name takes up the whole line.

https://hex.pm/packages/nerves_toolchain_arm_

[2016-05-08 23:01] #316 closed

[2016-05-09 08:55] pragmaticivan commented on #329
cc @ericmj what do you think about this case? Should I overflow wich CSS like the last PR I sent?

[2016-05-09 09:12] pragmaticivan commented on #312
Never experienced anything like that I just use AdBlocker in my desktop. Have no idea how would we solve that, because Even if we have a fallback this `kiss` will be above the fallback layer.

[2016-05-09 09:14] pragmaticivan commented on #308
Should we close this one?

[2016-05-09 09:42] TakteS commented on #308
I think yes

[2016-05-09 13:24] #315 closed

[2016-05-09 13:26] #308 closed

[2016-05-09 19:22] aberman opened #333 "Add a filter to be able to search for only Erlang or only Elixir packages"
It would be very helpful if the hex.pm website allowed a filter to only show Erlang or Elixir or both.  There are many times that I do a search or I browse and only want to see, for example, Erlang packages.

[2016-05-09 20:27] pragmaticivan commented on #326
Just sent a PR for timex, we can close this one, they'll update in the next release.

[2016-05-09 21:45] ericmj commented on #333
The language(s) used by a package is not stored in the package metadata, we only store the build tool used to build the project and that is not a great indicator of what languages are used in the package.

[2016-05-09 21:46] ericmj commented on #326
Maybe we should cap the description at a number of characters also? Either only when displaying or also as a validation when publishing.

[2016-05-09 21:48] pragmaticivan commented on #326
For that you need to go into the db and check what's the biggest description and make it the default description size limit. Or at least have a way to improve the description of old packages.

[2016-05-09 21:50] ericmj commented on #326
We don't have to change old packages or be limited by them when adding a validation.

[2016-05-09 21:58] pragmaticivan commented on #326
Cool, so, characters enough for 2 lines?

[2016-05-10 16:49] aberman commented on #333
I think that's a fair indicator though.  If I'm programming in Erlang, chances are I'm not using mix, but rebar3 and vice versa for Elixir projects.  Given that that is what is stored in the metadata, it would still be helpful to filter based on the build tool used.

[2016-05-11 08:13] jcspencer commented on #329
I think most of these issues can be fixed by doing the following:

- don't enforce the same line-height on all platforms
- use the bootstrap grid system
- wrap long text inside it's parent

[2016-05-11 14:04] ericmj commented on #333
Most Elixir programmers use Erlang libraries though. I am aware that Erlang applications do not depend on Elixir apps due to it being difficult but the plan is to add support in Rebar3 (or with a plugin) for compiling Elixir projects so I think this will be even less useful in the future.

[2016-05-11 14:06] ericmj commented on #329
@pragmaticivan Yes, please do.

[2016-05-11 14:09] ericmj opened #334 "Package name text is cut off at bottom"
<img width="319" alt="screen shot 2016-05-11 at 16 06 34" src="https://cloud.githubusercontent.com/assets/316890/15183681/6f9c5a62-1792-11e6-835a-7731513e5fd2.png">

The bottom of "g" in "Plug" is cut off.

[2016-05-11 14:10] ericmj commented on #326
Yeah, I think that would be okay. Maybe double the size of a tweet, ~300 characters?

[2016-05-11 16:34] aberman commented on #333
Ah, ok, if that's the case, then you're right, it won't be useful.

[2016-05-11 16:34] #333 closed

[2016-05-12 22:06] ericmj commented on #312
We should also reduce the size of fonts or at least the number of fonts used on the website. People have reported bad user experiences on slow networks. There have also been issues where no text was showing on the page when fonts failed to load.

[2016-05-13 08:18] josevalim opened #336 "404 pages for hexdocs.pm should have more detailed instructions"
So @ericmj doesn't forget. :)

[2016-05-13 21:15] #328 closed

[2016-05-13 21:17] #313 closed

[2016-05-13 21:19] ericmj commented on #283
Ping?

[2016-05-14 02:17] #336 closed

[2016-05-14 03:21] #299 closed

[2016-05-15 20:31] ericmj opened #337 "Make publishing sync"
Currently the request when publishing releases and docs returns before the publish is complete. Currently it returns after validation and runs the rest of the tasks (registry rebuild, pushing files to S3, invalidating cache) async and sends an email to the publisher if something failed.

This was done because I thought all those tasks could take a long time. Currently those tasks takes just a few

[2016-05-15 20:41] ericmj opened #338 "Replace gen_smtp dependency with an Elixir library"
Input on good email libraries would be appreciated.

[2016-05-15 22:40] optikfluffel commented on #338
[thoughtbot/bamboo](https://github.com/thoughtbot/bamboo) looks pretty promising.

[2016-05-16 00:47] optikfluffel commented on #334
It seems [web/static/css/template/_home.scss#L266](https://github.com/hexpm/hex_web/blob/3a0ae074c2b3555b363597f7af36d08f7e6c68df/web/static/css/template/_home.scss#L266) is the culprit.
I'm not really sure why `display: block;` is there, doesn't break anything at first sight (using Safari).

[2016-05-16 03:03] blatyo opened #340 "Release API Returns DateTime without Timezone"
The release API returns DateTime strings that are not valid because they're missing the timezone. Oddly, the package API returns DateTime strings that do have timezone information. This becomes an issue when trying to parse it.

`2016-04-29T15:24:41.275558` was the `inserted_at` for https://hex.pm/api/packages/phoenix/releases/1.2.0-rc.0

Below see the issue with parsing and then it working when a

[2016-05-16 08:26] ericmj commented on #340
To me it looks like none of them have timezone information.

@josevalim Do I need to use a custom DateTime type if I want it to JSON encode with "Z" at the end?

[2016-05-16 12:12] blatyo commented on #340
@ericmj Looks like this might be a regression. I have an exvcr recorded response for https://hex.pm/api/packages/abnf and it has timezone information, however requesting it now, it doesn't. Makes me feel a bit better, because I couldn't figure out why they were different either.

I'll take a swing at fixing this if you don't beat me to it.

Recorded response:
[code]

[2016-05-16 12:14] ericmj commented on #340
It is indeed a regression but I don't know how to best fix it or even if we should fix it and update the specification instead.

[2016-05-16 13:58] blatyo commented on #340
This appears to be the change that caused the issue: https://github.com/elixir-lang/ecto/commit/5d1902588ca771cb6e96487375133e904c68daf0

I'm going to follow up there.

My 2 cents are that dates should follow an existing specification. The dates as they are now, almost follow ISO 8601 and used to. It is also one of the more readable formats and [supported by ecto](https://hexdocs.pm/ecto/2.0.0-rc.

[2016-05-16 14:05] ericmj commented on #340
Ecto does follow the specification, time zone information is not required in ISO 8601. And ecto does serialize to ISO 8601 with as much information as it has, ecto doesn't know the time zone so it shouldn't print a time zone.

In this case the application knows the time zone so we should try to print it, but I don't know the best approach yet.

[2016-05-16 14:09] josevalim commented on #340
@ericmj doesn't the Hex client always send UTC? So you know that the datetime is UTC but Ecto does not know it. I know software like Calecto solves it by allowing you to specify something like DateTimeUTC so it would include the Z at the end and that's a choice you could make.

Other than that, our datetime does follow the ISO8601 standard.

[2016-05-16 14:12] ericmj commented on #340
@blatyo If you would like to work on this we have two alternative solutions; either use Calecto or add a custom datetime ecto type that prints with a "Z" and falls back to Ecto.DateTime. I vote for the latter alternative, adding a dependency to print Zs seems like too much.

[2016-05-16 14:25] blatyo commented on #340
Yea, I'll take a look tonight.

[2016-05-16 14:38] josevalim commented on #340
Because this is using the JSON encoder, it means you do not only need a custom Ecto type, you also need a custom struct. I would hold until Elixir v1.3 which will supposedly make this is easier.

[2016-05-16 15:20] ericmj commented on #340
Unfortunately we are breaking API clients, so we need a workaround.

[2016-05-16 15:25] josevalim commented on #340
Try reimplementing the Poison.Encoder protocol for Ecto.DateTime. It will emit warnings when you do so though.

[2016-05-17 02:27] blatyo commented on #340
Ah, missed the latter part of this conversation. I'll try the Poison.Encoder protocol route.

[2016-05-17 07:11] #340 closed

[2016-05-21 17:44] pragmaticivan commented on #329
I created a solution for that and looked good because we don't hide the real name of the package and also works with the mobile version.

<img width="1157" alt="screen shot 2016-05-21 at 12 43 43 pm" src="https://cloud.githubusercontent.com/assets/301291/15449931/b099740c-1f51-11e6-98e0-c26822db0bd6.png">

[2016-05-21 17:46] pragmaticivan commented on #329
<img width="387" alt="screen shot 2016-05-21 at 12 44 41 pm" src="https://cloud.githubusercontent.com/assets/301291/15449936/fc875b9a-1f51-11e6-80b6-9c8ed8adc69b.png">

[2016-05-21 17:49] pragmaticivan commented on #326
Should we close this one since it's merged as a warning alert?

[2016-05-21 18:19] pragmaticivan commented on #312
@ericmj those are the fonts we're using
[code]
Not sure how can we reduce that they're also using google CDN.

[2016-05-21 20:50] #329 closed

[2016-05-21 20:52] ericmj commented on #326
We need to limit the description size on the package page also.

[2016-05-21 21:35] #334 closed

[2016-05-21 21:36] #314 closed

[2016-05-31 07:23] pragmaticivan commented on #312
@ericmj ^

[2016-05-31 07:30] ericmj commented on #312
@pragmaticivan We have the option of reducing the number of fonts we use. We use at least 4 or 5 different font weights of lato, each requiring separate HTTP requests to fetch them. We can also use a different font than lato that has smaller file sizes.

Neither option seems great.

[2016-05-31 09:15] #326 closed

[2016-06-01 09:57] #257 closed

[2016-06-01 09:58] ericmj commented on #205
This was improved a lot with the move to ecto 2.0 but there are still things to clean up and more checks we can do so I am leaving it open.

[2016-06-01 09:59] ericmj commented on #283
Closing due to no feedback. Let us know if you have anything to add and we will reopen the issue and the discussion. Thank you!

[2016-06-01 09:59] #283 closed

[2016-06-01 10:24] ericmj commented on #312
We can inline the icons we use (glyphicons and octicons) instead of using icons fonts like outlined in this GitHub blog post: https://github.com/blog/2112-delivering-octicons-with-svg.

It will require some extra work because we need to parse XML and/or CSS files to get the icon SVG data, but it's definitely doable.

[2016-06-03 08:15] #281 closed

[2016-06-03 08:15] #337 closed

[2016-06-03 23:15] DanielTomlinson commented on #338
@ericmj I'd be up for trying to integrate Bamboo or similar if help is welcome?

[2016-06-04 08:26] ericmj commented on #312
Icon fonts are now inline SVG: https://github.com/hexpm/hex_web/pull/354

[2016-06-04 08:44] ericmj commented on #312
The initial bug in this issue is fixed. We should still try to reduce the number of actual fonts we are using but that's not directly actionable right now since we don't have a solution for it so I am closing this for now.

[2016-06-04 08:44] #312 closed

[2016-06-04 10:30] ericmj commented on #338
@DanielTomlinson Yes, please go ahead with bamboo.

[2016-06-04 23:17] enilsen16 commented on #340
This regression seems to be back again, however I am seeing it in both APIs now...

[2016-06-05 01:20] blatyo commented on #340
Yea, seeing it again as well. Not sure what caused it.

[2016-06-09 00:54] blatyo opened #356 "Release API Returns DateTime without Timezone"
The API has regressed again and stopped returning Timezone information for DateTimes. See this URL for example:

https://hex.pm/api/packages

Happy to fix this, but not sure where to look. #343 fixed this before, but seems to have stopped working. The previous ticket discussing the issue was #340.

Thanks

[2016-06-09 14:50] #356 closed

[2016-06-09 17:46] blatyo commented on #356
Thanks!

[2016-06-09 19:26] enilsen16 commented on #356
Thanks @ericmj!

[2016-06-11 15:14] fishcakez opened #358 "Allow using email everywhere that accepts usernames"
It is more convenient to use an email address, rather than a username, for example when generating an API key.

[2016-06-12 07:01] allyraza commented on #338
there is https://github.com/swoosh/swoosh as well

[2016-06-13 08:01] ericmj commented on #358
We also need to update the HTTP API specification after this change.

We should also look into if we can fully deprecate usernames in favor of only using email address as account id.

[2016-06-13 10:56] mkaszubowski commented on #271
@wojtekmach Do you have any preference for factory library? https://github.com/thoughtbot/ex_machina and https://github.com/batate/blacksmith both looks good, I could introduce it to the tests if that's ok with you.

[2016-06-13 13:07] wojtekmach commented on #271
I haven't used either of these so not sure. Also, it's really @ericmj's call :)

[2016-06-14 23:44] gullitmiranda opened #360 "sort by download not display packages without downloads"
After the publication of a package, I identified that if a package has no download, it is not listed in the results if the order is by number of downloads

https://hex.pm/packages?search=pagar&sort=downloads

![image](https://cloud.githubusercontent.com/assets/2034678/16063591/b00f531c-3270-11e6-9663-b9294f69fec2.png)

[2016-06-15 10:01] ericmj opened #362 "Add nightly job that checks for similar package names and notifies admins"
For reference: http://incolumitas.com/2016/06/08/typosquatting-package-managers/

[2016-06-16 15:37] edmz commented on #362
Adding this comment with terms to make it easier to find this issue:
- typosquatting
- typo squatting

[2016-06-16 15:39] edmz commented on #362
@ericmj if there is no rush for this issue, I could give it a try.

[2016-06-16 17:48] ericmj commented on #362
@edmz Please go ahead.

There should be a mix task that we run shortly after midnight that checks all new packages created during the last day for name similarities to all existing packages. The list of packages that are past a certain similarity threshold should be mailed to support@hex.pm for manual verification.

[2016-06-17 10:05] asabil opened #364 "Add support for namespaces"
## Background

The conversation started, because an elixir package is published under the name `uuid`, while the erlang one is published under the name `uuid_erl` https://twitter.com/zeank/status/743372406069334016
## Suggested solution

A suggestion would be to introduce namespaces for hex.pm and have both `zyro/uuid` and `okeuday/uuid`
## Migration

The issue at hand is how to handle the migrati

[2016-06-17 13:29] jlouis commented on #364
Some additional comments:

First, every User identity on hex has their own namepace, e.g., `jlouis/*` in which their packages are published.

Second, you have collection namespaces, `elixir/*`, `erlang/*`, `elixir-platform/*` and so on. These are used to form collections of packages with a given set of coherency. It is not for splitting packages between Erlang and Elixir, but for the idea of being

[2016-06-17 13:33] ericmj commented on #364
This is not the job of a package manager or its admins to maintain. Anyone is free to do this themselves though.

So you are for keeping the global namespace and allowing future uploads to that namespace? That is what I had in mind if namespaces are add. npm does this too.

[2016-06-17 13:54] jlouis commented on #364
I completely agree you shouldn't maintain such collections yourself. There are many good reasons for maintaining certain sections "outside" the main package space however:

* New versions of standard libraries which break backwards compatibility.
* Experimental stuff which is not yet ready for general consumption, but need the ease of development you get from having a proper package manager reposi