[2016-06-17 16:20] josevalim commented on #364
If we are still going to keep the global namespace, why is it any better than today's solution of using a different package name for the same application?

Today:

    {:uuid, "1.0.0", hex: :zeank_uuid}

With namespaces:

    {:uuid, "1.0.0", namespace: :zeank}

?

[2016-06-17 16:57] jlouis commented on #364
You latter example is strucurally better. You can build tooling around that, which you can't for the first variant. There is no way to know that `zeank_uuid` is namespace specific, whereas in the latter case, there are. Imagine I can choose a namespace ordering in my configuration file, meaning that by default I want the packages in my own namespace rather than the global packages, if applicable.

[2016-06-17 20:32] josevalim commented on #364
@jlouis perfect, I agree with the benefits you brought up, thank you!

[2016-06-18 16:55] pragmaticivan commented on #338
Is anyone working on this one still?

[2016-06-19 00:06] allyraza commented on #338
i am working on this alreadgy

[2016-06-19 16:14] #360 closed

[2016-06-20 19:33] ericmj opened #368 "Fix overwritten maintainers field by reading from audit log"
The bug was in the migration script that migrated from contributors to maintainers:

[code]

The hex client was sending package metadata with `maintainers` set and `contributors` as an empty list so the `WHERE` check should have included: `(meta->'contributors')::text != '[]'`.

[2016-06-20 19:36] ericmj commented on #368
* Backup database before proceeding
 * Make sure we don't overwrite updated metadata by comparing package updated_at field against the migration time

[2016-06-22 16:32] ericmj opened #370 "Do not overflow package names on front page"
<img width="568" alt="screen shot 2016-06-22 at 18 26 22" src="https://cloud.githubusercontent.com/assets/316890/16274841/a05eb57e-38a7-11e6-98e7-d26a83db6c81.png">

[2016-06-22 16:33] josevalim commented on #370
I am stealing @fishcakez's joke here and saying that nerves packages soon will hit the 255 character limit for package names. :P

[2016-06-22 16:54] fishcakez commented on #370
@josevalim you need to work on the delivery :stuck_out_tongue:

[2016-06-22 17:16] josevalim commented on #370
📦

[2016-06-22 23:32] edmz commented on #362
@ericmj I just started working on this.

I've been doing some reading and I would like to know how exhaustive we want to search for typos.

The simplest case is where there is a single key that was mistyped by its neighboring key in the keyboard (eg "elixir" vs "elixit"). I more or less have this case covered for 3 keyboard mappings.

Other things we could also check for:

- more than one key mist

[2016-06-24 14:27] ericmj commented on #362
This is what we should use, we have that function in the standard library. If we make rules for specific cases it will be very easy to accidentally miss edge cases.

[2016-06-24 14:29] edmz commented on #362
so I should stick to the Jaro distance?

[2016-06-24 14:29] ericmj commented on #362
Yes.

[2016-06-29 19:11] thbar commented on #141
@Kapeli is this integration available somewhere? I cannot find the relevant docset, so I'm wondering. Thanks!

[2016-06-29 19:30] whatyouhide commented on #141
@thbar on the version of Dash I'm using (3.3.0), you just go to Preferences > Downloads and choose "Hex Docsets" from the list on the left, then you can search for packages on Hex.

[2016-06-30 00:01] Kapeli opened #371 "Fastly redirecting to https, which doesn't have a valid certificate"
http://s3.hex.pm.global.prod.fastly.net/ redirects to https which fails because it doesn't have a valid certificate. This causes the [Dash](https://kapeli.com/dash) integration to fail.

[code]

// @ericmj

[2016-06-30 00:18] ericmj commented on #371
Thanks for the report it should be fixed now, it was a misconfiguration on our CDN.

If you want to use https use `https://repo.hex.pm/...`. I know I said we wouldn't be changing CDN urls (so that's kind of embarrassing :flushed:), but if you could switch over that would be great. There's no hurry of course.

[2016-06-30 00:43] Kapeli commented on #371
Thanks for the extremely quick fix. All working now.

I'll switch to `https://repo.hex.pm/` in the next Dash update.

[2016-06-30 00:43] #371 closed

[2016-06-30 09:01] josevalim commented on #371
@Kapeli  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-06-30 16:32] jbranchaud commented on #370
@ericmj I'm willing to work on this bug. Is there a particular approach you have in mind for addressing this or should I just propose something in a PR?

[2016-06-30 16:33] ericmj commented on #370
I think we should handle the overflow by replacing it with an ellipsis.

On Thu, Jun 30, 2016 at 6:32 PM, Josh Branchaud <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-07-01 00:32] #370 closed

[2016-07-02 15:42] ericmj opened #374 "Add API for removing all API keys in one request"

[2016-07-02 15:43] ericmj opened #375 "Mark API keys as revoked instead of removing them"
If authentication fails due to a revoked key we can inform the client about that.

[2016-07-02 15:46] ericmj opened #376 "Add checkbox on password reset for also revoking all API keys"

[2016-07-07 13:19] jcspencer commented on #278
I have begun the implementation of this. I am building the feature using the following parameters (definitely up for discussion):

When an API request is made that requires 2FA, a 401 response is returned with a header `X-Hex-OTP: required; <type>`<sup>[1]</sup>. Once a client has gathered the required 2FA token, it is added to a request in the `X-Hex-OTP` header.

2FA tokens are able to be genera

[2016-07-07 13:50] wojtekmach commented on #278
btw, AWS recently announced worldwide SMS messaging [1] so it might be a good fit for delivery.

[1] https://mobile.awsblog.com/post/TxSP0HUNM8FQ1Y/Introducing-Worldwide-SMS-Messaging

[2016-07-07 16:55] ericmj commented on #278
@jcspencer Sounds good. The recovery codes should still be accessible after they have been generated.

@wojtekmach I'm leaning towards Twilio for SMS. Amazon seems to have some crazy pricing for sending to numbers outside the US, sometimes more than 100x as expensive when compared to Twilio.

[2016-07-07 17:46] rranelli commented on #364
Would namespaces allow one to have *both* uuid libraries as dependencies? (from what I understood in the discussion, I don't think they would)

I recently had an issue with the `uuid` dependency when adding `cqex` to my project: https://github.com/matehat/cqex/issues/5

[2016-07-07 17:46] ericmj commented on #364
No, unfortunately not. You can only have one application of the same name
loaded in the VM at once.

On Thu, Jul 7, 2016 at 7:46 PM, Milhouse <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2016-07-08 01:22] jcspencer commented on #278
@ericmj @wojtekmach Also, [ExTwilio](https://github.com/danielberkompas/ex_twilio) is a well-built library for interfacing with Twilio. AFAIK, there aren't any existing Elixir/Erlang libraries that allow you to easily interface with AWS SMS.

[2016-07-08 17:00] c0b opened #379 "feature request: expose direct download link of packages"
see https://groups.google.com/d/msg/elixir-lang-talk/nm3GaX_tdLw/4pTSWktNCgAJ for background

Then any developer behind hex.pm can comment here? Why designed this service not allowing people directly download from web ? someone might say the github for httpotion is exposed you can download from github for tarball, I'm not sure is that true for all hex.pm packages ? and
for all historical versions

[2016-07-08 17:29] josevalim commented on #379
Can we please keep the issues focused? This one has at least two
discussions: packages downloads and SEO. Those should be separate issues
specially because I don't think we should be fetching information from
GitHub and instead keep it simple since Hex is about the package itself and
not any sort of aggregator.

On Friday, July 8, 2016, Mr C0B <notifications@github.com> wrote:

--

*José Valim*
ww

[2016-07-09 11:14] ericmj commented on #379
for all historical versions like https://hex.pm/packages/httpotion/2.2.2 is there always a github
release for that? what if the original github user has deleted his repo?

We can add a direct download link of the tarball from the package page on hex.pm. What's the use case for downloading packages outside of mix/rebar?

This has been discussed before. We currently cannot support this because we do

[2016-07-09 13:22] josevalim commented on #379
It would be nice to have a mechanism that allows us to download and check the package source without forcing us to create a project and add it as a dependency.

[2016-07-11 10:24] #374 closed

[2016-07-11 11:35] ericmj opened #380 "Add ownership levels"
The highest level owner should be be the only one able to add/remove other users with permissions to publish the package.

[2016-07-13 19:52] brucify commented on #164
The project is available for testing at

https://github.com/ieug/HexMirror/tree/develop_hex_mirror#getting-started

Feedback wanted!

[2016-07-14 09:31] ericmj opened #382 "Only update top-level hexdocs if the docs being uploaded are for the latest version"

[2016-07-14 09:33] ericmj opened #383 "Update top-level docs to the next-to-last version if the last version is being reverted"

[2016-07-14 14:38] michalmuskala opened #384 "Wired bars in the package list"
I noticed this yesterday but it is still present so I decided to report.

Google Chrome Version 51.0.2704.103 (64-bit)
OS X 10.11.5

<img width="322" alt="screenshot 2016-07-14 16 36 16" src="https://cloud.githubusercontent.com/assets/477062/16843361/4297b2f6-49e1-11e6-9f52-0ba210399797.png">

[2016-07-14 18:11] ericmj commented on #384
I can't reproduce on Chrome and OS X. If someone has the same issue and know a fix please send a PR.

[2016-07-15 09:24] #384 closed

[2016-07-16 00:07] ericmj opened #386 "Break out repo access from controllers into Crud modules"
Also move S3/Fastly handling into their own modules.

[2016-07-16 20:11] smeevil opened #390 "Improving Search"
Hi,

I was wondering if you would be interested to let Algolia take care of the searching, I've set up search multiple times with all kind of backends, Solr, Apache, homebrew , etc etc but I just got fed up with it... is such an annoying thing. In the last year I've just been using algolia for everything and i think it's really good. I might be interested in sponsering that as well for hex.pm if t

[2016-07-17 21:39] #382 closed

[2016-07-19 13:56] barttenbrinke commented on #390
Talked to @smeevil and contacted Algolia via email to ask them if this at all possible.

[2016-07-21 12:37] ericmj commented on #379
Please send a PR if you are interested in this feature.

[2016-07-21 12:37] #379 closed

[2016-07-21 12:38] ericmj commented on #266
Closing this due to lack of activity.

[2016-07-21 12:38] #266 closed

[2016-07-21 12:38] #375 closed

[2016-07-21 12:40] ericmj commented on #42
A proposal is up and I have a working implementation for hex_web.

https://github.com/hexpm/specifications/pull/10
https://github.com/hexpm/hex_web/tree/emj-new-registry

[2016-07-21 12:40] #42 closed

[2016-07-23 06:45] jcspencer commented on #278
Hi all,

I've completed an implementation of the TOTP generation, SMS api (twilio / local - for testing) and api extensions, alongside tests for each. The one thing left is a trivial problem: how should each user's settings for TOTP be stored?

Should there be an embedded `settings` schema kept inside a user object to store all settings (for future extensibility), should this data be kept in a sep

[2016-07-26 10:32] asabil commented on #364
Is there anything I could do to move this forward? I would like to publish https://github.com/asabil/raven-erlang to hex, but I can't because there is already a raven project, but that's an elixir one

[2016-07-26 10:38] ericmj commented on #364
We are going to introduce namespaces but we are still deciding on how they should work generally and on Hex.pm and the new registry format is blocking their introduction. As it looks right now it is unlikely that Hex.pm will support free-to-use public namespaces due to the concerns I have raised here and on IRC.

I wouldn't recommend waiting on this feature to publish your package.

[2016-07-27 19:23] fladson opened #394 "How can we report deprecated packages?"
I'm maintaining the awesome-elixir list and I've found some hex links that points out to non existent gh repos, so I'm assuming they are deprecated.

There is any way to report them or we shouldn't remove them?

Thanks for the awesome work!

[2016-07-27 21:08] ericmj commented on #394
We are adding package yanking, keep a look at this PR https://github.com/hexpm/specifications/pull/10. When you yank a package you can give a message such as a notice that the package is deprecated.

Only the owner will be able to do this though. You won't be able to deprecate others' packages.

[2016-07-27 21:13] fladson commented on #394
I see, thanks for the response.

[2016-07-27 21:13] #394 closed

[2016-07-29 06:30] jcspencer commented on #278
@ericmj ping

[2016-07-29 06:46] jcspencer commented on #338
Using Bamboo requires bringing in the Bamboo_SMTP library, which actually depends on `gen_smtp` anyway...

[2016-07-29 11:31] ericmj commented on #338
Seems that both packages depend on `gen_smtp`. They still provide useful abstractions I think.

[2016-07-29 11:33] ericmj commented on #278
Sorry, missed your previous message. A `settings` map field on `User` can be used for user settings.

[2016-07-29 23:21] edmz commented on #362
I just created PR #396 for this.

Let me know what you think.

[2016-08-06 01:34] jcspencer opened #398 "Improve stats job to be more memory efficient"
Currently when running the stats job locally when memory is restricted, the stats job crashes with large (200k lines) amounts of simulated log data.

[2016-08-06 23:17] ericmj commented on #398
Why do you have 200k lines of test logs? Can you elaborate on the log data you have and how memory there is on the machine where it's crashing. Memory usage from the observer app could also be useful.

After this commit https://github.com/hexpm/hex_web/commit/e8aca5a50292c80788ec7c9febe73dc21dad7b8e it's currently working with production access logs from S3 and Fastly when running the job on herok

[2016-08-09 01:33] jcspencer commented on #398
I have just realised I was running these tests against a tree prior to the commit e8aca5a. I used a basic script to generate 200k lines of Fastly logs to simulate daily log traffic.

[2016-08-09 01:33] #398 closed

[2016-09-01 15:22] idyll commented on #383
Can this include a flag or indication of the nature of the issue with the previous package.

I am hoping to use this to add additional scanning beyond just out of date and instead fail builds when a package you are using contains a known security issue.

[2016-09-01 16:11] ericmj commented on #383
This is only for docs. You can only revert packages for up to one hour after its initial release so it's unlikely that's for security reasons.

[2016-09-01 18:02] idyll opened #400 "Add support for tracking security issues in hex packages."
Since pulling a package is not supported I think it is important to understand security issues reported against versions of packages.

This is more than just there's a new version but should define a level (low, medium, high) of risk and notes that include upgrade advice and/or mitigation strategy.

Ideally it could be integrated into hex or another tool and trigger build warnings or failures.

[2016-09-01 18:03] idyll commented on #400
@ericmj this is maybe a better place to discuss.

[2016-09-01 18:09] ericmj commented on #400
We are add package yanking, take a look at https://github.com/hexpm/specifications/pull/10. It seems like what you are proposing but it won't have low/med/high levels.

[2016-09-01 18:27] idyll commented on #400
Yeah that should cover it. I will close this issue but perhaps `deprecate` or `retire` or `renounce`  would be a better name for yank.

[2016-09-01 18:27] #400 closed

[2016-09-02 20:41] ericmj opened #401 "Provide user-agent usage stats from repository access logs"

[2016-09-17 20:55] wojtekmach commented on #376
This was fixed in #378, thanks again @potatosalad!

[2016-09-17 20:55] #376 closed

[2016-09-22 23:53] MatthiasWinkelmann opened #409 "Add canonical link to current version"
I keep running into the problem that google sends me to old versions of documentation. As one example, a search for [phoenix presence] currently returns the result shown below, although version 1.2.0 is available.

HexDocs can be configured to include a ref="canonical" link to the current version as I found in https://github.com/elixir-lang/ex_doc/pull/517. Sorry for not sending a pull request, bu

[2016-09-23 08:30] josevalim commented on #409
Hi, you need to do so in your docs generation configuration. You can do:

    docs: [canonical: "https://hexdocs.com/PACKAGE"]

So i think what we need to do here is send pull requests to existing
projects to include canonical and improve our documentation to include
canonical as well.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-23 08:53] ericmj commented on #409
@wojtekmach added support for setting `:canonical` to hexdocs by default. Unfortunately Phoenix 1.2.0-rc.0 was published before this default was added and we can't change the html for already published documentation.

I will look into if there's an easy way we can set a `Link: <https://hexdocs.pm/phoenix/Phoenix.html>; rel="canonical"` header.

[2016-09-23 09:28] ericmj commented on #409
We are now setting the Link header with Fastly (our CDN). Please check it out and if see if the header looks correct on different hexdocs.pm pages.

[2016-09-24 18:31] fteem commented on #338
@allyraza are you still working on this? If not, I'd like to give it a shot.

[2016-09-26 20:31] fteem commented on #358
@ericmj @fishcakez I'd like to give this a shot. Should we drop support of usernames completely, or do we just extend the functionality with email support?

[2016-09-26 21:32] ericmj commented on #358
@fteem We should only extend it to email support. I think it would be too disruptive to drop usernames completely.

[2016-09-27 09:49] ericmj commented on #386
@wojtekmach Is there anything left to do on this?

[2016-09-27 09:53] ericmj commented on #409
Closing this since no issues has been reported regarding the new canonical Link headers. Please let me know if you find anything.

[2016-09-27 09:54] #362 closed

[2016-09-27 09:57] wojtekmach commented on #386
@ericmj yup, there's still a few places left:

[code]

I'll take care of them

[2016-09-27 10:03] ericmj commented on #386
Thanks. There also seems to be a single one left in `web/models`:

[code]

[2016-09-28 11:18] #409 closed

[2016-09-28 18:30] ericmj commented on #338
Another alternative to using gen_smtp is to use Amazon SES' HTTP API.

[2016-09-28 18:58] ericmj commented on #338
I also think we should use bamboo as the library. If you want to use something else please let us know here.

@fteem I think you can go ahead and start with this.

[2016-09-29 10:26] ericmj commented on #358
Let us know if you find any other places where the email does not work in place of the username.

[2016-09-29 10:26] #358 closed

[2016-09-29 20:07] ericmj opened #414 "Fragment links for task docs scroll too far"
The header hides part of the documentation when following fragment links on: https://hex.pm/docs/tasks

[2016-09-29 20:15] ericmj opened #415 "Add section about publishing docs to "Publishing a package" documentation"
Add a section here https://hex.pm/docs/publish about how docs publishing works.

[2016-10-01 07:20] TakteS commented on #414
@ericmj Hello. You about this?
![out](https://cloud.githubusercontent.com/assets/7054944/19012506/28b6dd5a-87fb-11e6-8eaa-8f371daf364b.gif)

[2016-10-01 08:46] ericmj commented on #414
That looks perfect. Could you send a PR for that?

[2016-10-01 09:17] wojtekmach commented on #386
@ericmj I'll work on it in a separate issue/PR

[2016-10-02 11:27] #386 closed

[2016-10-08 14:04] TakteS commented on #414
@ericmj #419  I'm sorry for the delay ;)

[2016-10-10 14:28] ericmj commented on #409
Seems like Google is respecting the new headers:

![screen shot 2016-10-10 at 16 27 21](https://cloud.githubusercontent.com/assets/316890/19239468/7e0d8562-8f06-11e6-8d01-44e53c41377c.png)

[2016-10-10 14:51] MatthiasWinkelmann commented on #409
Indeed! Thank's for your work – I'm sure there'll be thousands of people going home a tiny bit happier (and maybe earlier) over the next decade without ever knowing why :)

[2016-10-17 10:09] wojtekmach opened #422 "Don't display `make` twice in build tools list"
![screenshot](https://cloud.githubusercontent.com/assets/76071/19433755/4a39b6aa-9462-11e6-809d-4cae0b7961b5.png)

[2016-10-17 10:10] wojtekmach commented on #414
Thanks again @TakteS!

[2016-10-17 10:10] #414 closed

[2016-10-17 10:25] ericmj commented on #422
Fixed on the client side https://github.com/hexpm/hex/commit/363a463677194a9c0fe42e947a518827808ddad8. But we need to filter on the server also since any bugged client can send this.

[2016-10-17 10:34] wojtekmach commented on #422
that was fast, thanks! I can help with the server-side this evening or
tomorrow. Anyone else is welcome to jump in in the meantime.

2016-10-17 12:25 GMT+02:00 Eric Meadows-Jönsson <notifications@github.com>:

--
Wojtek Mach

[2016-10-22 15:03] #422 closed

[2016-10-23 14:35] wsmoak opened #425 "Allow projects to publish docs for un-released versions"
Currently, you can only publish docs if there is corresponding published version of the artifact on hex.pm.

It would be nice for projects to be able to publish "nightly" or "latest" docs built from master or the active development branch, even though there is no corresponding release.

[2016-10-23 15:34] ericmj commented on #425
We could allow any version to be published, so if Phoenix is currently on 1.2.1, you could publish for 1.3.0-dev.

Alternatively we can do like with Elixir nightly docs and only allow a special "dev" version.

[2016-10-23 15:42] wsmoak commented on #425
This may need an expiration policy so that old dev docs don't stay around taking up space forever.  If they haven't been published in X days, delete them.  If the project wants them to be permanent, they can do a release (or host them elsewhere).

Bumping the version to something that indicates "under development" after a release seems to be getting a _bit_ more common, and really should be encour

[2016-10-23 18:56] josevalim commented on #425
Allowing a special dev version is a good idea. Another idea is to support a special key altogether, like "master" or "unstable" or "draft", that is used only for docs. This way we don't need to worry about "garbage collecting".

[2016-10-24 22:51] wojtekmach opened #427 "Add nicer html page for https://hex.pm/api"
Currently it 404s, perhaps we could show a simple html page with links to API docs or something like that.

[2016-10-25 08:01] ericmj commented on #427
We could also have make it an endpoint and return links to different parts of the API so that the API is fully discoverable.

[2016-10-25 11:53] ericmj opened #431 "Email dashboard has display issues on small screens"

[2016-10-25 18:48] ericmj commented on #425
That was the idea of the of the dev version. I am leaning towards master,
dev or development for the name.

On Sun, Oct 23, 2016 at 8:56 PM, José Valim <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-10-25 18:50] josevalim commented on #425
@ericmj oh, for dev I thought you mean `1.0.0-dev`.

[2016-10-25 19:12] wojtekmach commented on #425
I like `master` the most as it's very clear, but IMHO someone could think it's up to date with latest master code which wouldn't be the case out of the box. But perhaps the same could be said for `dev` or `1.0.0-dev` so maybe this argument is moot

[2016-10-25 21:20] wsmoak commented on #425
'master' seems to be a Git or GitHub concept, (long ago in a land far away, it was 'trunk' for Subversion,) while a suffix on the version number is more general.  (In Ruby the suffix seems to be -pre but I've seen -dev more often with Elixir.)

(Depending on the project there *could* be more than one development branch going on, though restricting a project to publishing *one* unreleased version i

[2016-10-25 21:48] enilsen16 opened #432 "Include link to a packages html route in api response"
The url in the packages response changed from a link to the html to a link to the json api. This was the first tweet where this started happening -- https://twitter.com/hex_pm/status/790658737778233344

Was there a specific reason for this change? Looks like it has been happening since yesterday around 12pm PST....

[2016-10-25 23:41] ericmj commented on #432
I believe it was a consistency fix. All urls in the in API are intended for discovery of the REST API.

We should add specific website links to the API that points to the HTML resources.

[2016-10-27 19:22] hex-doxxed opened #433 "Maybe implement stronger privacy protections for package authors?"
Hi, first of all, thanks for all the work on hex package manager and it's ecosystem. A great job!

New privacy policy and display of previously hidden account name has put me in a very uncomfortable and dangerous position due to my country of origin. Unfortunately, I wasn't prescient enough to register a pseudonymous username.

As an author and maintainer of several packages I'll be forced to aban

[2016-10-27 19:34] ericmj commented on #433
The existing package artifacts can not change and that includes the package metadata. These artifacts and the associated metadata have been copied to mirrors and user systems. Unfortunately any information in them should be seen as public forever.

The changes in the privacy policy affects the display of your email address and package ownership, this information is not included in the package arti

[2016-10-28 20:15] wojtekmach commented on #205
@ericmj do you have any particular validations in mind to add? I took a quick look at [PackageMetadata](https://github.com/hexpm/hex_web/blob/master/web/models/package_metadata.ex) and [ReleaseMetadata](https://github.com/hexpm/hex_web/blob/master/web/models/release_metadata.ex) and I think we could add the following:
- ensure `links` is a map of urls
- validate `elixir` with `Version.parse_requir

[2016-10-28 20:42] ericmj commented on #205
I think that's it. Your work on the metadata embeds and improvements to Requirement has got us 90% there.

[2016-10-29 13:10] #205 closed

[2016-11-06 15:53] msoedov opened #437 "Password reset doesn't complain about non existing account"
I tried to reset password with unregistered email and I got confusing message:
[code]
Eventually I figure out that I've never been registered on hexpm. However this is still confusing.

Steps to reproduce:
1. Go to reset password page
2. Use some random email foo@bar.com

[2016-11-06 16:34] ericmj commented on #437
I understand that it is confusing but unfortunately we need to keep this behaviour due to privacy concerns.

If we gave a different message to emails that were not registered it could be used to guess which emails are in use on hex.pm and we do not allow this in our privacy policy.

[2016-11-09 17:30] jcelliott opened #438 "Have to click twice to get to documentation"
Recently something changed so that I have to click twice in the sidebar to get to actual documentation. It used to go to the relevant page on the first click, and it would also expand the navigation in the sidebar. Now the first click expands the navigation for that section and you have to click on "Top" to actually see the documentation. It's a minor issue, but annoying. Was this a deliberate cha

[2016-11-09 17:31] ericmj commented on #438
This was intentionally changed in ex_doc [1]. If you want to discuss it please open an issue there.

[1] https://github.com/elixir-lang/ex_doc/

[2016-11-09 17:31] #438 closed

[2016-11-14 20:57] sotojuan opened #439 "Login form not tabbable"
### Reproduction steps

Go to the login page and hit <kbd>tab</kbd>—you never get to the login inputs until after few rounds of tabbing.

Unless this is in purpose (why?), I can fix this by making the `tabIndex` of the inputs not 10. Let me know!

[2016-11-14 20:59] ericmj commented on #439
I can't recall why we have a custom tabindex there. A PR would be appreciated.

[2016-11-14 22:42] #439 closed

[2016-11-23 03:15] mgwidmann opened #443 "Git commit SHA on hex.pm"
If possible it would be really nice to be able to see what commit went in specific versions. I've come across several packages that I was unsure if the merged PRs I need which were in hex.pm or not. A recorded SHA at time of publishing would help identify a version -> commit mapping for users.

[2016-11-23 10:20] ericmj commented on #443
It's hard to generalize something like this because git is not a requirement for hex so it would be hard for clients to know how to shell out to get the commit # for different version control systems.

I think it's best to ask package maintainers to push tags that match the published hex versions.

[2016-11-23 15:14] mgwidmann commented on #443
Yes, I understand. With so many packages though, and growing, asking everyone to be more organized isn't a full-proof solution. Do you think it'd be possible to just detect if its a git repo and add it then only? Failing silently when its not?

I feel like it would make things easier on package maintainers, especially since the large majority (a very high percent) do use git from what I've seen.

[2016-11-23 17:07] wojtekmach commented on #443
@mgwidmann If we decide to support this, how would it work exactly? E.g. looking at Ecto [site](https://hex.pm/packages/ecto) and [api](https://hex.pm/api/packages/ecto), how would we display the SHA? As a string, or as a new item in links map? How would the user know to associate the SHA with where it's hosted & accessible? Currently, packages needn't be hosted anywhere, so we'd likely need to tr

[2016-11-30 05:24] mgwidmann commented on #443
I've been making aliases for myself to get this to work in tandem. See here: https://github.com/mgwidmann/scrivener_html/blob/master/mix.exs#L65

Its just a bit annoying having to do it to every project...

I feel like this shouldn't be as hard as you've stated, so maybe I'm missing something. What I imagined was something as simple as:

[code]

Then for each release, if theres a `Github` link inc

[2016-11-30 11:32] ericmj commented on #443
That's great, thank you @mgwidmann. It looks like we don't have to add anything to Hex at this time because it works with scripts.

You can create a Hex package that adds this as task. The package can be installed as an archive or for as a dependency for each project you need it.

[2016-12-01 13:39] mgwidmann commented on #443
Yes, I could. It'd just be nice to have hex have that info as well to link commits with versions. For any unorganized project maintainer, its difficult to track down what code is in the version without explicitly opening the dependency in `deps` after running `mix deps.get` and digging through the code to find the feature you want.

Maintaining the project properly is one thing, if you'd prefer to

[2016-12-01 13:47] mgwidmann commented on #443
@wojtekmach to answer your question... Is there anything wrong with this?

[code]

As far as hex is concerned its just metadata it records. It would be up to hex web to combine them if it also found a github link.

[2016-12-01 14:04] mgwidmann commented on #443
I don't know the codebase very well so this could be a bad spot but, I imagine this line:
https://github.com/hexpm/hex/blob/master/lib/mix/hex/build.ex#L54

Could look something like this instead:

[code]

I'm not sure if putting it into the `meta` data is the right spot or if that would allow it to show up like I showed above in the releases data, but this is the only thing I see as being necessa

[2016-12-01 14:08] ericmj commented on #443
The problem is that the commit is not enough. What if they did not add the optional github link, having the commit does not help if there is no way to find the repo.

[2016-12-01 14:10] mgwidmann commented on #443
Yes true, and when thats noticed and fixed, adding the github link would then retroactively link it to the source (since the prior publishes recorded the sha).

[2016-12-01 15:16] ericmj commented on #443
I don't like that we have add a field to the metadata that is not strictly useful. If we add this then the uri to the source repo needs to be added to the metadata as well, instead of having it as unstructured (in the sense that we do not enforce a format) and optional link.

I think for now it's best to ask maintainers to tag their repos and if you can provide a tool that automates the tagging th

[2016-12-01 15:17] ericmj commented on #443
In retrospect it would probably have been better to add the source repo uri directly to the metadata when we created Hex. But if we move it there now from the links I think we would have an even bigger mess on our hand.

[2016-12-01 18:48] mgwidmann commented on #443
😞

I feel very strongly its Hex's job to tell us whats in each of these packages... Right now, it does not. If it means connecting hex with the source repository, I'd +1 that.

Like José always says, its about the tradeoffs. Being VCS agnostic has some benefit in that users are free to use any VCS system they please. However it has downsides as well, this being one of them. The key factor here is

[2016-12-01 19:02] josevalim commented on #443
I have a different opinion here. A package does not need to come from any version control so it feels very weird to reference a particular version control source. A package may also have built artifacts by the time of publishing which are not versioned. I ultimately consider the package to be the source of truth, especially because it is immutable.

For example, if we employed this technique, many

[2016-12-01 19:21] michalmuskala commented on #443
Maybe a way to download the package content and examine it without adding to the project could help with this? A simple taks such as `mix hex.download package [-v version] [path]` that works similar, in a way, to `git clone repo`. This could help if someone wants to examine the code of the package and be sure that nothing will be actually running.

 I could also imagine an online file browser of t

[2016-12-01 19:22] sschneider1207 commented on #443
What about a SHA1 hash of the entire package as it is submitted to hex?  It's not something you could retrieve directly from GitHub's website, but you could calculate it from a clone to compare.

[2016-12-01 19:25] josevalim commented on #443
@sschneider1207 I am not exactly sure what you are proposing here. Hex does generate a checksum. How would it apply to the topic at hand?

[2016-12-01 19:28] josevalim commented on #443
To be honest, running deps.get is not going to execute any code, so you can easily rely on that. But there is also an issue in the hex repository about depending on local packages, on their `.tar` to be more precise, which would require the ability to build and download them in the first place.

[2016-12-01 19:28] sschneider1207 commented on #443
@josevalim if the checksum is displayed on the hex page for a package I could compare it with a checksum I generated based on the master branch of a repo in order to determine if the version on hex is the master version.

[2016-12-01 19:41] ferd commented on #443
One of the thing we do with rebar3 and I believe Mix do is store down the hash of the package in the lock files for the project. If you build your project and inspect it, the lock file should prevent getting packages with a hash that changed in subsequent builds. This is hidden from the user and done automatically afaik.

To get an equivalent guarantee with a checksum or commit hash, you'd need to

[2016-12-01 20:24] ericmj commented on #443
@sschneider1207 We don't have a reproducible way to build packages so we can't ensure that checksum will be the same given the same source files, things like file timestamps would change it.

See https://github.com/hexpm/specifications/pull/4

[2016-12-01 20:25] ericmj commented on #443
If it would help we can add a link on the website to download the package tarball. Keep in mind that the package tarball has other things like the metadata file and some other files and the tarball with source files is nested inside the package tarball.

[2016-12-01 22:22] mgwidmann commented on #443
so heres a recent incident of mine where this was an issue:
https://github.com/gaynetdinov/ex_marshal/pull/12

[2016-12-01 22:48] ericmj commented on #443
That looks to be the reverse issue? I don't think we can do anything about if people forget to publish a hex version after tagging the release in git.

[2016-12-02 01:44] mgwidmann commented on #443
Sorry, yeah I was thinking of something else and I can't find it now... There was an issue I had where the tagged version was different from what was actually published. The commit SHA would have been particularly useful. Something like that doesn't have to happen on purpose.

I don't think publishing tags is a bad practice and it doesn't necessarily have to be something hex does for sure.

Seems

[2016-12-08 18:32] wojtekmach commented on #271
@ericmj since the fresh off-the-press "What's new in ecto 2.0" chapters suggests that in many cases using just ecto 2 is good enough (as opposed to bringing in another dep) I think we should give it a go :) wdyt?

[2016-12-09 10:16] ericmj commented on #271
I talked with @wojtekmach and we decided we can go ahead without a factory library but we should continue moving model creation to the setup callback and we should generate random data for the models so that we still get test concurrency from postgres.

[2016-12-14 12:21] Qqwy opened #448 "Feature Request: Show 'exact match' of search query on top"
_Originally posted [here](https://github.com/hexpm/hex/issues/325)._

Right now, search results on Hex.pm are sorted by the amount of downloads. This is of course one of the least subjective way to sort search results.

However, when someone looks for a package that is relatively new, such as e.g. the [Numbers](https://hex.pm/packages/numbers) package that I released yesterday, it is all the way a

[2016-12-15 15:33] bbense opened #450 "Search dependencies of packages"
Provide a way to search the dependencies of packages. i.e. if I have hex package foo, how can I find all the hex packages that depend on foo?

[2016-12-17 00:11] ericmj opened #451 "Show latest *stable* version by default on package page"
This page https://hex.pm/packages/postgrex should show 0.12.1 even though 1.0.0-rc.1 is the latest release.

[2016-12-17 00:18] ericmj commented on #451
Should we also filter away retired package?

It can be a good idea for postgrex for example, but it would be bad if you retire for deprecation or rename and only retire the latest release and we don't show that release.

/cc @josevalim

[2016-12-17 09:19] josevalim commented on #451
I am not sure we should change the behaviour here. For example, take Ecto, I would prefer if developers saw the pre-releases first. If we change this, it means no prerelease would be shown, as they would always come last?

I also would not change the ordering if a package was retired. So I wouldn't change anything. This particular problem with postgrex will be solved as soon as we retire the relea

[2016-12-17 09:40] wojtekmach commented on #451
:+1: from me. This would also be consistent with https://hexdocs.pm/postgrex

You mean that on https://hex.pm/packages/postgrex we would simply not show retired releases? I'd still show them so that when a user locked on a particular release, he/she can see on the website that it got retired. It's a separate issue, but maybe we should adjust client to show a warning if user is using a retired rele

[2016-12-17 09:44] wojtekmach opened #452 "Show release retirement status on /api/packages/:name"
See e.g.: https://hex.pm/api/packages/postgrex, it isn't shown that 1.0.0-rc.0 is retired.
We only see it here: https://hex.pm/api/packages/postgrex/releases/1.0.0-rc.0

[2016-12-17 10:04] josevalim commented on #451
Oh, I understand the issue now. Yes, I agree that the package version shown at the top of the page should shown the latest, non-prerelease, non-retired version. Everything else should stay as is.

My previous comment was related exclusively to the list of versions at the bottom. I wouldn't change anything there.

[2016-12-17 10:07] josevalim commented on #451
If the latest non-prerelease is retired, then we should show it at the top, because it either means it is important information (you shouldn't use the latest) or the whole package is retired. Most times, you will release a new package right after you retire a current version.

[2016-12-17 12:02] ericmj commented on #451
To clarify, I am only talking about the default version we show at the top of the page and the associated for that release on the page. I am happy with the list of versions we show now on hex.pm and it will stay the same.

I like this, it makes sense to make a distinction between if the latest non-prerelease is retired or not.

[2016-12-17 12:05] ericmj commented on #452
Should we show the full retired struct (message/status) or only `retired: true|false`?

[2016-12-17 12:20] wojtekmach commented on #452
good question, do you have a preference? I think both option sound good. Returning a full retired struct would keep the api more unified, but just `retired` is definitely shorter.

[2016-12-17 13:45] ericmj commented on #452
My concern is that I want to keep the releases list small. You should query for individual releases if you want more information. But given that not many releases should be retired I guess we can include the struct.

[2016-12-17 16:26] ericmj commented on #451
Fixed in emj_retire PR.

[2016-12-17 16:26] #451 closed

[2016-12-17 16:32] #433 closed

[2016-12-17 16:32] #448 closed

[2016-12-17 17:25] josevalim commented on #437
@ericmj one thing you could do is to clarify the message: "If this account has been registered in Hex, you should receive an email shortly with a link to reset your password".

[2016-12-17 17:26] ericmj commented on #437
Sounds good.

[2016-12-17 19:43] net commented on #390
It's worth noting that Algolia offers [free plans to open source projects](https://www.algolia.com/doc/faq/accounts-billing/i-develop-an-open-source-or-not-for-profit-project/).

[2016-12-19 22:35] wojtekmach opened #453 "Word-wrap long package names"
See:

- https://hex.pm/packages/nerves_system_qemu_arm - see dependencies
- https://hex.pm/packages/nerves_toolchain_arm_unknown_linux_gnueabihf - see package name at the top

[2016-12-22 17:33] #452 closed

[2016-12-22 17:36] wojtekmach commented on #443
@mgwidmann we don't have plans to support this in the short term in Hex so I'll close this issue for now.

[2016-12-22 17:36] #443 closed

[2016-12-23 23:05] #437 closed

[2016-12-24 15:20] sotojuan opened #456 "Normalize repository field"
This may fit better in the actual Hex repo—let me know.

Currently packages don't have a consistent field for their associated repository—Hex uses whatever the put in the `mix.exs` file. This causes problems for people trying to parse Hex data for third party services:

* GitHub vs Github vs github
* The above vs GitLab vs BitBucket vs etc

Sure, the latter is rare and the former can be fixed by f

[2016-12-24 15:43] sotojuan commented on #453
It seems it's the `line-height` that makes it look bad. Here's what the second example looks like with `line-height: 55px`:

http://i.imgur.com/C1xe59A.png

[2016-12-24 20:11] ericmj commented on #453
@sotojuan Nice find. I think for the title we want to show the whole name with the line-height fix and for dependencies we want to wrap it with an ellipsis.

[2016-12-24 20:15] ericmj commented on #456
We don't have any plans to add a special repo key at this time. It would indeed be a slight improvement to have a special key for the repo but the improvement is not big enough to have every single package publisher update their metadata.

Maybe we can include this change later if we do other changes to the metadata.

For related discussion: https://github.com/hexpm/hex_web/issues/443

[2016-12-25 00:35] sotojuan commented on #456
That's fair—just wanted to know your opinion on the issue. Thanks!

[2016-12-25 00:35] #456 closed

[2016-12-25 08:14] c0b opened #457 "feature: short url?"
the domain name hex.pm is already pretty short I think can serve as short url, would be nice to see https://hex.pm/cowboy redirect to https://hex.pm/packages/cowboy ; exceptions are a few ones like https://hex.pm/docs you can reserve

the NPM Registry for NodeJS community is comparable to hex.pm for Erlang / Elixir, they have such feature already, like https://npmjs.com/react redirects to https://

[2016-12-25 10:32] ericmj commented on #457
The problem is that we before introducing this have to imagine every future top-level endpoints we might have on hex.pm or we are going to break links when we introduce new ones. Do you know how npm solves this?

[2016-12-25 18:30] fteem commented on #457
@ericmj I think that `npmjs` has a "catch all" route that basically will redirect any path that does not match a route to the `/packages/:name` route. For example, `npmjs.com/obviously-not-a-package-name` will redirect to `npmjs.com/package/obviously-not-a-package-name`.

If you would like to avoid this (adding a route), maybe a shorter URL like `hex.com/p/cowboy` could work?

[2016-12-25 20:30] c0b commented on #457
or another idea could be redefine 404 page to be somewhat smarter: instead of showing this `404 page not found` empty page, we can do reasonable guessing:

1. based on the url route, try search it with known route
   1. search it by package name, if it exists and is the only one, redirect to it
   2. if it's not the only one, show a list view of possible package names
2. search `/docs/...` package

[2016-12-26 13:06] ericmj commented on #457
We could add a short url such as `hex.pm/p/PACKAGE`, but I don't really see the use case. Is this for when you enter package names in the browser address bar? We also support open search so if you type "hex.pm" and then [TAB] you browser should allow you to search for packages.

We cannot automatically redirect on `hex.pm/PACKAGE` because that means we would break links in the future.

[2016-12-27 23:12] wojtekmach opened #460 "Upgrade ex_aws to 1.0"

[2016-12-29 19:36] #453 closed

[2017-01-09 16:53] hedgesky opened #470 "Markdown rendering problem"
I've found a little problem with markdown rendering: on [this page](https://hexdocs.pm/timex/Timex.Format.DateTime.Formatters.Default.html) at the _Compound directives_ section several lines are rendered incorrectly. Here is [the source](https://github.com/bitwalker/timex/blob/3.1.7/lib/format/datetime/formatters/default.ex#L78) for them.

I think this is caused by inner issue in `earmark`. I've c

[2017-01-10 14:38] wojtekmach commented on #470
hex.pm/hexdocs.pm is only responsible for hosting the docs, and the problem is likely in `earmark` or `ex_dox` so I'm gonna close this issue.

I think you should be able to point `timex` to master version of `earmark` and if it solves the issue perhaps a patch will be accepted on timex to use in the meantime until a new version of earmark is released.

[2017-01-10 14:38] #470 closed

[2017-01-11 21:07] LTheGreats opened #471 "upgrade to run on elixir 1.4"
I looked at the build pack and it said that it was using elixir 1.3.3 however, I think it would be better to upgrade and use elixir 1.4 instead

[2017-01-12 18:18] wojtekmach commented on #471
Thanks @LTheGreats for reporting.

There's a couple of other things that would be good to do while at it:
- update `.travis.yml`
- update `mix.exs` and remove applications (as they're inferred from deps in v1.4)
- fix v1.4 TODOs

PR is welcome!

[2017-01-13 22:53] wojtekmach commented on #471
Closed by/in favor of https://github.com/hexpm/hex_web/pull/472 https://github.com/hexpm/hex_web/pull/473

[2017-01-13 22:53] #471 closed

[2017-01-16 20:03] #427 closed

[2017-01-19 11:25] #460 closed

[2017-01-19 13:09] simonprev commented on #431
Could you share a screenshot of the issues and which browsers you are using? I’ll try to fix this issue 😄

[2017-01-19 13:22] ericmj commented on #431
<img width="418" alt="screen shot 2017-01-19 at 14 17 14" src="https://cloud.githubusercontent.com/assets/316890/22108271/996ffa38-de52-11e6-9e96-acc93972b609.png">

The spacing between the email input and "Add" button.

The "Resend verification email" link is almost not visible.

[2017-01-25 15:46] wojtekmach commented on #338
Looks like basic support for SES landed in ex_aws 1.1.0 (we're at 1.0.0 right now) so we might look into that.

[2017-02-20 19:43] JohnB opened #481 "SEO for specific functions"
When I search for "elixir enum map" or "elixir enum.map/2" it seems pretty clear to me that I want to end up at `https://hexdocs.pm/elixir/Enum.html#map/2` - but the best result in google is to the main enum page at `https://hexdocs.pm/elixir/Enum.html` - not to the specific function I'm looking for. (yes, I'm lazy; yes, I know I could use the internal search but it doesn't seem any better)

What

[2017-02-20 19:56] ericmj commented on #481
Document is generated by (ex_doc)[https://github.com/elixir-lang/ex_doc/]. Does google provide search results with anchor links, I can't recall seeing a link like that.

If it's possible it would be great if you could do some research and see what is needed to make it work. Thank you!

[2017-02-24 15:03] pragmaticivan commented on #338
Is that ready? There's a pull request merged.

[2017-02-24 16:04] ericmj commented on #338
We need a mail driver that uses AWS SES http API first. We actually still
use gen_smtp, just not directly.

On Fri, 24 Feb 2017 at 16:03, Ivan Santos <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2017-02-28 22:35] ericmj opened #484 "Fix spammy errors from Parallel"
If all the tasks in Parallel fail (like if S3 is down and you are uploading files) it will print an error for every failed task.

[2017-02-28 22:41] wojtekmach opened #485 "Replace HexWeb.Parallel with Task.async_stream"
We might get rid of HexWeb.Parallel entirely, or keep it but use Task.async_stream underneath.

[2017-03-01 00:27] ericmj commented on #484
Closed in favour of #485.

[2017-03-01 00:27] #484 closed

[2017-03-01 09:14] josevalim commented on #485
How will you handle earlier Elixir versions? Task.async_stream won't fix the spammy behaviour as well (nor the timeout issues).

[2017-03-01 09:41] wojtekmach commented on #485
@josevalim I suspect you though this issue is in the hex client repo; on the server we can use whatever Elixir we want.

I agree that just using async_stream won't fix spammy behaviour or timeouts; I think the idea is to first move to async_stream and fix these things on top of that.

[2017-03-01 09:42] josevalim commented on #485
Oh, doh. Please ignore me.

[2017-03-01 16:10] ericmj commented on #485
Yep.

[2017-03-06 09:34] pragmaticivan commented on #431
Can I pick this one?

[2017-03-06 11:16] ericmj commented on #431
@pragmaticivan Please do!

[2017-03-06 19:15] wojtekmach opened #486 "Improve display for social sharing"
Example:

https://twitter.com/whatyouhide/status/838791304263974913

<img width="367" alt="screen shot 2017-03-06 at 20 06 56" src="https://cloud.githubusercontent.com/assets/76071/23625487/9fc0face-02a9-11e7-9d3e-2dadeb07e608.png">

[2017-03-06 19:33] ericmj commented on #486
I think we need to support twitter card [1] and open graph [2]. They seem to be very similar [3].

[1] https://dev.twitter.com/cards/overview
[2] http://ogp.me/
[3] https://dev.twitter.com/cards/getting-started#opengraph

[2017-03-06 19:33] ericmj commented on #486
Any contributions on this would be appreciated.

[2017-03-07 07:19] pragmaticivan commented on #486
Can I pick this one?

[2017-03-07 07:24] pragmaticivan opened #488 "Improve placeholder for profile fields"
<img width="717" alt="screen shot 2017-03-06 at 11 20 35 pm" src="https://cloud.githubusercontent.com/assets/301291/23645977/aa09b1be-02c3-11e7-855e-f8dcee935aee.png">

That list of inputs doesn't explain very well what kind of data you should insert.

ex:

twitter: If you add a URL it will break the link.
<img width="503" alt="screen shot 2017-03-06 at 11 22 49 pm" src="https://cloud.githubuserco

[2017-03-07 08:04] wojtekmach commented on #486
Please do!
W dniu wt., 7.03.2017 o 08:19 Ivan Santos <notifications@github.com>
napisał(a):

[2017-03-07 12:58] ericmj commented on #488
We do some basic checks to remove the urls when people make mistakes [1] but it doesn't seem to be working in your case, I don't know why. But I agree that we should improve the UI to make sure people enter the correct value. And maybe also add a validation check that it's not a URL entered.

[1] https://github.com/hexpm/hexpm/blob/master/lib/hexpm/accounts/user_handles.ex#L24-L41

[2017-03-07 13:35] #431 closed

[2017-03-11 16:10] ericmj commented on #271
I have started work on this if you look at the latest commits in master. More work has to be done but I think we can close because improving the test suite will be an ongoing job.

[2017-03-11 16:10] #271 closed

[2017-03-11 16:14] ericmj commented on #364
I have started the work on support for multiple repositories, a repository is its own namespace. Hex.pm will only have a single public repository (with possibly some rare exceptions for things like nerves), you will be able to create repositories on Hex.pm but they will be private and packages in the global namespace cannot depend on them.

We have support for multiple repositories in the client n

[2017-03-11 16:14] #364 closed

[2017-03-11 16:15] ericmj commented on #390
Any news on this?

[2017-03-11 16:16] #481 closed

[2017-03-11 16:16] #457 closed

[2017-03-11 18:17] c0b commented on #457
**short url** is to keep link short, that's where you see the tinyurl.com/... bit.ly/... becoming popular and all big players in social network are building their own short link services; it's more useful for sharing: like https://hex.pm/cowboy (https://hex.pm/p/cowboy is also ok) is better than https://hex.pm/package/cowboy

[2017-03-11 18:20] ericmj commented on #457
I don't see the benefit to save a few characters, now that we are adding multi repository support there will be even less percentage saved. I think building a separate short linker service for hex.pm would be better or using one of the existing ones you listed.

[2017-03-11 18:24] michalmuskala commented on #457
What we could do is show a link to `hex.pm/packages/<name>` on the 404 page that is displayed if you open `hex.pm/<name>`

[2017-03-12 17:20] ericmj opened #489 "Add separate endpoint for release publish"
The problem with the current `POST /api/package/:name/releases` endpoint is that you can publish a package with a different name in the URL and the metadata. When I found I thought we had a security issue where you could publish a new version for a package you don't own, but fortunately due to other circumstances this was not possible. But you can still publish a package with incorrect metadata, I

[2017-03-12 23:17] borodiychuk commented on #450
How should it be named? Something like "Reverse dependencies"?

[2017-03-13 08:17] ericmj commented on #450
I think "dependents" work.

[2017-03-17 03:11] pragmaticivan opened #491 "Fix/remove coveralls service link from README"
Not sure if that was intentional, but coveralls is not working: https://coveralls.io/github/hexpm/hexpm

If there's intention to still using the service, maybe @ericmj needs to activate again or remove from:
https://github.com/hexpm/hexpm/blame/master/README.md#L108

[2017-03-17 12:31] ericmj commented on #491
I removed excoveralls because it did not build on 1.5.0-dev, the error has now been fixed to be a warning instead. But I don't think we should use coverage because the cover tools are not good enough.

[2017-03-17 13:05] ericmj opened #493 "Assets should not be pushed inside transactions"

[2017-03-20 08:36] #488 closed

[2017-03-21 07:28] qcam commented on #450
wondering if anyone has taken this issue? otherwise I could take it.

[2017-03-21 09:07] ericmj commented on #450
It's up for grabs. Let me know if you want to discuss what it should look like. My idea was to have link from the package page to the package search page with the filled query. The query can be something like "depends:ex_doc" to list all packages that depend on ex_doc.

[2017-03-21 19:11] qcam commented on #450
Yeah, that sounds like what is in my mind. Perhaps let me come up with a PR based on the idea and we can discuss further from there.

[2017-03-28 12:48] iamvery commented on #401
Leaving a note to say that I was pointed to this issue from a request to gather Elixir version usage statistics.

[2017-03-28 20:42] JeremyBellows opened #495 "[SEO] Typespec finding function signatures"
## Issue
Searching on google for `typespec function signatures` did not return https://hexdocs.pm/elixir/typespecs.html#types-and-their-syntax in the first page of results for me.  http://elixir-lang.org/getting-started/typespecs-and-behaviours.html was the top ranking but it did not answer how to express function signatures as types. Googling for `elixir function signatures as types` also returns

[2017-03-28 20:47] JeremyBellows commented on #495
Realized this is the wrong repo for this. moving the issue to elixir-lang

[2017-03-28 20:47] #495 closed

[2017-03-28 20:49] JeremyBellows commented on #495
Moved to https://github.com/elixir-lang/elixir/blob/d3f1fff8a9d00ab98e8f48ff02493831ff475d61/lib/elixir/pages/Typespecs.md

[2017-04-12 18:39] wojtekmach commented on #443
For anyone interested, I'm putting together a small tool (that can be installed as mix.archive) that automatically publishes git tags and does some rudimentary checks. See: https://github.com/wojtekmach/publish_plus

It can be extended further to check/store additional package metadata.

[2017-04-17 15:22] Qqwy commented on #415
Related to this: The current publishing example mix.exs contains an extra link to externally-published documentation. As documentation is now automatically generated and uploaded to hexdocs, should that line be removed?

[2017-04-17 15:43] ericmj commented on #415
Yes :+1:

[2017-05-04 06:39] Dieken opened #501 "show the last updated time for "most downloaded" on https://hex.pm"
I misunderstood those packages hadn't been updated for three years, that made me sad...  maybe add a row "updated xxx days ago"? I guess most people don't care the first publish time.

![image](https://cloud.githubusercontent.com/assets/2365/25692706/37e594da-30d7-11e7-89e0-e84eb1afe126.png)

[2017-05-04 07:27] ericmj commented on #501
Even though some of those packages haven't been updated recently they are still the most used packages on Hex. I don't think last update is a good metric because few updates can also be a good thing since it shows the package is stable.

First published at is not a good metric either but we need something there for the design to look good and I think I slightly prefer it.

[2017-05-04 07:33] ericmj commented on #501
I think only cowlib and poolboy are the only packages in that list that haven't had recent updates. They are used by phoenix and ecto because they are the best alternatives for what they do.

[2017-05-04 10:39] Dieken commented on #501
Yes, actually most popular packages are still actively maintained, so I feel showing last update time will greatly encourage newbies, and also remind users of these popular packages to upgrade.

I'm not insisting on removing last publish time, this doesn't matter much, I'm hoping showing last update time.

Thanks for your quick response!

[2017-05-04 16:17] michalmuskala commented on #501
I don't agree the last update time is a meaningful metric for a lot of libraries. It completely misses the point of libraries/packages being "complete" - and that definitely happens especially with smaller packages that do one thing well.

[2017-05-23 03:15] jcspencer commented on #278
I've got a working prototype locally that I'm putting the finishing touches on. Below are the implementation details, and any feedback would be much appreciated!

## Implementation Details

By default, a each user has a twofactor column that looks like:
{
  "id": uuid,
  "type": "disabled",
  "secret": "",
  "enabled": false,
  "backupcodes": []
}

Where:
- `type` is the type of 2FA to use; curren

[2017-05-24 13:06] ericmj commented on #278
It looks good @jcspencer. My only comment is that the twofactor column in the database should be its own table. How are the backup codes entered, do you enter them instead of the TOTP? Before we release this we also need a way for users to disable 2FA.

[2017-05-25 07:50] jcspencer commented on #278
Moving the twofactor column to a table is easy enough.

Currently, backup codes are simply entered instead of the TOTP code when prompted. They can be regenerated on the Dashboard page.

Users are able to disable 2FA on the dashboard. Currently it doesn't require verification, but should we require reauthentication before we disable it?

[2017-05-25 20:55] ericmj commented on #278
Yes, probably behind a "sudo mode" similar to how github does for some actions https://help.github.com/articles/sudo-mode/.

[2017-05-30 12:00] Qqwy opened #506 "Improve publishing documentation about `project.package.name` naming constraints"
Based on this issue on `Hex` itself: https://github.com/hexpm/hex/issues/364, it turns out that `project.package.name` is supposed to be in snake_case (lowercase with underscores as spaces) because this name is _usually_ taken from the OTP application name, which _usually_ follows this convention.

`Hex` itself seems (I did not check it myself to make sure) to enforce this, but the documentation d

[2017-05-30 12:15] ericmj commented on #506
It's validated on the server: https://github.com/hexpm/hexpm/blob/master/lib/hexpm/repository/package.ex#L54

Your proposal looks great!

[2017-05-30 14:10] #491 closed

[2017-05-31 17:56] druzn3k commented on #485
I'm trying to do this one, and it seems that's going smoothly. I'm keeping `HexWeb.Parallel` and using `Task.async_stream` inside that module. Is anyone else working on this?

[2017-06-09 17:19] #506 closed

[2017-06-15 11:19] phanimahesh commented on #425
Looks like this hasn't received any attention in a while. I too prefer a single `dev` version for simplicity, though having multiple dev versions (all ending in `-dev`) or a whitelist of common labels would be good.

If we choose a single fixed version, `master` implies that docs are in sync with git master to most people, which may not always be the case, so I vote for `dev`.

@ericmj, do we have

[2017-06-15 14:09] ericmj commented on #425
Hi @phanimahesh. We have discussed this again and you can go ahead with a PR if you want.

For now we will only allow a single non-version string and that is "master" so we need to make sure we handle this special case accordingly on the backend. On the frontend you will publish the master docs with `mix hex.publish docs --master`.

[2017-06-16 08:38] aseigo commented on #338
Is this issue closed now? I see Bamboo is used in master ... or is there something more needed / wanted?

[2017-06-16 10:51] ericmj commented on #338
We still use gen_smtp underneath. We need a bamboo adapter that uses the
AWS http API.

On Fri, 16 Jun 2017 at 10:38, Aaron Seigo <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2017-06-19 19:37] #486 closed

[2017-06-23 22:52] rschmukler opened #513 "No way to resend account confirmation emails"
When registering an account, if the email is undeliverable (eg. a glitch) you can hit a situation where there is no way into your account. You are unable to login (because the account is not yet confirmed) and you there is no way to re-trigger the delivery of the confirmation email.

If you attempt to re-register it will tell you that the username has already been taken.

[2017-06-23 23:13] wojtekmach commented on #513
Good catch, I thought resetting password would work but it did not. Btw, if you did hit this problem please email support@hex.pm and we'll assist with setting up the account.

[2017-06-24 00:03] rschmukler commented on #513
ericmj took care of me in the IRC but thank you

[2017-06-24 09:36] ddeboer opened #514 "GitHub webhook"
A problem with many packages on Hex.pm is that they aren’t up-to-date, even when new versions are tagged on GitHub.

As a workaround, I created [Hexpub](https://github.com/zotonic/hexpub), which automates publishing updates to Hex: every time a repository is tagged, an updated version will be pushed to Hex.

A better solution, of course, is to have proper GitHub integration. This can be done by ad

[2017-06-24 11:20] ericmj commented on #514
I don't think publishing to Hex should be automated because it's easy to miss things and make mistakes so I wouldn't want hex.pm to support this.

But this service doesn't have to be part of hex.pm, you can set up your own service that listens to the github webhook and published the package.

[2017-06-24 14:56] wojtekmach commented on #514
I also think that GitHub webhook is outside of Hex.pm's scope. IMHO Hexpub is actually a more versatile solution because it's independent of GitHub and would work with Gitlab, Bitbucket etc.

FWIW I think tags/version mismatch is a real problem. (shameless plug) I went the other way and created a tool that creates a tag on package publish: https://github.com/wojtekmach/publish_plus

[2017-06-24 18:47] wojtekmach commented on #450
Fixed by #511

[2017-06-24 18:47] #450 closed

[2017-06-24 19:50] wojtekmach opened #515 "Add audit logs for revoked keys when password is updated"
it's missing here: https://github.com/hexpm/hexpm/blob/168813d353afc93a5e74b97e403c8a67e084c74c/lib/hexpm/accounts/users.ex#L107:L108

cc @ericmj

[2017-06-25 10:50] wojtekmach opened #516 "Allow to interpolate package version when rendering links"
Since all `links` are shared between all package releases, it's not possible to construct a version-specific link like:

[code]

because a new release will overwrite it.

We should allow interpolating release version into the links so that when rendered on the Web/API the value is filled in:

[code]

thoughts @ericmj?

[2017-06-25 11:01] ericmj commented on #516
It seems like a bit of a hacky solution but I guess we need to do this since we can't display the changelog ourselves. I would like to instead find a safe way to render markdown instead of doing these workarounds :(.

Some things to consider is that the package metadata will have the uninterpolated string and we should probably store it like that as well, so that the metadata in the tarball and da

[2017-06-25 11:14] ericmj commented on #515
Nice find!

[2017-06-25 12:34] wojtekmach commented on #516
could you elaborate?

Yes that's exactly what I was thinking, that both tarball (metadata.config) and row in DB would have e.g. `"../%{version}/CHANGELOG.md"` and we'd interpolate it on the client, that is on Web, on API and when doing `mix hex.info <package>`

[2017-06-25 16:50] josevalim commented on #516
I wouldn't say this is a markdown issue but rather a consequence of the fact links are for the package and not for the release. If it was per release, the problem would not exist.

[2017-06-25 18:18] michalmuskala commented on #516
Hmm... if we by default generated `mix.exs` with a `@version` module attribute (and this is used by a lot of projects) - this means it would be easy to use `"foo#{@version}bar"` in the links without any special support.

[2017-06-25 18:24] ericmj commented on #516
If we included the changelog in the release and we could render and display it on the package page there would be need for this link.

If links are per release there would be no way to fix links for old releases.

But if we do this we still have the same problem that we are trying to solve that the link points to the wrong version for older releases.

[2017-06-25 20:54] #485 closed

[2017-06-28 14:38] ZackEyston opened #518 "PAGE NOT FOUND, no docs"
Hey,

My package [ExWrapper](https://hex.pm/packages/exwrapper) have a "PAGE NOT FOUND" when i publish it with "hex.publish". However, i check all stuff in my mix.exs and all are good for me.

Can you help me ?

[2017-06-28 14:48] wojtekmach commented on #518
you need to change `"exwrapper"` to `"ExWrapper"` here: https://github.com/OpenMercure/ExWrapper/blob/master/mix.exs#L25

See that this URL already works: https://hexdocs.pm/exwrapper/ExWrapper.html

[2017-06-28 14:48] #518 closed

[2017-06-28 15:04] ZackEyston commented on #518
Okay, i have make the changement, and push and hex.publish. But the link in hex.pm don't work again .. it redirect to https://hexdocs.pm/exwrapper/exwrapper.html.

[2017-06-28 15:08] wojtekmach commented on #518
It works now, the docs aren't immediately refreshed. In the future make sure to first test the docs locally if you find issues on hexdocs.pm. You can do that with `mix docs && open doc/index.html`

[2017-06-28 15:10] ZackEyston commented on #518
Okay mea culpa for the time lapse. Thx you for all :+1:

[2017-06-29 07:18] #515 closed

[2017-06-29 14:32] #514 closed

[2017-07-01 03:05] ardhitama opened #521 "URL is case sensitive"
[https://hexdocs.pm/Elixir](https://hexdocs.pm/Elixir) returning `404`
while [https://hexdocs.pm/elixir](https://hexdocs.pm/elixir) is correct.

The exptected behaviour according to [rfc3986 section-6.2.2.1](https://tools.ietf.org/html/rfc3986#section-6.2.2.1)  an URL should be case-insensitive.

[2017-07-01 07:57] ericmj commented on #521
Did you link to the wrong spec? According to what you linked only percent encoded triplets, scheme and hostname are case insensitive,  and everything else case sensitive.

We can't make /Elixir and /elixir have the same behaviour because the files are hosted by S3 which does not allow changing this. What we could try to do is to configure our CDN to always redirect to the lowercase path if there i

[2017-07-01 08:03] josevalim commented on #521
Yes, the spec only says percent encoding, scheme and hostname are case sensitive.

[2017-07-01 08:05] ardhitama commented on #521
Apologies, yes I'm mistaken.
I experienced this when I want to open elixir doc from mix. It's just a convenience thing.

Closing.

[2017-07-01 08:05] #521 closed

[2017-07-04 17:08] whitfin opened #524 "Download counts are coming back as a list of single-key maps"
Recently there was a change which caused the downloads to start coming back as the following instead of just a map with 3 keys.

[code]

[2017-07-08 12:05] ericmj commented on #57
It is unlikely the specifications from this point so we should look into this again.

[2017-07-08 19:32] zoldar commented on #513
What do you think about a following approach:

- Add ability to trigger password reset for any user, regardless if he has a verified email or not.
- When finalizing the reset request, always verify the user's primary email if it's not verified yet.

?

Is there anything with regards to the safety measures that I'm missing, please let me know.

[2017-07-08 21:36] wojtekmach commented on #513
the proposed flow sounds good to me, wdyt @ericmj?

[2017-07-08 22:03] #57 closed

[2017-07-08 22:07] ericmj commented on #513
I think that flow makes sense, another idea would be to make it possible to register with an existing email if the email is not verified yet.

[2017-07-09 16:25] zoldar commented on #513
Both flows could be implemented to reduce the element of surprise.

In case of registering with existing email, the flow could be following:

- On initial registration request, try fetching user by the same username with no verified emails
  * If such user exists, remove him along with the email(s) and then proceed with creating the entry (thought about updating, but this may pose a risk of reusin

[2017-07-09 20:46] zoldar commented on #513
I have realized one fundamental problem with the altered password reset flow - there can be more than one instance of the same email (1 verified, several unverified at the same time). That makes it impossible to select a single user account on the basis of email alone. I also see no way to introduce such guarantee (there can be several pending, unverified entries for the same email address under d

[2017-07-09 21:31] ericmj commented on #513
Then we should probably skip the changes to password resets and only allow reregistering an existing user with unverified email.

[2017-07-11 20:06] wojtekmach commented on #489
I've spoken with @ericmj and we decided that introducing another `POST /api/packages` endpoint that accepts tarball as request body makes sense. We've also considered `/api/:repository/packages` taking private repositories into consideration, but it's still TBD.

[2017-07-11 22:38] ericmj commented on #489
Sounds good. We should name it `POST /api/releases` and `POST /api/repo/:repo/releases` to make the distinction between releases and repositories.

[2017-07-11 22:40] ericmj opened #527 "Rename /repository to /repo in paths"

[2017-07-15 22:29] ericmj opened #529 "Improve email verification"
We have identified a few issues with the current sign up and email verification system. Here are the issues we need to fix:

  * [ ] Add link "Resend verification email" link on sign up and log in pages that directs you to a form to enter email.
  * [ ] Add timestamp to verification so that it expires after 24h. Make sure that you can still resend emails after 24h.
  * [ ] When signing up with an

[2017-07-18 17:42] #524 closed

[2017-07-23 11:03] Kapeli opened #532 "Documentation download links for Erlang packages not working"
Documentation download links for Erlang packages are not working.

Steps to reproduce:
1. Go to https://hex.pm/packages/hackney
2. Under the "Links" section, press the "download" link
3. Result: an AccessDenied page is shown.

[2017-07-23 11:40] wojtekmach commented on #532
Thanks for the report. The latest version of hackney (1.8.6 as of writing) does not have associated docs, which explains why the download link points to a file that doesn't exist.

On package page, when there're no docs associated with the latest release, we should either hide the download link or point download link to the latest published docs (possibly marking it a such)

Note, that on individu

[2017-07-23 13:05] josevalim commented on #532
@wojtekmach I would say there are no docs for that version. Hopefully that will also push library authors to publish their docs. We may also need a mechanism to say the docs exist externally, for tools such as Cowboy.

[2017-07-23 17:44] wojtekmach commented on #532
@josevalim we can achieve this with setting `links` in package metadata, e.g. for cowboy this could be:

[code]

[2017-07-23 20:31] ericmj commented on #532
@Kapeli Thanks for the report. We are working on a fix at https://github.com/hexpm/hexpm/pull/533.

Is Dash using the tarball downloads or does it work by scraping the docs of hexdocs.pm? Would it be possible for Dash to use the API instead and if not what can we do to make it possible?

[2017-07-23 20:50] Kapeli commented on #532
Dash uses the tarballs.

I use the API for searching and getting the list of versions available for a package. Once I have that I do HEAD requests to check if tarballs are actually available for the package's versions.

Instead of doing HEAD requests, it would be nice if the packages endpoint (i.e. https://hex.pm/api/packages/hackney) would list whether or not docs are available for each version,

[2017-07-23 21:04] #527 closed

[2017-07-23 21:05] #501 closed

[2017-07-23 21:14] ericmj commented on #532
I think HEAD requests is the best way to do it. We don't want to add more information to releases on the https://hex.pm/api/packages/hackney endpoint because the payload is already too big for packages with many releases.

A https://hex.pm/api/packages/hackney/docs endpoint may be better in that case that lists the docs for every release of the package.

[2017-07-24 15:48] #532 closed

[2017-07-25 10:04] rkotze opened #536 "CORS"
Will it be possible to allow `Access-Control-Allow-Origin:*` header in your API?

I am building a simple JS app to query your API to get the download numbers and no CORS is blocking my request.

[2017-07-25 10:49] ericmj commented on #536
Sounds good. We can start out with allowing it for GET and HEAD requests. We should use the corsica library for this.

[2017-07-27 01:55] ericmj opened #537 "Private repositories"
Overarching issue for tracking progress of private repositories.

### hexpm

  * [x] Add multiple repositories with `Repository` (ffd11d7850b52b243bda660b3c9eb39dd240e277)
  * [x] Permissions through `RepositoryUser` (ffd11d7850b52b243bda660b3c9eb39dd240e277)
  * [x] Authentication on repository CDN tested on Fastly (4cf998d628d9bfb262fdb446a69c4e3b339ed640)
  * [x] Authentication on repository CD

[2017-07-29 14:53] #432 closed

[2017-08-01 18:04] JeffreyATW opened #540 "Anonymous visitor appears logged in when viewing user profile"
1. Go to https://hex.pm/users/labzero
2. Observe header

Expected:
Should see a "log in" link

Actual:
I look like I'm logged in as Lab Zero, complete with a dropdown containing a Logout link

[2017-08-01 18:57] wojtekmach commented on #540
Thanks for the report, that's definitely a bug.

[2017-08-01 19:56] #540 closed

[2017-08-02 16:09] ericmj opened #542 "Document dispute process"
https://www.npmjs.com/policies/disputes

[2017-08-10 21:00] krivtsov opened #544 "PAGE NOT FOUND"
the text on this page  https://hexdocs.pm/phoenix/controllers.html#content
not working link

[2017-08-10 21:12] josevalim commented on #544
Thats a bug in the Phoenix docs, not on Hex. The new link should be: https://hexdocs.pm/phoenix/ecto.html

[2017-08-10 21:12] #544 closed

[2017-08-11 01:12] wojtekmach opened #545 "Duplicate search results"
E.g.: https://hex.pm/packages?search=vault&sort=downloads

![zrzut ekranu 2017-08-11 o 03 11 35](https://user-images.githubusercontent.com/76071/29198284-cb2d6872-7e42-11e7-8c06-e79a6ea406eb.png)

[2017-08-11 08:54] ericmj commented on #545
Fixed in f72d4d5aa17b2fd764b7561e67603965dd6b2575, also see a98fa33c72036a5c1bc84a476a1b3f15e3c2485d.

[2017-08-11 08:54] #545 closed

[2017-08-16 20:15] ericmj opened #549 "Show tarball checksum on package page"

[2017-08-19 23:20] #549 closed

[2017-08-26 15:57] jfeaver opened #557 "As a user, I want to access the Elixir language documentation from the homepage so that I can have one access point to (and bookmark for) Elixir documentation"
For example:

* Static links to https://hexdocs.pm/elixir/ and other contexts listed on the official docs page (https://elixir-lang.org/docs.html)
* Allow searching for the projects listed on the official docs page

[2017-08-26 19:14] ericmj commented on #557
Not sure exactly what you are requesting but we can't list the core elixir libraries on hex.pm because they are not Hex packages. If we listed them people would think they can download them as packages.

[2017-08-27 14:33] #536 closed

[2017-08-27 22:33] ericmj opened #559 "Add API key generation to dashboard"

[2017-08-28 01:28] jeramyRR opened #560 "Display repository README on package landing page"
Rust's cargo.io recently announced some new features that were a nice addition to the package managers site.  One such feature is the addition of displaying the a packages github (or whatever repo) README file.

This is different in how hex.pm displays information related to a project.  Hex currently provides a link to the packages repo, but doesn't display the README directly.

I think this featu

[2017-08-28 01:30] jeramyRR commented on #560
I apologize if this isn't the correct way to suggest features for hex, but the README does not discuss what route to take for this action.

[2017-08-28 01:34] jeramyRR opened #561 "Search results displays packages based off number of downloads recently"
Rust's cargo.io recently announced some new features that were a nice addition to the package managers site.  One such feature is displaying search results based off  a packages number of downloads recently rather than all time by default.

This feature can be an indicator that a newer project is addressing the needs of the community better than an older project as it will be more popular at the t

[2017-08-28 06:44] ericmj commented on #561
This sounds like a good idea but first it would be nice to see some examples where changing this would improve the search results.

[2017-08-28 07:05] ericmj commented on #560
This is something I would like to have but it has been rejected in the past because of the associated security issues. The readme is user generated content so we need to be careful with how we render and display it, for example hexdocs.pm is on a separate domain to prevent attacks on hex.pm where you are signed in.

Readmes can be in many different formats, but the majority is probably in markdown

[2017-08-28 07:28] ericmj commented on #561
Actually, we can implement this without examples of search improvements.

We should be he change results and the "Most downloads" on the front page to be based on the downloads for use last 30 days instead of all time downloads.

[2017-08-28 09:34] josevalim commented on #560
@ericmj I wonder if we can solve this issue by having `hexreadme.pm` and embedding the markdown documents as an iframe. Although I am not sure if vulnerabilities can be expose like that.

[2017-08-28 09:43] josevalim commented on #560
Another idea is to do the sanitization on the javascript side, since we can rely on the browser tools for parsing and manipulating the tree. Here is an example: https://www.quaxio.com/html_white_listed_sanitizer/

[2017-08-28 09:55] josevalim commented on #560
/cc @hrefhref

[2017-08-28 11:26] hrefhref commented on #560
I've had a look at [crates.io' implementation](https://github.com/rust-lang/crates.io/pull/869), and it works by rendering the README, sanitizing the output with Ammonia, uploaded to S3 and loaded onto crates.io by an XHR request.

Adding a restrictive CSP policy adds another level of security, as it will safe-guard from the sanitizer possible flaws.

With a sanitizer & CSP, I think the iframe is

[2017-08-28 12:58] GriffinMB commented on #560
I agree with @hrefhref that sanitization plus a good CSP should be sufficient. Additionally, readme content doesn't typically need to be particularly "rich", so I also think you would be able to be extra conservative in what tags and attributes you allow. IE, don't allow the target attribute for links, or user-specified alt-name for images, etc. I think the key will be deciding upon as minimal an

[2017-08-28 13:28] jeramyRR commented on #560
Here is the link to the crates.io announcement which is really just a pull request.  They officially announced it at RustConf.

https://github.com/rust-lang/crates.io/pull/869

[2017-08-28 13:52] ericmj commented on #560
Thanks for you input, sanitizing and setting a restrictive CSP seems like the way to go. Would loading the readme inside an iframe instead of loading directly or over XHR add any safety?

I think we are going to go with a more established sanitizer such as the one used by github https://github.com/github/markup or cargo.io https://github.com/notriddle/ammonia and call it over a port, then upload t

[2017-08-28 14:24] GriffinMB commented on #560
There's the [sandbox](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#Attributes) attribute for iframes, which should prevent JavaScript execution. It would only work for modern browsers, but could also be beneficial.

[2017-08-28 16:50] jeramyRR commented on #561
@ericmj, I'd like to implement this feature.  Can you assign it to me?

[2017-08-28 17:18] earthrid opened #562 "Broken links to Ecto Models Guide"
The following pages link to the "Ecto Models Guide" but all give a "Page not found" error.

https://hexdocs.pm/phoenix/seeding_data.html
"as described in the Ecto Models Guide"

https://hexdocs.pm/phoenix/testing_models.html
"In the Ecto Models Guide we generated an HTML resource for users."
+
"If this is not the case, please see the section on adding Ecto and Postgrex of the Ecto Models Guide and

[2017-08-28 17:51] wojtekmach commented on #562
Thanks for reporting! The issue is in phoenix guides, they link to a page that doesn't exist anymore:

See: https://github.com/phoenixframework/phoenix_guides/blame/master/docs/testing/testing_models.md#L3

It should probably link to [`ecto.html`](https://hexdocs.pm/phoenix/ecto.html). Could you open up an issue or ideally a PR on https://github.com/phoenixframework/phoenix_guides? Closing since i

[2017-08-28 17:51] #562 closed

[2017-08-28 18:26] earthrid commented on #562
Thanks @wojtekmach! I wasn't sure... :)

[2017-08-28 19:40] jfeaver commented on #557
Okay, that makes sense. I am mentioning this as an issue because I was surprised when I went to the Hex docs homepage and couldn't get to the core elixir libraries because I knew that they were hosted on the hex docs site. That surprise felt like a bug.

It would also be really convenient if I could have just one bookmark that leads me to core elixir documentation as well as elixir package documen

[2017-08-28 20:50] ericmj commented on #557
Where would you expect to find documentation to core docs and package docs?

On the https://elixir-lang.org/docs.html page there are links to Elixir core docs and in the top-right corner there is a link to https://hex.pm.

Elixir core docs were added to hexdocs as a convenience for users to have single place to find Elixir documentation, but the Elixir core applications will not be visible on http

[2017-08-28 21:03] jfeaver commented on #557
Awesome! The hexpm/hexdocs-static#8 PR is a great solution. I imagine there could be a dropdown menu next to the right or left of the "Documentation" dropdown that says "Core" and lists those same documentation links. Thanks for adding the core apps to search results!!

[2017-08-29 12:56] cloud8421 opened #563 "Broken links for organisation members"
In the org dashboard, clicking a username leads to a 404 as it routes by user id rather than username.

![screenshot 2017-08-29 13 55 29](https://user-images.githubusercontent.com/537608/29821978-cbfa45c6-8cc1-11e7-8b28-1b8eedc4fd8f.png)

[2017-08-29 13:10] #563 closed

[2017-08-29 13:10] ericmj commented on #563
Thanks for the report!

[2017-08-30 09:56] ericmj opened #564 "Add :organization to dependency declaration snippet on package page"
/cc @Gazler

[2017-08-30 12:59] hrefhref commented on #560
I don't think so. With the sanitizer and CSP policy everything is covered.

@GriffinMB I think this attribute is only useful when you don't control what's going to be in the iframe

[2017-08-30 13:01] ericmj commented on #560
@hrefhref Sanitizers can have bugs so if we can add sandboxing that would be beneficial.

[2017-08-30 13:09] hrefhref commented on #560
A restrictive CSP is enough:

[code]

will only allow to load stylesheets, scripts and fonts from self (the site hostname) and **nothing else**. No inline scripts, styles, objects, iframes, ….

[2017-08-30 13:48] GriffinMB commented on #560
Chiming in to reaffirm that an appropriately restrictive CSP + sanitizer would be enough for modern browsers. Really, a restrictive enough HTML sanitizer should be enough on its own. The `sandbox` attribute is just another option for preventing JavaScript execution, with the benefit of additionally supporting older browsers like IE10.

[2017-08-30 21:28] crownedgrouse commented on #529
Hi, I'm in such issue. I never received confirmation email, cannot send it again, and mix telling me that username is already used. I sent a mail to support but never got answer either. :(

[2017-08-31 03:14] jeramyRR commented on #561
@ericmj,
Attached is a picture of the progress I've made so far.  Any thoughts?

![image](https://user-images.githubusercontent.com/1684189/29904860-98c8df4a-8dd0-11e7-8841-5cc5926105e9.png)

[2017-08-31 08:43] ericmj commented on #561
@jeramyRR i think we should show only the "last 90 days" count and call it "recent downloads"

[2017-08-31 09:15] crownedgrouse commented on #529
See also #513

[2017-08-31 09:37] ericmj commented on #529
@crownedgrouse I don't think we received any such email on support@hex.pm. Can you resend the support email again and give us the username you signed up with?

[2017-08-31 09:41] ericmj commented on #529
@crownedgrouse I think I found your user, I resent the email but we haven't received any notifications about bounces or delivery failures so please check your spam folder and verify that the email you gave is correct.

[2017-08-31 09:52] crownedgrouse commented on #529
unfortunalety I do not see the confirmation mail, while in the mean time I get the github followup of this issue at same address.  Nothing in Spam folder. Weird.
Could you send a mail from support@hex.pm to email you get in database ?

[2017-08-31 10:00] crownedgrouse commented on #529
my bad, i checked my local spam folder, but in webmail of my mail provider I see you mails in spam folder, among others. hirk.  did not notice that a such service was active.
sorry for the noise.

[2017-08-31 10:02] crownedgrouse commented on #529
BTW there is a dot at end of the confirmation URL. this could be not well understood by users copying/paste the URL in browser. Add a space at least.

[2017-08-31 10:15] ericmj commented on #529
Thanks for the feedback, we will do that.

[2017-09-04 21:58] savonarola opened #568 "Add WebDAV Hexpm.Store"
Hello!

In our company we often work with code which unfortunately can't be legally transferred to external services like hex.pm or AWS S3. So currently we use internal packages through `git:`option in `mix.exs`.

A possible option would be maintaining an internal instance of `hexpm`, but currently it has only one production-ready `Hexpm.Store`: S3. It would be great to have a `Hexpm.Store` for so

[2017-09-05 06:17] wojtekmach commented on #568
Hello! We don't have plans to implement or maintain other `Hexpm.Store` implementations in this repo. However, it should be fairly straightforward to fork `hexpm`, build webdav implementation and configure your hexpm instance to use that instead [1].

Depending on your organization, running `hexpm` as your private repository might be an overkill though, because it has extra stuff like users manage

[2017-09-05 06:22] wojtekmach commented on #568
I'm gonna close the issue but feel free to continue discussion here.

[2017-09-05 06:22] #568 closed

[2017-09-05 07:50] savonarola commented on #568
Thanks for the detailed answer.

Having API specification, implementing some minimal readonly repo from scratch (or through forking mini_hex) sounds reasonable.

[2017-09-09 00:13] wojtekmach commented on #561
Fixed in #566

[2017-09-09 00:13] #561 closed

[2017-09-09 15:33] wnederhof opened #570 "Broken links through Google"
When trying to access Hex through Google, for example when searching for "phoenix generate model types", I find addresses such as:

https://hexdocs.pm/phoenix/Mix.Tasks.Phoenix.Gen.Model.html

Which is broken, and similar search queries lead to broken links as well. Did something change in the routing maybe?

[2017-09-09 15:41] wojtekmach commented on #570
So the problem is https://hexdocs.pm/phoenix always points to the latest version, which as of right now is v1.3.0. In that version, `Mix.Tasks.Phoenix.Gen.Model` is deprecated and does not show up in the docs. Note the link works when v1.2.0 is used explicitly: https://hexdocs.pm/phoenix/1.2.0/Mix.Tasks.Phoenix.Gen.Model.html

[2017-09-09 16:12] #564 closed

[2017-09-09 16:33] ericmj commented on #570
We are moving hexdocs from static file hosting to run as a proper application. When we have done that we can start improving things like this since the hexdocs application can look at all phoenix versions and generate redirects or links to older versions. Right now it's impossible to fix because hexdocs just hosts files that package owners uploads.

Another idea would be to add a module attribute

[2017-09-12 16:32] Gazler opened #571 "Show latest stable release on hex.search"
[code]

This is related to https://github.com/hexpm/hexpm/issues/451

[2017-09-12 18:03] ericmj commented on #571
We should add a `latest_stable` field to the results.

[2017-09-17 23:25] jeramyRR commented on #560
So, I think its been decided that this is doable, but with a bit of defensive work.  What if we changed the requirements a little bit and switched from displaying github readmes to hexdocs readmes?  An example would be the readme.html from watchdogs hexdocs.

https://hexdocs.pm/watchdog/readme.html

[2017-09-18 03:47] ericshively opened #573 "hexdocs up and running guide "Page not Found""
In the Up and Running guide at:

A few paragraphs down is:
"Phoenix assumes that our PostgreSQL database will have a postgres user account with the correct permissions and a password of “postgres”. If that isn’t the case, please see the instructions for the ecto.create mix task."

ecto.create links to: https://hexdocs.pm/phoenix/mix_tasks.html#ecto-specific-mix-tasks

but is "Page not found" and a

[2017-09-20 08:36] rNoz opened #574 "Tests fail"
Hi,

I am trying to add a bit more of functionality related with the API, and the first thing I have done is downloading everything and running the tests. I tried with both branches: master and production.

The result is 324 tests, 75 failures, 5 skipped. Is this normal?

Should I add the functionality, add some tests to test it and do a pull request to you? Even if the normal repo has 75 failures

[2017-09-20 08:51] wojtekmach commented on #574
The build is green on master on CI, so likely there is something wrong in your local setup. Could you paste test failures?

[2017-09-20 08:58] rNoz commented on #574
Weird. Let's see what is wrong in my system. I am in the production branch. I will run a specific file to avoid so much error messages.

[code]

[2017-09-20 11:07] jeramyRR commented on #574
Did you stand up the test database?

[2017-09-20 11:12] rNoz commented on #574
Oh, bah, I messed up forgetting to use MIX_ENV=test when I did the mix ecto.drop/create (although the database hexpm_test was created in postgres).

[code]

It passes.

Thanks and sorry!

[2017-09-20 11:12] #574 closed

[2017-09-22 01:28] ericmj commented on #560
@jeramyRR Unless I misunderstand you I don't think that changes anything because both are rendered from the same markdown readme file.

[2017-09-23 23:52] ScottRadcliff commented on #573
Just commenting that I experienced this also and came here to open an issue or contribute in some way.

[2017-09-24 15:06] ericmj commented on #573
Please open an issue on the phoenix repository.

[2017-09-24 15:06] #573 closed

[2017-09-27 12:44] bitboxer opened #576 ":socket_closed_remotely when trying to get dependencies"
We are seeing this error when trying to load dependencies via hexpm since this morning:

[code]

I have no idea what is happening there, is this a problem on the hexpm servers or something we need to figure out on our side?

[2017-09-27 13:59] ericmj commented on #576
We are tracking this issue here https://github.com/hexpm/hex/issues/428.

[2017-09-27 13:59] #576 closed

[2017-09-28 15:29] ericmj commented on #557
PR is merged.

[2017-09-28 15:29] #557 closed

[2017-09-28 15:32] #493 closed

[2017-09-28 15:34] ericmj commented on #516
I don't feel like this is a high priority issue. If we need something like this I think it's better to render the changelog directly, see: https://github.com/hexpm/hexpm/issues/560.

[2017-09-28 15:34] #516 closed

[2017-09-28 15:36] ericmj commented on #570
@josevalim What do you think about adding a `@deprecates_module` attribute?

[2017-10-05 23:58] wojtekmach opened #577 "/api/packages?sort=downloads no longer works"
Instead now `total_downloads` or `recent_downloads` needs to be used. hex client is still using `downloads` which is ignored. Thus, e.g.: `cowboy` does not show up at the top:

[code]

@ericmj should we change hex client, or support `downloads` again in the API?

[2017-10-05 23:59] ericmj commented on #577
@wojtekmach We should probably change back total_downloads to downloads. What do you think?

[2017-10-06 00:03] wojtekmach commented on #577
Agreed; I think we can simply transform `total_downloads` to `downloads` in the controller or something along these lines. Thus the API would effectively support: `downloads | total_downloads | recent_downloads`. Or just `downloads | recent_downloads`?

[2017-10-06 00:15] ericmj commented on #577
You're right, we should probably support all three because total_downloads has been out for so long.

[2017-10-06 19:46] #577 closed

[2017-10-07 20:35] kelvinst commented on #571
If no one is working on it, I guess I can get this done!

[2017-10-08 08:40] ericmj commented on #571
@kelvinst Go ahead!

[2017-10-08 13:51] dotboris commented on #571
@kelvinst I didn't realize that you left a comment. I already got this done. Sorry for cutting the grass under your feet.

[2017-10-08 14:16] kelvinst commented on #571
@dotboris no problem, didn't started it yet. ;)

[2017-10-08 20:49] ericmj commented on #571
Closed in favor of PR https://github.com/hexpm/hex/pull/431.

[2017-10-08 20:49] #571 closed

[2017-10-22 07:40] ilkka opened #583 ""Finding documentation" search does not work on Edge"
Using Microsoft Edge, typing e.g. "Ecto" into the search box and pressing enter results in this error in the console:

[code]

It is thrown from line 100 of the HTML, from the embedded script block. The line in question is

[code]

There's an [Edge platform issue about the missing iterable implementation](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5998615/), so I guess it

[2017-10-22 10:56] josevalim commented on #583
@ilkka we would definitely appreciate a contribution that fixes it. :) What do you think?

[2017-10-22 12:24] ilkka commented on #583
@josevalim sure, I'll give it a go. I guess it's just vanilla JS in [hexpm/hexdocs-static](https://github.com/hexpm/hexdocs-static/), not built from anywhere else?

[2017-10-22 12:53] josevalim commented on #583
That seems to be the case but we can wait until someone else confirms.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-10-22 12:53] ericmj commented on #583
Correct, hexdocs-static contains the sources.

[2017-10-22 12:58] ilkka commented on #583
Submitted PR GH-9.

[2017-10-22 14:05] ericmj commented on #583
Closing in favor of PR.

[2017-10-22 14:05] #583 closed

[2017-11-02 00:11] robertbenjamin opened #585 ""Toggle Sidebar" label is positioned incorrectly"
Stumbled across this here: https://hexdocs.pm/nerves/getting-started.html

<img width="929" alt="screen shot 2017-11-01 at 5 08 52 pm" src="https://user-images.githubusercontent.com/8145721/32303684-5d188f1c-bf27-11e7-9aaa-443a7d9e96a3.png">

The label is a `span` inside a `button`, but doesn't seem to have any styling applied to it.

The vertical spacing can be fixed with the following CSS:

[cod

[2017-11-02 01:14] ericmj commented on #585
Please confirm this issue happens on latest ex_doc and if so reopen at https://github.com/elixir-lang/ex_doc/.

[2017-11-02 01:14] #585 closed

[2017-11-11 12:34] NobbZ opened #586 "gravatar without public email address"
I'd like to have my gravatar visible, but not my main email address.

If one wants to contact me, he can do so via the issue trackers of the packages, via Twitter or the Forum. Each of these ways will pop up in my mailbox anyway and I will take notice of it.

I wont reply any faster on a direct mail than on a message via the former ways.

Even worse, by not using the issue trackers, any message wi

[2017-11-11 12:56] ericmj commented on #586
In the same way we have a dropdown to select your public email we can have an option for a  dropdown that selects the email used for gravatar. Contributions would be welcome.

[2017-11-14 21:07] theM0 opened #587 "Broken link on Ecto guide in Phoenix"
In the ecto guide there is a broken link to Using MySQL Guide instead of postgreSQL.
Could you fix that?

Broken link: https://hexdocs.pm/phoenix/using_mysql.html

[2017-11-14 23:06] ericmj commented on #570
Closed due to lack of activity.

[2017-11-14 23:06] #570 closed

[2017-11-14 23:08] ericmj commented on #587
Please report phoenix docs issues to phoenix, hex does not maintain other projects documentation.

[2017-11-14 23:08] #587 closed

[2017-11-16 17:02] dukedave opened #588 "Document difference between password and passphrase"
When following [**Authenticating on CI and build servers**](https://hex.pm/docs/private) on a fresh install I got:

[code]

I followed the instructions:

[code]
:arrow_up: I _assumed_ `password` was my http://hex.pm one, and that seemed to work.

Then I tried again:
[code]

:arrow_up: this is the first time I've met the term `passphrase` and I didn't know what to do.
I tried making up a new one, b

[2017-11-17 09:36] ericmj commented on #588
The passphrase is used to encrypt your local API key, we always ask for the passphrase except for when creating the API key. The key is created with `mix hex.user auth` and will ask for your hex.pm account password. By default the password is used as encryption passphrase. So to sum up, password is your account password, passphrase is what we use to decrypt the API key.

The reason we keep passphr

[2017-11-17 12:09] josevalim commented on #588
Maybe "Local password" and "Server password"?

[2017-11-26 21:37] ericmj commented on #338
I am working on replacing this with ex_aws_ses and a custom bamboo adapter.

[2017-11-26 21:37] #338 closed

[2017-12-09 08:31] faraazahmad opened #596 "fix navbar layout on mobile"
[
![screenshot_20171209-135828](https://user-images.githubusercontent.com/19265077/33794022-1c429832-dcbb-11e7-8c3a-beb25e0e43d2.png)
](url)

Here we can see the navbar is not properly aligned, it would be great if this got fixed

[2017-12-09 11:26] ericmj commented on #596
I can't reproduce this on my devices or stepping through the device list in Chrome. What device and browser are you using?

Any help fixing this would be appreciated.

[2017-12-09 13:21] faraazahmad commented on #596
Firefox and Firefox NIghtly on Android 7.0. It's probably also happening on Firefox Beta

[2017-12-09 13:48] ericmj commented on #596
Thanks.

I cant reproduce with Firefox in responsive mode on desktop and I don't have an Android device that can reproduce either. Any help with this issue would be appreciated.

[2017-12-09 15:13] faraazahmad commented on #596
I think Firefox is using a slightly different rendering engine on their android browsers. I assume you have iOS, can you check with Firefox on that?

[2017-12-10 01:47] ericmj commented on #596
I can't reproduce on iOS Firefox. I think all iOS browsers uses the Mobile Safari engine.

[2017-12-13 21:58] juhalehtonen commented on #596
Can confirm that this issue occurs on the latest Firefox for Android, which contain updates to the engine released around the time when Quantum landed on Firefox for desktops. Earlier versions of Firefox for Android are not affected.

You're also completely correct with your thought regarding Firefox for iOS using Apple's Safari/WebKit engine :)

Opened https://github.com/hexpm/hexpm/pull/598 whic

[2017-12-17 21:04] #596 closed

[2017-12-18 13:56] wojtekmach commented on #586
Closed by #593

[2017-12-18 13:56] #586 closed

[2017-12-20 11:19] beatrichartz opened #600 "Latest doc link broken"
Hi there, the latest doc link for this package is broken: `https://hexdocs.pm/csv` - is that the right doc link, is there something wrong with the package, or is this a bug in hexdocs? Not sure how to fix this.

[2017-12-20 11:27] ericmj commented on #600
Can you try generating the docs locally and see if they work there? Run `mix docs`.

[2017-12-20 11:53] beatrichartz commented on #600
Thanks for the pointer - I had `main:` pointing to the wrong location.

[2017-12-20 11:53] #600 closed

[2017-12-20 11:58] beatrichartz commented on #600
How long does it take for hexdocs.pm to update when published?

[2017-12-20 11:59] ericmj commented on #600
They should update immediately, just make sure you are not seeing the local
browser cache.

On Wed, 20 Dec 2017 at 12:58, Beat <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2018-01-05 10:57] ericmj opened #602 "Add html_url to /api/users/me owned_packages payload"
We need to return `html_url` to use it in `mix hex.owner packages` [1]

This is tricky as currently it's a map:

[code]

and so changing the shape will break clients. We should deprecate `owned_packages` in API payload and introduce `packages` which is a list of maps.

[1] https://github.com/hexpm/hex/blob/v0.17.1/lib/mix/tasks/hex.owner.ex#L123

Created from hexpm/hex#465.

[2018-01-05 21:29] supersimple opened #603 "discussion: Allow package search with "and""
The current package search uses an implicit "or" when entering multiple strings. It has been mentioned an option for searching for a package that contains all entered strings would be useful.

[2018-01-05 23:08] OvermindDL1 commented on #603
Or if we do something like surround a word in doublequotes then it becomes required, thus surrounding every word in doublequotes essentially turns it into an 'and'.

[2018-01-06 02:05] josevalim commented on #603
My vote would be for +. +foo requires it to be present. -foo would require
it to be missing.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-01-06 12:14] ericmj commented on #603
We can probably do these things after we change the search system: https://github.com/hexpm/hexpm/issues/390. Right now I wouldn't want to spend time improving the postgres full text search if we are going to replace it.

[2018-01-07 06:25] supersimple opened #605 "Clean up retirement message when reason is other"
When a package is retired, the retirement html displays the reason. However, if the reason is "other", nothing is displayed. When including a message with the "other" reason, the message starts with a colon (it is used to indicate further information about the reason.)
It works fine for any other reason, but for "other", it looks incorrect. See Screenshot.
<img width="1060" alt="screen shot 2018-0

[2018-01-07 06:26] supersimple commented on #605
Also, if a message is not included with an "other" reason, there is just an empty red box.

[2018-01-08 09:47] wojtekmach opened #607 "Add retirement to `GET /api/packages/:name` endpoint"
Ref https://github.com/hexpm/hex/issues/480#issuecomment-355842543

E.g.:

[code]

[2018-01-08 10:03] wojtekmach commented on #607
@ericmj forgot to mention, representing retirement like this will allow us to also add it to the `GET /api/packages` list endpoint. I think we can do that because I'd guess most packages would have 0 or only a few retired releases so we wouldn't increase the payload by much. No need to do that yet though, we can wait on that for a use case.

[2018-01-10 18:39] wojtekmach commented on #588
we're moving forward with "local password" & "account password" which has some additional explanation in Hex client.

[2018-01-10 18:39] #588 closed

[2018-01-11 13:23] #368 closed

[2018-01-11 13:23] #401 closed

[2018-01-11 13:25] #603 closed

[2018-01-11 13:25] ericmj commented on #605
Closing if favor of PR #606.

[2018-01-11 13:25] #605 closed

[2018-01-11 13:39] iamvery commented on #401
Is there anything we can link here to show relevant work? Or perhaps this was closed without intent to complete?

[2018-01-11 13:42] ericmj commented on #401
It's hard to make the stats accurate since they are over-represented by CI systems and after we split the registry into multiple files users with many dependencies would also be over-represented.

[2018-01-11 13:43] iamvery commented on #401
Makes sense! Thanks for the clarification ❤️

[2018-01-11 16:30] ericmj commented on #197
We will keep the republish/revert window and increase the window for newly created packages. The windows will be:

* 1 hour within package release
* 24 hours within the first package release

[2018-01-11 16:30] #197 closed

[2018-01-12 00:14] #602 closed

[2018-01-12 08:45] azatmurtazin opened #614 "Something wrong with docs layout"
For example:

https://hexdocs.pm/mogrify/Mogrify.html

![img](https://i.imgur.com/7Dc1Ccr.png)

[2018-01-12 08:53] josevalim commented on #614
We just host the assets. The docs are completely generated by the mogrify package. Please ask them to update their ex_doc version and run `mix hex.publish docs` to get a fresh looking one.

[2018-01-12 08:53] josevalim commented on #614
Thanks!

[2018-01-12 08:53] #614 closed

[2018-01-13 01:56] fireproofsocks opened #617 "Broken Link to "Using MySQL Guide""
The page https://hexdocs.pm/phoenix/ecto.html contains a link labeled "Using MySQL Guide" which points to https://hexdocs.pm/phoenix/using_mysql.html
That page is a 404.  Where is the MySQL Guide?

[2018-01-13 08:10] josevalim commented on #617
This is an issue with the Phoenix package. It has supposedly been fixed here: https://github.com/phoenixframework/phoenix/issues/2641

@ericmj @wojtekmach I am thinking we should include a javascript in the 404 page. The javascript would parse the path and send it to Hex API asking: is this a valid package path? If so, does the package exist? If so, does this version have docs? The Hex API would r

[2018-01-13 14:08] ericmj opened #618 "Add checks for common errors on hexdocs 404 page"
Comment from @josevalim in https://github.com/hexpm/hexpm/issues/617#issuecomment-357417808:

[2018-01-13 14:08] ericmj commented on #617
Yeah, I think that's a good idea. I have opened a new issue to track this.

[2018-01-13 14:08] #617 closed

[2018-01-15 23:28] supersimple commented on #607
This should be closed now. https://github.com/hexpm/hexpm/pull/616

[2018-01-15 23:29] supersimple commented on #607
This should be closed now. https://github.com/hexpm/hexpm/pull/616

[2018-01-15 23:37] wojtekmach commented on #607
👍

[2018-01-15 23:37] #607 closed

[2018-01-16 13:29] michallepicki opened #619 "FOUC in Firefox"
When loading a package's page with Firefox (e.g. https://hex.pm/packages/poison), for a brief moment the screen is taken over by a huge black-and-white icon (see screenshot below). When browsing through packages, this causes the screen to flash from white to black and back to white multiple times.

We can probably improve browsing experience by inlining some of the styles used by these icons in th

[2018-01-16 13:45] ericmj commented on #619
Is this what you reported as bug to Firefox @michalmuskala? I thought if your style tag is in `<head>` the rendering should block until CSS is loaded.

I guess we can fix the issue on our end even it's a browser bug. 👍

[2018-01-16 13:58] michallepicki commented on #619
Right, so the actual problem is with Firefox. People at stackoverflow say it may be because of the `autofocus` html attribute. We can set it with javascript instead: https://stackoverflow.com/a/43794008

[2018-01-16 14:00] ericmj commented on #619
That sounds like a good idea. @michallepicki Would like to try it out?

[2018-01-16 14:01] michallepicki commented on #619
Yes, I'll make a PR or write back when I know if it is the cause.

[2018-01-16 14:50] #619 closed

[2018-01-18 04:11] atomkirk opened #621 "broken links"
these links don't work in the 1.6 release announcement

![](https://d.pr/i/8MKekk+)

[2018-01-18 06:25] wojtekmach commented on #621
I've opened up a fix: https://github.com/elixir-lang/elixir-lang.github.com/pull/1075 on the elixir-lang.github.com repo, thanks for the report!

[2018-01-18 06:25] #621 closed

[2018-01-20 18:28] cjbottaro opened #622 "Incorrect redirect when going to package's documentation"
Going to the default documentation page:
https://hexdocs.pm/faktory_worker_ex/
incorrectly redirects to:
https://hexdocs.pm/faktory_worker_ex/README.html
(README should be lower cased)

The strange thing is that going to a specific version:
https://hexdocs.pm/faktory_worker_ex/0.5.0/
redirects to the _correct_ page:
https://hexdocs.pm/faktory_worker_ex/0.5.0/readme.html

Thanks!

[2018-01-20 18:38] wojtekmach commented on #622
https://hexdocs.pm/faktory_worker_ex/ correcty redirected to https://hexdocs.pm/faktory_worker_ex/readme.html - could you double-check, clear browser cache etc?

Btw, `main: "README"` should be `main: "readme'` for markdown pages in [1], see e.g. on [2]

[1] https://github.com/cjbottaro/faktory_worker_ex/blob/2084bf0c7761d6898ff69f5b01fd5e73fc90b7bf/mix.exs#L31
[2] https://github.com/elixir-lang/e

[2018-01-20 18:38] #622 closed

[2018-01-20 18:40] cjbottaro commented on #622
Cool, thanks... yeah was caching issue. Sorry about that.

[2018-01-20 18:48] wojtekmach commented on #622
no worries!

[2018-01-20 21:19] lee-dohm opened #623 "Differentiate between active and retired packages on the user profile page"
I really like the "retire" feature! It allows me to mark packages as unmaintained but still not break things by unpublishing them.

I think it would be nice if, on one's user profile page, there would be some indication if the latest version of a package was retired. Maybe have a subheading of retired packages separate from the active ones?

[2018-01-20 21:33] wojtekmach commented on #623
Something we've previously discussed was a notion of "retired package" meaning the package as a whole is retired (e.g. project got renamed, there are better alternatives, abandoned etc). I think if we have that then annotating and/or displaying them in a separate subheading would make sense.

For now, I think if latest release got retired it doesn't necessarily mean the package as a whole is aband

[2018-01-20 21:37] lee-dohm commented on #623
Fair enough! Thanks for the update.

[2018-01-20 21:37] #623 closed

[2018-01-22 08:06] rstacruz opened #624 "Application Error when publishing a package"
Running `mix hex.publish` results in a Heroku application error page:

Steps to reproduce:

[code]

[2018-01-22 18:37] tsutsu opened #625 "View for "packages needing some love""
It would be quite nice to be able to see, on the hex.pm site, which published (open-source) Hex packages are experiencing "code rot"—i.e. are having problems due to a lack of recent fixes, that could be solved by contributing PRs to them. Probably such a view would be sorted (by default) by a combination of the severity of the problems and the popularity/recent downloads of the package, to point p

[2018-01-22 19:00] michalmuskala commented on #625
While I think those informations would be very useful, I don't think hex itself is the place for it. A lot of those metrics are subjective one way or the other or rely on external data - with github being most common. This is problematic because publishing a hex package does not require you to have any other account than hex itself, linking to github or other issue trackers is entirely optional.

[2018-01-23 10:52] rstacruz commented on #624
oops, i pushed it now, you can try again.

[2018-01-23 10:53] rstacruz commented on #624
Btw, using:

- Hex v0.17.3
- Mix 1.6.0
- Elixir 1.6.0

[2018-01-23 10:55] rstacruz commented on #624
Full logs: https://gist.github.com/rstacruz/aa98fb913695f4055f00476d1769f77c

[2018-01-25 11:14] ericmj commented on #624
I cannot reproduce the issue:

[code]

Is it possible that publishing the package takes a long time and server side timeout is being triggered? Can you run it as `time mix hex.publish` to show the timing?

[2018-02-01 13:54] kosbas opened #629 "Error in Ecto>Getting Started>Validating changes"
Hello, I'm new to programming. It looks like you have an error in your instructions. Or the instruction is obsolete.
https://hexdocs.pm/ecto/getting-started.html#validating-changes

Do not work:

`defmodule Friends.Person do
  use Ecto.Schema

  schema "people" do
    field :first_name, :string
    field :last_name, :string
    field :age, :integer
  end
  def changeset(person, params \\ %{}) do

[2018-02-01 13:59] wojtekmach commented on #629
the guide is correct. You don't need to `import Ecto.Changeset` in order to call ` Ecto.Changeset.cast` and other functions. But If you'd want to call with just `cast` (without `Ecto.Changeset.`) then yes, you need to import.

[2018-02-01 13:59] #629 closed

[2018-02-01 16:44] wojtekmach opened #630 "Document Hex security"
We need some kind of overview of security features that we can point people to (e.g. in https://stackoverflow.com/questions/48559599/is-there-a-way-of-end-to-end-authentication-of-hex-packages)

Some of the things we may want to mention are:
- registry is signed with a key (https://hex.pm/docs/public_keys)
- packages have checkums that are also stored in registry and checked against (https://githu

[2018-02-06 06:01] rstacruz commented on #624
It's still the same problem for me. I don't think it's a timeout, it works fast enough.

[2018-02-06 06:04] rstacruz commented on #624
I also did `rm -rf _build deps; mix deps.get; mix hex.publish` and still the same.

[2018-02-06 07:13] rstacruz commented on #624
I also tried `authsensetest` as the name, just like you did

[code]

[2018-02-07 07:54] rstacruz commented on #624
This seems like what's triggering it:

https://github.com/hexpm/hexpm/commit/44c2db8c0cab55c53df7a13c839a038aaec67bc2

and my IP address is `124.105.127.188`

[2018-02-07 09:14] ericmj commented on #624
I have unbanned your IP. You were automatically IP-banned, probably because you were using credo with vscode which spams the hex API with update checks. I would recommend updating your credo and your vscode plugins to prevent being IP banned again.

[2018-02-07 09:21] ericmj commented on #624
This commit https://github.com/hexpm/hexpm/commit/70059f2f590f3a705d39ed47535c22a648e4ff29 should ensure the users sees the correct error message when the request is blocked.

[2018-02-10 03:03] pragmaticivan commented on #625
Hey @tsutsu maybe you can propose something like that on https://extracurricular.elixirschool.com/

[2018-02-13 00:26] #624 closed

[2018-02-13 21:19] bundacia opened #631 "Need better error message when a package is too large"
If you try to publish a very large hex package you get the following error:

[code]

@ericmj helped me figure out the size of the package was actually the root cause of this error. In my case the large data file that was causing my package to be so large shouldn't have been there in the first place, but the error I was getting didn't make it clear that it was the size of the package that was the p

[2018-02-13 22:34] wojtekmach commented on #631
Thank you for the report.

In hexpm server we have a check for max tar file size so we will likely need to add similar one on the client (I was pretty sure I added it last time I update Hex.Tar code)

[2018-02-13 22:51] ericmj commented on #631
It seems like httpc does not read the response until the whole request, including the body, is sent so we need to add a check on the client like @wojtekmach said. The new http client will not have this issue since sending the request and receiving the response can happen asynchronously.

[2018-02-19 18:21] DevJac opened #633 "Search for "aws lambda" misses the "ex_aws_lambda" package"
![screen shot 2018-02-19 at 11 18 37 am](https://user-images.githubusercontent.com/5282489/36392088-cbf6924a-1566-11e8-8b81-43e6e5ecb0d5.png)

As can be seen in the screenshot, searching for "aws lambda" on hex.pm seems to miss the only package that has both "aws" and "lambda" in its name, instead matching on a variety of unrelated packages.

https://www.hex.pm/packages/ex_aws_lambda is the packag

[2018-02-19 19:56] #390 closed

[2018-02-19 19:59] ericmj commented on #633
Unfortunately I don't believe we can fix this without changing the search infrastructure we have today. It is planned to switch from postgres trigram + full text search to a better suited solution but it's not on the immediate roadmap. Contributions are of course always welcome to the existing search or if you have any plans for a better solution.

[2018-02-19 19:59] #633 closed

[2018-02-19 20:07] DevJac commented on #633
Thank you for the reply and acknowledging the issue. I may take a look to see if the current search can be improved as you suggested. 😄

[2018-02-23 21:39] wojtekmach opened #636 "Add docs_url to API package payload"
This way we can:
- remove hardcoded `https://hexdocs.pm` URLs from Hex client
- give more flexibility to the servers, e.g. docs for private packages can be hosted on a different domain
- while at it, we can deprecate `has_docs` field

@ericmj thoughts?

[2018-02-23 22:13] wojtekmach commented on #636
Ok, the problem with _not_ hardcoding hexdocs.pm in Hex client anymore is for `mix hex.docs online ecto` we'd have to call API to grab the URL instead of opening known URL which is not ideal.

I still think it would be nice to have docs_url though but maybe yagni... If we add it, it probably should be called `docs_html_url` in case someday we'd want to have `docs_tarball_url` (e.g. https://repo.he

[2018-02-23 22:37] ericmj commented on #636
Yes, please! These are all great points.

I see no problem with hitting the API to get the URL for `mix hex.docs online ecto`. It feels semantically more correct also since docs being in the repo is an implementation detail and not specced afaik. This is even more important for orgs since the url will probably be `myorg.hexdocs.pm/mypackage`.

It will also fix the confusion about repo/org in `hex.

[2018-02-24 11:07] #636 closed

[2018-02-24 12:38] #631 closed

[2018-03-06 04:51] bcardarella opened #642 "Organizations billable email"
Not sure if this is the right place for this, but entering billing information for my organization I am presented with a `<select>` element rather than a text field for the Billing email. This list is limited to just my account email. Even if there is a way to expand the list by adding alias emails to my account, I believe it is best to have a text field here. Many organizations will have a differ

[2018-03-06 10:58] ericmj commented on #642
I agree that the select is limiting. The reason I went with the select over a free text field is that we already have email verification set up for the emails associated with your account.

Do you think it is worth it to a text field over a select even if we don't add verification for it? Maybe we should invoices to all admins + a billing email entered via text field?

[2018-03-06 11:07] josevalim commented on #642
@ericmj maybe you just need a link saying "Add a new e-mail address" that links to the proper page?

[2018-03-06 11:12] ericmj commented on #537
Organizations are live. We will track hexdocs tasks separately.

[2018-03-06 11:12] #537 closed

[2018-03-06 11:14] ericmj commented on #625
We are not planning to tackle any community or social features like this right now. We are focusing on the core of the package manager and think other websites can solve this in better ways using the public HTTP APIs from hex.pm.

[2018-03-06 11:14] #625 closed

[2018-03-06 11:19] ericmj commented on #642
Closed wrong issue.

[2018-03-06 12:56] bcardarella commented on #642
The reason we have a different email account to handle invoices is so personal accounts don't get inundated with invoices. Also, making sure that the invoices get to the correct person for payment, or for record keeping.

[2018-03-06 13:26] ericmj commented on #642
@bcardarella Would @josevalim's suggestion work then? Or do you not want to add the email for invoices to your own account?

[2018-03-06 13:46] bcardarella commented on #642
Maybe? If email verification is something that is a must-have then it could. But verifying the email mail not be possible for certain orgs. For example, the email recipient could be a record keeping system that isn't actually accessed directly by a person. Also, verification is typically something meant for security purposes around account access. There are many other services that use the plain t

[2018-03-06 13:48] bcardarella commented on #642
Looking at the Hex email dashboard, would this allow someone to sign into my account with any of the emails added? If so this isn't somewhere I'd want to add an email address that others may have access to.

[2018-03-06 14:36] ericmj commented on #642
You are right, account emails and billing emails have different security requirements. I will change to a free text field without any verification.

[2018-03-06 14:38] bcardarella commented on #642
Awesome, thanks for hearing me out :) Once't its deployed we'll sign up for the paid account!

[2018-03-06 15:51] #642 closed

[2018-03-06 16:42] ericmj commented on #642
@bcardarella We have deployed with the change. Thanks for the feedback and please let us know if you have any issues or more feedback.

[2018-03-07 22:43] yordis opened #644 "Allow to pay full X for Y amount of engineers"
I want to be able to pay for specific amount of years (or maybe months) for specific amount of engineers instead of paying in monthly bases.

[2018-03-07 22:52] yordis opened #645 "Allow Org to have public packages"
I would love to have a Org profile were people could see all the packages under the Org rather than publishing the packages in behave of my personal account.

One other important reason why to have it is that some of the packages could belong to specific company so if one of the engineers decide to not work for the company anymore we do not want to relay on him/her on the Hex management because th

[2018-03-08 05:55] wojtekmach commented on #645
It's a workaround around the limitations of the system, so not sure if I should be promoting it, but one thing you can already do is to create a Hex user representing your company and add that user as a maintainer to the packages. We plan to add finer-grained permissions in https://github.com/hexpm/hexpm/issues/380 so in the future you'll be able to mark that user as the only one being able to add

[2018-03-08 11:21] ericmj commented on #644
We are currently working on annual billing to pay on an yearly basis instead of each month.

But I think you want some specific features implemented, if that's the case then we should start with discussing those features. Since Hex is open source you can then pay for someone to work on the features and the Hex team will of course help and support them as much as we can.

[2018-03-08 11:45] ericmj commented on #645
Something I have been thinking about is making organizations user accounts as well. If we add permission levels in #380 then we would get organization ownership of public packages almost for free.

[2018-03-08 17:49] yordis commented on #644
@ericmj I am fine with either one, I just want to pay the Org yearly basis so it is easier to manage.

[2018-03-08 17:54] yordis commented on #645
@wojtekmach that is what I am doing but that person will become the bottleneck of the Org, unless you give everyone the account credentials and hopefully you dont need to change it that much.

The second bullet point is more for go to `/org/:name` and be able to see all the packages under that Org,

or be able from the package profile to see if the package is maintained under specific Org.

This w

[2018-03-08 17:56] yordis commented on #645
@ericmj we could do that, but what would happen if one account wants to manage and pay for multiple Orgs?

Right now I have this situations, no like I am posting things on Hex, but from business perspective I am in charge of two LLCs.

So at that moment will be better is `org` is it own entity.

What do you think?!

[2018-03-08 21:39] ericmj commented on #644
This is being worked and features that are paid-only are tracked internally so I will close this issue. Thank you for the feedback!

[2018-03-08 21:39] #644 closed

[2018-03-10 21:05] ericmj commented on #645
You will still be able to admin multiple organizations like you can today.

[2018-03-10 21:11] yordis commented on #645
@ericmj right, but making two Orgs account become problematic to manage.

This is the same situations with Github account, my Github account could belong to multiple Orgs and by so I can work for multiple companies or manage multiple Orgs.

But if you roll with making the Org the actual account we will end up creating Orgs accounts for everything.

It is like, Slack vs Discord/Github, for this, I

[2018-03-10 21:15] ericmj commented on #645
You would create organizations the same way they are created today so you would not be creating any separate accounts. Your own account that you log in with can manage both organizations like it can today. The fact that organizations are also users would not bring any more management work for you and you would not be able to log in to the organization user.

[2018-04-08 12:51] ericmj opened #651 "404 page does not show you as logged in"

[2018-04-12 11:44] cblage opened #656 "Default package docs link goes to outdated doc"
For my lib: https://hex.pm/packages/json

It appears the default docs link: https://hexdocs.pm/json/ is going to the wrong version of the docs, which should be: https://hexdocs.pm/json/1.2.1/

Cheers

[2018-04-14 21:26] #651 closed

[2018-04-15 04:36] supersimple commented on #656
@ericmj this package has had a couple new releases since this was reported, so I cannot replicate the issue. Do you happen to remember where the issue was taking place in the code?

[2018-04-15 07:10] ericmj commented on #656
@supersimple I don't know but my guess is that there's a bug in the logic here https://github.com/hexpm/hexpm/blob/master/lib/hexpm/repository/assets.ex#L51.

[2018-04-17 08:34] kottkrig opened #659 "Low framerate when scrolling on a documentation page in Safari for desktop"
Scrolling on a documentation page in Safari 11.1 for desktop results in a very low framerate.

### Steps to reproduce:

1. Go to a documentation page: https://hexdocs.pm/ex_unit/ExUnit.Callbacks.html
2. Scroll up and down

### Some thoughts:

1. It seems to be connected to how large the browser window is. The framerate drops when I increase the window size.
2. Code blocks also seems to affect the

[2018-04-17 08:50] kottkrig commented on #659
I digged a little deeper and it seems to be directly connected to repaints due to `overflow-y: auto;` on the class `.content`. The framerate increases dramatically when I disable this property.

I tried to add the property `will-change: transform;` but that doesn't seem to help.

[2018-04-17 10:26] josevalim commented on #659
Thanks @kottkrig! hexdocs only hosts the documentation. This should be reported to the [ex_doc](github.com/elixir-lang/ex_doc) project instead. A PR is defintiely welcome (if you can figure out a proper fix). :)

[2018-04-17 10:26] #659 closed

[2018-04-17 13:08] cblage commented on #656
Woot!!! Good job guys :D <3 <3

[2018-04-17 13:18] cblage commented on #656
Awesome

[2018-04-17 13:46] kottkrig commented on #659
Thanks for the heads up about the [hex_doc](https://github.com/elixir-lang/ex_doc) repository. I will see what I can do. :)

[2018-04-22 19:56] ericmj opened #660 "Do not rate limit requests from Fastly"

[2018-04-25 08:50] tambry opened #662 "IPv6 support"
[The official Hex website](https://hex.pm) is inaccessible over IPv6.

AWS EC2 VPCs support IPv6, so this should be fairly easy to fix. See [the very extensive VPC IPv6 migration guide](https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/vpc-migrate-ipv6.html).

[2018-04-25 10:25] ericmj commented on #662
Heorku does not support ivp6 so this is not possible until heroku adds support or we migrate away from heroku.

[2018-04-25 11:12] tambry commented on #662
I don't think it's appropriate to close this, as the issue still exists.

[2018-04-25 11:16] ericmj commented on #662
The issue still exists but it is currently out of our control or would require too much work and would be of small immediate benefit. Since the issue is not actionable we are closing it because we don't keep issues open that we can not work on, see http://blog.plataformatec.com.br/2014/05/tips-for-keeping-your-open-source-software-issues-tracker-tidy/ "ABC (Always Be Closing)".

[2018-04-25 11:30] tambry commented on #662
What about hexdocs.pm? That seems to use Fastly, which has IPv6 support.

[2018-04-25 11:37] ericmj commented on #662
We can do it for hexdocs.pm and repo.hex.pm which both use Fastly. For hexdocs.pm it should just be a matter for switching to Fastly's dualstack. For repo.hex.pm we also need to make sure that the download stats job works correctly with IPv6 addresses.

[2018-04-25 14:12] ericmj commented on #662
The AAAA record for hexdocs.pm should now be up. I will work on repo.hex.pm next.

[2018-04-27 16:42] tambry commented on #662
I'm afraid I don't see any AAAA records on hexdocs.pm.

[2018-04-28 12:24] ericmj opened #664 "Add checksum to registry /names endpoint"
A checksum of each `/packages/PACKAGE` resource should be added for packages on the `/names` endpoint. This is so that you can use only the `/names` endpoint to discover changes in the registry.

[2018-04-28 12:43] ericmj commented on #662
It seems that for hexdocs.pm we are using older Fastly infrastructure that does not seem to support dualstack. I will investigate.

[2018-04-29 13:44] edbedbe opened #665 "Add ability to change username of user"
I just went to change my username and didn't find it as an available option in the `mix hex` tasks or the Hex web interface.

Am I missing it, or is it not possible right now? I would be down to make a pull request to add the capability. I would make a pull request to this repo first, then to the `hex` repo to add the front-end interface to the new API endpoint.

[2018-04-29 15:32] ericmj commented on #665
We are not planning to add this to the UI, but if you want to change username you can contact support@hex.pm.

[2018-04-29 21:03] ericmj commented on #662
Seems to be working for hexdocs.pm and repo.hex.pm now. Can you verify @tambry?

[2018-04-29 23:05] edbedbe commented on #665
Thank you!

[2018-04-29 23:05] #665 closed

[2018-04-30 03:21] HangingClowns opened #666 "Allow API or Listing of Packages from Repo URL"
I’m in the middle of setting up a mirror for official support of hex within my company firewall.

I’ve been told if there’s a way for them to get a list of all packages and where they are by a URL then they can easily setup a mirror. Originally they tried to use https://repo.hex.pm but this is returning an unauthorized response, so they are unable to query for all available packages. I believe wha

[2018-04-30 06:11] tambry commented on #662
Can confirm that it works now for both of those. Thanks for fixing those!

[2018-04-30 06:11] #662 closed

[2018-04-30 09:12] ericmj commented on #666
We have both an HTTP API and registry you can use to discover packages. For the HTTP API you have https://github.com/hexpm/specifications/blob/master/apiary.apib#L238 and in the registry https://github.com/hexpm/specifications/blob/master/registry-v2.md#namesproto.

I would recommend using the registry because it is much faster.

[2018-04-30 09:30] HangingClowns commented on #666
This is good but I don’t see a link to directly downlod the packages which is what I would need to “scrape” for a mirror. I suppose I would need to replace the base url and a few others.

[2018-04-30 10:01] ericmj commented on #666
There are no direct links, you have to build the URLs from package name and version, https://github.com/hexpm/specifications/blob/master/endpoints.md#endpoints-1.

[2018-04-30 10:34] josevalim commented on #666
@HangingClowns so the thing I have in mind and I plan to have it ready soon would allow you to download the specifications and packages that you are currently using. This synchronization is manual, so you would need to remember to push the packages somewhere when you update things. The advantage is that you don't need to maintain a full proxy. All you need to do is to put a dumb http server in fro

[2018-04-30 10:36] wojtekmach commented on #666
@HangingClowns we're working on https://github.com/hexpm/hex_erl that will make building repositories and/or mirrors easier, e.g. you can do:

[code]

I'll adjust `get_names` and `get_versions` functions to also handle caching with etags in next couple of days.

You can identify your mirror via UserAgent (that will help us support your mirror a lot) like this:

[code]

hex_erl is still under activ

[2018-05-01 03:58] HangingClowns commented on #666
@josevalim that would be good. I'm just thinking about company wide, it would be great if we can integrate with the [artifactory](https://www.jfrog.com/jira/browse/RTFACT-14011), as we are already using it within the company. We have java, node, ruby, and I believe a few others working just fine that way.

If another team is going to be doing elixir, the barrier for them to enter, would be lower i

[2018-05-01 04:16] josevalim commented on #666
@HangingClowns I agree support for artifactory would be great but that's really out of our scope/not up to us. That's why I asked if a manual step for now is enough, it will hopefully allow folks to get started.

Also, do you use network partitions/shared drivers? Because we could add support for those too, so you don't need to have a "dumb server".

[2018-05-01 05:01] josevalim commented on #666
Can you mount those directories and access the file through the file
system? For example, if you mount it, can you access it with File.read?
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-05-01 05:03] HangingClowns commented on #666
Yes, I believe i can. I can confirm for you, for sure, tomorrow. I know for sure I can copy and open files through the windows explorer without an issue, so I'm guessing should be fine. The format: `\\MACHINE_NAME\shared_folder`

[2018-05-01 06:57] josevalim commented on #666
Great! If can confirm tomorrow with the exact path that works for reading
across drivers it will help us a lot.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-05-01 11:40] ericmj opened #667 "Add last use information to API keys"
Should include timestamp, user-agent and IP.

[2018-05-01 11:41] ericmj opened #668 "Add API key dashboard"
Lists all API keys for the user and gives the ability to revoke or generate new ones.

[2018-05-01 11:45] boddhisattva commented on #668
@ericmj I'd like to give this a shot.

[2018-05-01 11:45] ericmj commented on #668
Go ahead. Thank you.

[2018-05-01 11:46] boddhisattva commented on #668
Thanks Eric!

[2018-05-02 02:45] HangingClowns commented on #666
So interesting... I get an error with cmd and elixir for trying to read files from there saying “CMD does not support UNC paths as current directories”. But I used pushd \\ComputerName/SharedFolder and I was able to cd to the directory and it worked.

https://serverfault.com/questions/50085/how-do-you-handle-cmd-does-not-support-unc-paths-as-current-directories?utm_medium=organic&utm_source=google

[2018-05-02 06:52] HangingClowns commented on #666
Looks like after I’ve mapped it to a drive letter I can read it without an issue. This can help with dev but maybe won’t be useful for a ci server.

[2018-05-02 10:26] boddhisattva commented on #668
@ericmj and other collaborators on this project,

I'm new to the codebase and I have a few questions with regard to this requirement. Can you please see if you could answer the below?

1. Can you please elaborate more on what is the general purpose that these API keys serve?
2. I was thinking we could probably have a `dashboard/keys` page to have User specific keys. Is there any other specific sec

[2018-05-02 15:51] boddhisattva commented on #668
Thank you for answering my questions @wojtekmach :)

[2018-05-03 09:33] ericmj commented on #645
We are planning on linking users and organizations but closing this issue now because it has diverged from the original feature request.

[2018-05-03 09:33] #645 closed

[2018-05-03 12:29] boddhisattva commented on #668
Dear Team,

Can one please confirm what are all the contents we'd like to show as part of `dashboard/keys` page with regard to the first part of the requirement which is got to do with just listing keys ? Currently, as part of the dashboard keys page, I'm displaying the User key related `name` and `secret_first` attributes. Is there anything you suggest we could add/remove in terms of the User key

[2018-05-03 12:38] ericmj commented on #668
It looks good but I don't think we should show the secret values because they are of no use to the user. The `user_secret` is only never stored and is the value returned to the user. The `secret_first` and `secret_second` are the stored values and they are calculated from the `user_secret` each time we test a key.

We also want to add a revoke button and show the permissions for each key in the ta

[2018-05-03 12:57] boddhisattva commented on #668
Thanks for your prompt response and for answering my questions @ericmj!. Since you've mentioned that the secret values would be of no use to the user, I'll remove them.

Are we looking to display the permissions related to each key for the PR related to listing keys or would that be another requirement altogether? I'm not quite sure about what details are needed to be displayed as part of permissi

[2018-05-03 13:11] ericmj commented on #668
It is perfectly fine to add the permissions in a separate PR, it is usually better to get something minimal ready and iterate from there.

[2018-05-03 14:00] boddhisattva commented on #668
Thanks @ericmj . I have just one more thing to clarify as part of the PR opened [here](https://github.com/hexpm/hexpm/pull/669). Can you please clarify the role of `authing_key` as part of the code [here](https://github.com/hexpm/hexpm/blob/master/lib/hexpm/web/controllers/api/key_controller.ex#L14)?

[2018-05-03 14:03] ericmj commented on #668
It's the key used to authorize the current request. Since we don't store the same key that the user does this is the only way of telling, for example, the name of a given key.

[2018-05-03 14:54] boddhisattva commented on #668
Thanks for clarifying this Eric.

[2018-05-04 13:59] boddhisattva commented on #668
Dear Team,

Just an update from my end:

I have implemented the revoking keys related functionality and currently have it in my localbox. I was thinking of sending a WIP PR once [this PR](https://github.com/hexpm/hexpm/pull/669) is merged. Alternatively, I can update my [current PR](https://github.com/hexpm/hexpm/pull/669) if you'd like me to do so such that it will also have the revoke key functi

[2018-05-04 23:33] boddhisattva commented on #668
Sure @ericmj, I've updated the PR. You can see a screenshot of how the `/dashboard/keys` page now looks based on the latest changes suggested above to use `table-striped` related Bootstrap CSS [here](https://github.com/hexpm/hexpm/pull/669#issue-185725160).

Thank you for confirming on the approach I could use with regard to implementing the Generate new keys functionality.

[2018-05-05 08:36] boddhisattva commented on #668
Dear Team, I've created a new PR [here](https://github.com/hexpm/hexpm/pull/670#issue-186146287) to add the functionality related to revoke and generate user API keys on web. Please review when feasible. Thank you.

[2018-05-10 10:49] boddhisattva commented on #668
Hi @ericmj , I've made the changes to the [List User API Keys on web](https://github.com/hexpm/hexpm/pull/669#pullrequestreview-117345494) PR based on your review comment [here](https://github.com/hexpm/hexpm/pull/669#pullrequestreview-117345494). I've also submitted a PR on the Add and Revoke Keys related functionality [here](https://github.com/hexpm/hexpm/pull/670). Can you please take a look wh

[2018-05-10 20:14] #668 closed

[2018-05-13 16:41] ericmj opened #673 "Add billing actions to audit log"

[2018-05-13 20:13] #559 closed

[2018-05-13 20:14] #666 closed

[2018-05-13 20:15] ericmj commented on #425
Closing this due to lack of activity, but contributions would still be appreciated.

[2018-05-13 20:15] #425 closed

[2018-05-13 20:17] ericmj commented on #278
The original vulnerability is fixed on the client side by requiring a password for publishing packages. We would still like to support two-factor authentication but it is a pretty big task and currently not of the highest priority.

[2018-05-13 20:17] #278 closed

[2018-05-13 21:44] HangingClowns commented on #666
Is there an issue # for the changes that will be made to hex so I can follow progress? @josevalim

[2018-05-13 21:59] josevalim commented on #666
@HangingClowns no changes will be necessary to Hex. The goal here is to help with CI but if CI can't read from the shared driver, you will need a dumb server in front. I still need to finish the script but it should be out hopefully soon.

[2018-05-15 12:35] ericmj opened #677 "Private hexdocs"
* [x] Add streaming without chunking to Cowboy and Plug
* [x] Sign in token creation on hex.pm website
* [x] Sign in token verification API (private)
* [x] Private hexdocs ~S3~GCS bucket
* [x] Hexdocs service, using sign in tokens and streaming from bucket
* [x] Deploy to staging
* [x] Deploy to prod
* [x] Fix online documentation links to use organization subdomain
* [x] Upload existing private d

[2018-05-21 21:25] #380 closed

[2018-05-25 17:56] #489 closed

[2018-05-31 09:32] michallepicki opened #682 "Feature request: Version dropdown on hexdocs"
I would like to be able to view available documentation versions and switch to them through a dropdown. Similar to the one on [Microsoft's .NET API documentation pages](https://docs.microsoft.com/en-gb/dotnet/api/system.collections?view=netcore-2.0) - try picking .NET Core 1.1 through the dropdown on the left.

I understand this is a dynamic thing and requires additional features in ex_doc but I t

[2018-05-31 09:37] josevalim commented on #682
@michallepicki I think this could work if we do a join work with ex_doc/hex. Basically hex will expose a "versions.json" file. ExDoc can try to access this file and, if one is available, we show the drop down.

[2018-05-31 09:40] michallepicki commented on #682
@josevalim Yes, I was not sure whether this issue belongs to this repo or `hex` repo but I saw #618 being here and I think it's related.

[2018-05-31 12:09] hubertpompecki commented on #667
I'd be keen to have a go at this if nobody else picked it up yet.

[2018-05-31 13:18] ericmj commented on #682
I believe we can't do AJAX in exdoc so how would we fetch this information? We would like to be able to hook into the search the same way.

[2018-05-31 13:26] josevalim commented on #682
@ericmj oh, it can work with a .js file then. You will set a variable in a .js file. That's how we export information to ExDoc today too. Although you may want too have export a .json file too.

[2018-05-31 13:26] josevalim commented on #682
@ericmj I would treat this problem separately from the search.

[2018-05-31 13:52] michallepicki commented on #682
I'm not sure I understand why we would want to do a fetch in ex_doc at all? I don't think we need to have versions during documentation build. I think it's fine to have them pulled in js after a user clicks on the dropdown in his browser. This way we don't need to rebuild old package's docs when a new version of a package is introduced (but of course only newer or docs rebuilt after introducing th

[2018-05-31 13:55] josevalim commented on #682
We are not saying to have it on the documentation build. When we say ex_doc, we say the HTML+JS generated by ExDoc.

We need to add this to ExDoc, so old versions won't get this feature. The other other would be for Hex to wrap or override the documentation pages but I find that brittle and error prone and puts the work on the Hex team.

[2018-05-31 13:57] ericmj commented on #682
@josevalim I would like to have a more general solution because any feature will need to be supported forever. I don't like a the versions.js file because if we want to add another similar feature we would add a bunch of extra requests for each page load. We already have quite a lot of page loads in exdoc.

@michallepicki They would not be fetched when documentation is built, they would be fetched

[2018-05-31 14:07] josevalim commented on #682
@ericmj I am not sure if you are arguing against the `.js` extension in particular or against doing a separate request in general, regardless of the extension. But to me, the `.js` approach is not really different from `.json` in terms of trade-offs. They are just different formats.

In any case, we may be fine using AJAX here. This feature is not essential to how ExDoc works and odds are that you

[2018-05-31 14:20] ericmj commented on #682
I am arguing against the extra request. If ex_doc instead provided a place where hexdocs could inject our own javascript that would be better because there would be no extra requests.

[2018-05-31 14:29] michallepicki commented on #682
I'm confused about that and it looks like I don't understand how hexdocs works

[2018-05-31 20:29] josevalim commented on #682
@ericmj i am not sure i like the idea of pre-processing pages. What happens when you release a new version? You need to go to all previous published docs and process them again?

[2018-06-01 09:47] ericmj commented on #682
@josevalim The idea is based on the new hexdocs that is in progress where we can dynamically generate content.

[2018-06-02 08:01] #542 closed

[2018-06-02 08:06] #272 closed

[2018-06-02 08:49] ericmj commented on #383
This will not be needed when we move to the new hexdocs service.

[2018-06-02 08:49] #383 closed

[2018-06-03 13:51] #415 closed

[2018-06-05 14:54] Kapeli opened #685 "Search API Sorting Issue"
Could the search API sorting be improved? As far as I can tell, searching for "plug" doesn't return the "plug" package, but others instead. See https://hex.pm/api/packages?search=plug.

[2018-06-05 15:22] wojtekmach commented on #685
The default sorting is by name asc, https://hex.pm/api/packages?search=plug&sort=downloads will make it that plug is at the top.

[2018-06-05 17:11] michalmuskala commented on #685
I think it could be a good idea to provide an exact match as well alongside the fuzzy matches similar to the Web interface. This would probably require a separate endpoint because the current one returns an array which is not extensible.

[2018-06-05 17:20] Kapeli commented on #685
I don't use Hex much so sorry if I'm overstepping, but personally I think sorting by name is not really useful for searching. A better sort should order results by: exact match, prefix match, suffix match, contains match, fuzzy match, and only sort by name after.

[2018-06-05 17:56] josevalim commented on #685
I agree an exact match should come first!

[2018-06-05 20:59] josevalim commented on #666
Sorry for delay @HangingClowns, but I have been trying to find time to finish this and failing. The idea though is not very complicated. The idea was to have a script (or a mix task) that traverses the mix.lock file of the project and get all hex dependencies and their versions. Then you would request the registry information for each hex package you find, as well as, that specific package version

[2018-06-05 21:05] michalmuskala commented on #685
I feel like this was fixed in the html version some time ago, but the API one was left as it was before. Maybe it should be updated to reflect the behaviour of the html page too? The question is if changing the default sort order of the API will be considered a breaking change - I don't think so.

[2018-06-12 19:13] #513 closed

[2018-06-12 19:13] #529 closed

[2018-06-12 22:31] HangingClowns commented on #666
Thanks! Can you share a gist of what you started?

[2018-06-12 22:49] josevalim commented on #666
@HangingClowns I tried to find it before my last comment but I couldn't :(

[2018-06-13 10:32] vasuadari opened #689 "Connection to hex.pm fails randomly for different packages for the past few hours"
[code]

[2018-06-13 14:44] ericmj commented on #689
Can you print the output of `mix hex.info`?

[2018-06-13 16:17] vasuadari commented on #689
[code]

[2018-06-13 20:28] ericmj commented on #689
Is this still happening for you? We haven't received any other reports which indicates it's a problem local to your system, network, or CDN POP you are using.

[2018-06-14 13:21] jeremyjh opened #690 "Cannot do anything with hex.pm, "Blocked""
Every operation I attempt with my account fails with the same message, "Blocked".

A couple of days ago, I tried to change my password and got only 500 errors. Maybe it is related?

`mix hex.publish`
[code]

`mix hex.user auth`
[code]

`mix hex.user reset_password account`
[code]

[2018-06-14 13:43] vasuadari commented on #689
[code]

Above log is from a ec2 instance in aws singapore region.

[2018-06-14 14:33] ericmj commented on #689
Please run `curl -svo /dev/null -H "Fastly-Debug:1" https://repo.hex.pm/packages/ecto` from your ec2 instance and gist the output? I assume the `mix hex.info` output was from the same instance?

Does it happen all the time or only from time to time?

[2018-06-15 03:38] vasuadari commented on #689
Is there an option like `mix deps.get --verbose`? I can have a script running until it fail which logs to a file.

[2018-06-15 04:02] vasuadari commented on #689
[code]

[2018-06-15 04:05] vasuadari commented on #689
It would be better if you can display a link to report an issue when something fails.

[2018-06-15 09:43] ericmj commented on #689
I will report this upstream to our CDN provider.

[2018-06-15 12:03] ericmj commented on #689
Did you run curl from the same machines? The initial output is different:

[code]

[code]

There are different paths to the CAfile and the second time RC4, an unsupported cipher, is selected.

[2018-06-18 05:45] fredwu opened #692 "`hex.publish` private package fails"
Hi,

We've been using the private hex repo for a while, and just now we've encountered errors for the first time.

`mix hex.publish` errors out:

[code]

After the error, we can actually see the new version on hex.pm. But the new version cannot be seen by `mix deps.update package_name` in our other projects.

Then, we tried `mix hex.publish --revert 0.6.1`:

[code]

It shows the revert also errore

[2018-06-18 08:48] vasuadari commented on #689
I just ran a simple while loop to check and it fails randomly.

[code]

[2018-06-18 08:49] ericmj commented on #689
Can you show the output from the loop?

[2018-06-18 08:52] vasuadari commented on #689
Sure. I'll post it in a while.

[2018-06-18 09:10] larskrantz commented on #692
Got this error too with private package with same error messages as above.

[code]

[2018-06-18 09:10] vasuadari commented on #689
[hexpm_output.log](https://github.com/hexpm/hexpm/files/2110656/hexpm_output.log)

[code]

[2018-06-18 11:44] #692 closed

[2018-06-18 11:48] ericmj commented on #692
Thank you for the reports. The fix has been deployed to production.

[2018-06-18 14:50] larskrantz commented on #692
Confirmed as working, thanks!

[2018-06-21 08:19] vasuadari commented on #689
[code]
Its failing very frequently. All the CI builds are getting stuck. Does the command retry when the request fails?

[2018-06-21 10:36] ericmj commented on #689
This command does not retry, you have to retry the shell command itself when it does not return a zero exit code.

[2018-06-21 11:43] ericmj commented on #689
@vasuadari Fastly believes they have identified the issue and fixed it. Can you please try again?

[2018-06-22 12:03] michallepicki commented on #682
After playing with this idea a bit I understand why a `.js` script is better than `.json` ajax call. With data exported through a script it should be possible to keep the dropdown working when accessed through `file://` without a http server.

Crazy idea: what about making it work only on `hexdocs` by wrapping static documentation in an iframe and adding dropdown + hexpm link + github link etc usi

[2018-06-22 14:30] aseigo opened #694 "changing password does not work"
On https://hex.pm, navigate to Dashboard -> Password, enter old password and two matching new passwords, and it currently leads to a 505 at endpoint https://hex.pm/password/new.

This means changing passwords in not possible at the moment.

[2018-06-22 16:30] ericmj commented on #689
Thank you for helping out investigating.

[2018-06-22 16:40] #694 closed

[2018-06-22 16:49] ericmj commented on #694
Thanks for the report. The fix is being deployed to production.

[2018-06-25 12:55] kelostrada opened #695 "Private repo dependencies act differently to public deps"
I have dependencies tree like this:

[code]

I would like to edit `common` locally so I put a setting in `my_project` in mix deps like this:

[code]

In `common_backoffice` mix deps is defined like this:

[code]

And I get an error while doing `mix deps.get`

[code]

The error I get is: "Ensure they match or specify one of the above in your deps and set "override: true". Even though I've set `over

[2018-06-25 15:24] ericmj commented on #695
Can you include the output of `mix hex.info`?

I think the difference between your issue and the phoenix/plug example is that you are using an umbrella but the phoenix/plug example is pure dependencies. I don't think it has anything to do with private packages.

[2018-06-28 17:47] ericmj commented on #695
@kelostrada Did you resolve the issue?

[2018-06-29 12:45] kelostrada commented on #695
hey, I just use the relative paths in every project I have for now.

You were right though - I use umbrella. However my tree in umbrella looks kinda like this:

[code]

Where `my_phoenix` and `my_engine` are projects inside umbrella app. When I swap `common` to be used from my drive instead of hex then the issue happens. I think it doesn't matter if I switch it inside `my_phoenix` or `my_engine`.

[2018-07-02 08:39] ericmj commented on #695
It's a bit hard to follow because the names of the apps are changing. It would help if you show your whole dependency tree including umbrella children with `mix deps.tree`.

[2018-07-02 08:49] kelostrada commented on #695
Oh sorry, I will post that soon

[2018-07-02 17:42] #667 closed

[2018-07-03 14:54] kelostrada commented on #695
[code]

[2018-07-03 15:15] ericmj commented on #695
You need to override `common` in `project_web` and/or `backoffice`.

The reason you can't override in `project` is because it is on the same level as `common_backoffice` where it is not overridden.

[2018-07-03 15:20] kelostrada commented on #695
You were right, thanks! However I have to override it in all three which is a bit annoying, but not as much as overriding it in the dependent projects (like in common_backoffice or common_web).

When I just override it in backoffice and/or project_web (but not in project) then it still throws the same error.

Thanks for help

[2018-07-03 15:21] #695 closed

[2018-07-16 15:10] wojtekmach opened #697 "All datetimes returned in API should end with "Z" per ISO8601"

[2018-07-29 20:21] crownedgrouse opened #700 "HTTP status code: 400"
Hi,
I cannot publish a new version of a project already existing on hex.
I updated rebar3, removed _build and rebar3 cache, but no way.
Any idea ?

[code]

[2018-07-29 20:31] crownedgrouse commented on #700
https://hex.pm/packages/jason_erl

Latest rebar3 from yesterday, sorry do not have the number right now. Writing from mobile, and computer off.

[2018-07-30 06:44] coby-spotim opened #701 "Publishing a Package to Private Repository Consistently Failing"
My company has an organisation on Hex.pm that contains some private packages that we use internally.

Yesterday, we fixed a bug in one of these private packages, but whenever we try to publish, we continuously get a Publishing Failed error, and the reason being given is a Heroku Application Error from the Hex.PM side.

It's been happening for about 18 hours consistently now, and we are unable to p

[2018-07-30 07:36] ericmj commented on #701
The issue has been resolved.

[2018-07-30 07:36] #701 closed

[2018-07-30 08:06] wojtekmach commented on #700
Yes, the version string must look like SemVer.

[2018-07-30 08:30] crownedgrouse commented on #700
Hu . A better error raising might be nice in such case than HTTP 400. Hex should even not proceed ?

[2018-07-30 08:33] wojtekmach commented on #700
Yeah, I'm leaving this issue open to investigate the situation later today. I'm pretty sure hex.pm returns proper error in json response so it's a matter of clients like rebar3 to interpret that, but if we aren't returning proper error we will fix it here.

[2018-07-30 10:01] crownedgrouse commented on #700
stopping before propose to publish "Y" would be better maybe.

[2018-07-30 15:01] ericmj commented on #700
That would need to be added to rebar3_hex.

[2018-07-30 15:01] #700 closed

[2018-07-31 22:23] wojtekmach opened #703 "Change "write" permission to be read write"
I have following keys generated via UI:

<img width="742" alt="screen shot 2018-08-01 at 00 20 39" src="https://user-images.githubusercontent.com/76071/43490416-d1b8289e-9520-11e8-9190-69c64295bce5.png">

I can hit /packages/:package endpoint with 2nd key but not with the 1st key. It's kind of logical but not sure if it's practical, should write implying read permission?

[2018-08-07 07:33] nashby opened #704 "Package count on index page."
Right now it says `7 026 packages available` and according to source code it counts private packages as well. So it's kinda false that that number of packages are available (at least not for me :p). Does it make sense to use the same logic here as we use on `https://hex.pm/packages` page? As I can see we show packages (and the count) that are accessible for current user

If that makes sense I can

[2018-08-07 07:41] ericmj commented on #704
The idea is that it shows the packages available in the system, not for a specific a user. It would be easy to change package available on the front page but package versions and downloads would probably require schema and index changes to the releases table and download views.

We can change the numbers if we can do it for all of them without increasing page load time a lot.

[2018-08-07 07:49] nashby commented on #704
@ericmj oh, I see. After thinking about it again I guess it makes sense to show stats for whole system on the front page. So closing it. Thanks for the quick response!

[2018-08-07 07:49] #704 closed

[2018-08-09 20:06] nashby opened #709 "Packages search results sorting UI improvement."
I suggest following changes:

OLD:
![](https://i.gyazo.com/4a169ea2d8e80c28bfd71523b5b603a5.png)

NEW:
![](https://i.gyazo.com/2da8fed96f7c03cbeeff1e15b3a53c77.png)

I think this way it's more readable which sorting is applied right now. The reason why I think it's better is because I couldn't find which sorting is applied when I was using hex.pm. I think showing currently applied sorting in the e

[2018-08-10 07:08] ericmj commented on #709
Looks great, please go ahead and send a PR.

[2018-08-10 08:51] #709 closed

[2018-08-10 10:44] #677 closed

[2018-08-14 09:00] nashby commented on #660
@ericmj hey, what kind of requests come from Fastly? Was wondering if that's possible to implement using ip ranges https://docs.fastly.com/guides/securing-communications/accessing-fastlys-ip-ranges

[2018-09-19 01:56] #697 closed

[2018-09-26 20:05] lorenzosinisi commented on #151
I have a proposal and I have just opened a PR for that, listing all the downloads for each day for a specific package https://github.com/hexpm/hexpm/pull/722, what do you think?

[2018-09-27 10:44] ericmj commented on #151
This is another feature request, we want to add visual graphs to the website that shows package downloads over time.

[2018-09-27 11:27] lorenzosinisi commented on #151
Alright, thanks @ericmj !

[2018-09-27 12:08] Preen opened #723 "Could not verify authenticity of fetched registry file"
Getting this on multiple instances atm.

[code]

[2018-09-27 14:48] ericmj commented on #723
This has been fixed.

[2018-09-27 14:48] #723 closed

[2018-09-29 01:38] simonxu72 opened #726 "cowlib page github url is mistake"
https://hex.pm/packages/cowlib

github url should be https://github.com/ninenines/cowlib, but I see it is https://github.com/ninenines/cowboy  now

[2018-09-29 09:50] ericmj commented on #726
This needs to be fixed when the package is published. It's not something we change on hex.pm's end.

[2018-09-29 09:50] #726 closed

[2018-10-05 15:42] ericmj opened #727 "New page for "Show all versions" on package page"
Today, when clicking "Show all versions" on the package page it expands to the full list of versions.

<img width="240" alt="screenshot 2018-10-05 at 17 35 44" src="https://user-images.githubusercontent.com/316890/46545141-cbe9a680-c8c5-11e8-8777-5cddc1965efb.png">

For some packages this list is becoming too long so instead of expanding the list we should link to a new page that lists all version

[2018-10-05 15:43] wojtekmach commented on #727
👍

[2018-10-22 12:11] lbighetti opened #737 "Cannot download documentation from any package"
Trying to download documentation from any package is currently resulting in error.

For instance https://hex.pm/packages/phoenix, if I click on the download button, it sends me to
https://dualstack.f2.shared.global.fastly.net/docs/phoenix-1.4.0-rc.2.tar.gz

and there I get:

[code]

I have tried other packages and getting the same result.

[2018-10-23 15:25] ericmj opened #738 "Replace Hexpm.Utils.safe_binary_to_term with Plug.Crypto.safe_binary_to_term"

[2018-10-25 14:01] dokie opened #739 "Docs from our Private Package are published openly online with access to source code"
We have a private organizational package [here](https://hex.pm/packages/inflowmatix/inflownet_core) and we have found via Google search the docs from an older version [here](https://hexdocs.pm/inflownet_core/api-reference.html) which allows click through to our GitHub repo and source code. How can we get this removed please?

[2018-10-25 15:01] ericmj commented on #739
Please email support@hex.pm from an email associated with hex account belonging to your organization and we can remove the content.

[2018-10-25 15:12] dokie commented on #739
OK -  done thanks - sorry for raising it as an issue. Please delete accordingly!

[2018-10-25 15:12] #739 closed

[2018-10-26 21:33] janpieper commented on #727
I would suggest to link "Show all versions" to `/packages/:name/versions` to list all available versions on a separate page instead of using this _drop-down_-like function, when there are more than x versions available.

Maybe we can move `/packages/:name/:version` to `/packages/:name/versions/:version` via a `301 Moved Permanently` response to avoid mixing `/packages/:name/:version` and `/package

[2018-10-26 21:37] wojtekmach commented on #727
@janpieper yes, we definitely want a separate `/packages/:name/versions` page. Regarding redirect that's probably ok too but I'd do that in a separate step once we ship versions page.

[2018-10-28 21:41] #738 closed

[2018-11-02 09:34] zacck commented on #151
@br4inii let me know if you need any help getting this done, I would start by getting some ideas from @ericmj 👍  `GodSpeed`

[2018-11-07 20:08] dch opened #746 "inconsistent license usage"
Currently there is no alignment on license names within hexpm. For example, the templates in hex docs refer to "the Apache license" which doesn't exist -- there's the Apache 1.0, 1.1, and far more common 2.0 version. Imprecision in licenses is not a feature, especially if the full license text is not embedded in the package.

1. Would it make sense to refer users to a published list of licenses?
2

[2018-11-07 20:10] dch commented on #746
BTW most of the relevant policy today lives [here](https://hex.pm/policies/codeofconduct#acceptable-package-content)

[2018-11-07 23:30] wojtekmach opened #747 "Sort by dependents count"
Another way to gauge packages relative popularity. Although if we do this we should display dependents count on package index too. Thoughts?

TODO:
- [ ] Sort on website
- [ ] Sort on `/packages` API endpoint

[2018-11-08 10:03] ericmj commented on #747
👍

Yeah, we can change the column we use for downloads to display the count when you sort by it. It seems we already change between this when sorting by recent/total but not when sorting by dates 🤔

[2018-11-08 10:17] ericmj commented on #746
We can refer to the SPDX list and recommend using an OSI approved license.

We can validate this on the server side. We can enforce using the shorthand identifier that spdx lists.

I think there are already tools for this in the wild.

Good find, I don't think the policy needs to change, at least initially.

[2018-11-11 05:47] wojtekmach opened #750 ""Download" online documentation link goes straight to CDN"
![screenshot 2018-11-11 at 06 41 46](https://user-images.githubusercontent.com/76071/48309552-158c7780-e57d-11e8-8626-f2c05b26388d.png)

I believe previously it went to: https://repo.hex.pm/docs/decimal-1.5.0.tar.gz

@ericmj please close if this was on purpose, I don't think it's necessarily bad, just double-checking. For `mix hex.docs offline` we use the `https://repo.hex.pm/docs/...` one.

[2018-11-15 14:25] ericmj opened #751 "Organization owned public packages"
## Background

Currently each organization has its own repository and namespace sharing the organization's name where they can publish their private packages. Organizations can manage their members and the members permission levels so that all users in organizations can share fetch and publish access to the private packages.

Users can publish packages publicly or to a repository of an organizatio

[2018-11-26 13:32] #737 closed

[2018-11-27 14:27] ericmj opened #753 "Store and display publisher of package version"
Currently the published of a package is only stored in the audit log which is internal only.

1. [x] Store user who published release in database
2. [x] Show publisher on the website's package page
3. [x] Add to release API endpoint
4. [x] Add to `mix hex.info PACKAGE VERSION`
5. [x] Backfill release publishers from audit log

[2018-11-27 14:38] ericmj opened #754 "Make audit log public"
Currently the audit log is only used internally by admins to track past actions. The audit log should be made public for packages to give users insight to the history of the package. For users and organization their private audit logs should be made visible on their respective dashboards.

## TODO

1. [x] Add as paginated new resource to package API endpoint
1. [x] Add as paginated new resource to

[2018-11-27 15:21] edmz commented on #753
(I assume this is because of the event-stream fiasco, if not the please ignore.)

Could there be a way to notify the users of a package that a publisher has changed? Maybe when doing `mix deps.get` a package could be highlighted as one where the publisher has recently changed?

[2018-11-27 15:24] ericmj commented on #753
We have been discussing that but the current thinking is that noise to value ratio will be too high.

[2018-11-27 17:39] ericmj commented on #753
@pedroassumpcao I think it's enough to be able to search by owner for now so I would skip searching by publisher for now until we discover there is a need for it.

[2018-11-28 14:56] dsdshcym commented on #753
Hi, @ericmj !

I want to work on this issue. Here is what I'm planning to do to "Store user who published release in database":

I assume there is only one `publisher` for every release, so I choose to add `belongs_to :publisher, User` relationship to `Release` schema. Please correct me if this assumption is wrong.

Here are my plans with some questions:
1.  Add `release_publishers` table (We writ

[2018-11-28 15:00] ericmj commented on #753
We can have a direct relation between `User` and `Release` with the `belongs_to :publisher, User` association on `Release` so we don't know need a `release_publishers` table. Everything else sounds good. 👍

[2018-11-28 15:03] dsdshcym commented on #753
Cool! I'll just add `publisher_id` to `releases` table then.

It's 11pm now and I'm going to take some rest. I'll start working on this tomorrow and submit the PR ASAP.

Thanks for the quick reply!

[2018-11-29 23:19] ericmj opened #758 "Document how to use private packages and organizations from rebar3"
Move this page https://hex.pm/docs/private to the Mix docs and write the equivalent docs for rebar3.

[2018-12-01 05:37] supersimple commented on #750
@ericmj @wojtekmach this seems to have already been fixed.

[2018-12-01 06:59] wojtekmach commented on #750
Yup, thanks!

[2018-12-01 06:59] #750 closed

[2018-12-03 16:30] supersimple commented on #758
@ericmj is there someplace to get the details of rebar3 usage from?

[2018-12-03 17:01] tsloughter commented on #758
Part of it is here https://www.rebar3.org/docs/configuration#section-hex-repos-and-indexes

I'll have to update it to mention organizations.

[2018-12-03 22:58] #727 closed

[2018-12-05 14:34] mroach opened #764 "Request: Make repo database SSL optional"
`prod.exs` has database SSL hardcoded to `true`

[code]

It would be ideal for this to be optionally controlled via the environment like the rest of database configuration so it can be switched off when running a private instance of hexpm.

Or, perhaps modify `init` in `repo.ex` to automatically turn it off when there is no SSL configuration provided?

[2018-12-05 14:47] ericmj commented on #764
This sounds best for us, but I believe connecting to some postgres databases over SSL does not require any additional SSL config. If I recall correctly this is the case for Heroku's postgres offering.

[2018-12-05 15:09] mroach commented on #764
I just realised the Ecto database URL supports overriding this with `?ssl=false`. So this is less of an issue then. Maybe this is now a non-issue?

[2018-12-07 21:05] Serkan-devel opened #765 "Minimal Theming support for published docs"
As explained on another closed issue,
Is it possible to change the theme of docs, published to the hexdocs.pm-page?

I think ReadTheDocs already has minimal support for theming on their site

[2018-12-08 00:03] ericmj commented on #765
hexdocs.pm only hosts docs that users upload, the users are in full control of the html and themes of the docs that they upload. If you want to change the theme of elixir docs you should check out the ex_doc project [1] which is the main documentation generator for elixir projects.

[1] https://github.com/elixir-lang/ex_doc

[2018-12-08 02:46] supersimple opened #766 "Change Most Downloaded on homepage to use recently downloaded"
In order to make the results more interesting and relevant, change the list of Most Downloaded to the most downloaded in the last 90 days.

[2018-12-10 20:57] #765 closed

[2018-12-10 20:57] #764 closed

[2018-12-14 15:52] mindreframer opened #769 "Use package release date for the `recently updated` filter (not updated_at)"
as discussed here:
https://elixirforum.com/t/search-results-on-hex-pm-based-on-updated-at-field-return-weird-results/18737

Problem:
- hexpm uses the `updated_at` field to order packages by recently updated date and sometimes this does not mean that the package was actually updated, only the record was.

Solution:
- use the release date from the last released version for a package instead.

[2018-12-17 13:05] ericmj commented on #769
The downside of making this change is that it might break for API users that use sorting by updated_at to the latest changes of packages. They will miss changes other than new releases.

[2018-12-17 13:46] mindreframer commented on #769
OK.... Then maybe we should introduce a new filter "Last recently released"
and keep the updated_at filter as is. Wdyt?

On Mon, Dec 17, 2018 at 2:05 PM Eric Meadows-Jönsson <
notifications@github.com> wrote:

--
------------------------------
  Roman Heinrich

  Email roman.heinrich@gmail.com
  Resume devopsbox.es/resume/resume.html
  Github github.com/mindreframer
  Twitter @mindreframer
  Blog

[2018-12-17 14:54] ericmj commented on #769
"Last recently released" or "Last recently published" sounds great 👍

[2018-12-17 16:01] mindreframer commented on #769
Awesome! It did confuse me a bit to see some of my packages that I did not touch to appear as recently changed in the search.

[2018-12-18 13:21] vassilevsky commented on #333
Hello 🙃 I came here to create such an issue. Would be cool to see which packages are for Erlang only. What are the developments in cross-language interoperability now (since this issue was closed)? Sorry, I'm fairly new in BEAM-land 😅

[2018-12-18 14:03] ericmj commented on #333
You can use erlang libraries from elixir and vice versa if you use rebar3 [1].

[1] https://github.com/tsloughter/rebar_mix

[2018-12-19 20:33] fteem commented on #769
@ericmj @mindreframer if no one has started working on this, could I give it a shot? 🙏

[2018-12-28 17:34] Serkan-devel commented on #765
Actually one would need to modify ex_doc directly, which would be a little impractical when updating.

Could there be a setting on a project's `mix.exs` to just simply install a theme as a package and link to it?

[code]

[2018-12-28 17:36] ericmj commented on #765
I don't believe ex_doc have those kind of extension points but it would be best to discuss that on the ex_doc project since it's not relevant to Hex.

[2018-12-28 17:47] Serkan-devel commented on #765
oh

[2018-12-29 00:38] dsdshcym commented on #753
There's only "Show publisher on the website's package page" left unfinished now.

Here's my rough plan for adding this info:
1. preload publisher in `PackageController.package/6` for release  https://github.com/hexpm/hexpm/blob/8aaab173abf33aef786d2f0ad2eae59844f9afbc/lib/hexpm_web/controllers/package_controller.ex#L88
2. add a publisher section (use the same design as owners) to show.html.eex  ht

[2018-12-29 01:02] wojtekmach commented on #769
Closing in favour of PR #770

[2018-12-29 01:02] #769 closed

[2019-01-04 08:00] zacck commented on #151
@ericmj I would like to finish this one up If I understand correctly we want a fucntionality that behaves like the following screenshot from  npm
![screen shot 2019-01-04 at 09 57 23](https://user-images.githubusercontent.com/897731/50678446-5d70cd80-1007-11e9-9040-e4bfa3e77a00.png)

Where a visual graph is shown next to the number of downloads, one thing to consider would be what unit to use for

[2019-01-04 10:14] ericmj commented on #151
The plan is to have a small, simple graph in the sidebar (like npm), and a separate page with detailed and more graphs.

Probably a good idea to start with a PR for only the small graph in the sidebar and build from there. Hard to say what the axes should be, but we can try with week units over the last 52 weeks. It would be great if we could make the code modular so we could reuse it for differen

[2019-01-04 10:36] zacck commented on #151
@ericmj  I think I should start with the small graph on the sidebar, where I can be using weeks on the x axis,  once I have that working we can break it down into something modular that can be re used to build other graphs ... key is to get this first small graph out  :) I feel

[2019-01-04 12:05] ericmj commented on #753
I think we can close this now? Confirm /cc @dsdshcym @wojtekmach

[2019-01-04 14:12] wojtekmach commented on #753
I think we have all the pieces, thanks @dsdshcym and let us know if you think anything else should be changed here!

[2019-01-04 14:12] #753 closed

[2019-01-04 21:14] thiamsantos commented on #766
Hi @supersimple,

I would like to work on this issue.

So far I thought on change the query that load the top package downloads to do something like this:

[code]

I was worried about perfomance on this case, there is some materialized view or some table, I don't know, that I could use to store this data, without having to make the query every time the page is loaded?

What are your thoughts about

[2019-01-04 21:22] supersimple commented on #766
@thiamsantos
Thank you.
There is some existing code that does something similar to this now. If you look at: https://hex.pm/packages
you can see the number of recent downloads.

That data is actually stored in a materialized view (IIRC).

You can see some part of that logic here: https://github.com/hexpm/hexpm/blob/master/lib/hexpm/repository/package.ex#L374

I hope that helps. Let me/us know if y

[2019-01-04 21:38] thiamsantos commented on #766
@supersimple so this `"recent"` downloads are the numbers from the last 90 days?

[2019-01-04 21:43] supersimple commented on #766
In the package_downloads materialized view there is a "view" column. The "recent" view records represent the last 90 days.

[2019-01-04 21:47] thiamsantos commented on #766
@supersimple I see, thanks for the help!

[2019-01-05 08:13] dsdshcym commented on #753
@ericmj @wojtekmach I think this feature is good now. When would it be deployed? I still can't see publishers for package releases on hex.pm.

And thanks a lot for your guidance during the development of this feature. 🙏

[2019-01-07 14:36] ericmj commented on #766
Closed in favor of PR: https://github.com/hexpm/hexpm/pull/775.

[2019-01-07 14:36] #766 closed

[2019-01-07 14:37] ericmj commented on #753
Thank you @dsdshcym. It's going to be deployed today if we don't run into any issues.

[2019-01-10 04:16] zacck commented on #151
Hi @ericmj  a little help from you would go a long way, I am trying to collect all package downloads from the past 52 weeks so that I can sort them into `weekly` totals then  graph them.

However, I seem to be confused about where to get this data at the moment I am trying to pick all the downloads as using the package id as follows

[code]

However, as you can see the data I get as a result isn't

[2019-01-13 13:10] ericmj commented on #151
That's great first approach, we can optimize this later to use a more direct views with materialized views.

[2019-01-17 15:54] #758 closed

[2019-01-29 12:22] ericmj opened #783 "Document convention to bump minor version on breaking changes pre 1.0"
We already use this convention on the version requirements we suggest in dependency configs:

[code]

[2019-02-22 16:57] #783 closed

[2019-02-27 11:48] wojtekmach commented on #703
@ericmj we can close this because of https://github.com/hexpm/hexpm/pull/792, right?

[2019-02-27 11:49] ericmj commented on #703
Yep!

[2019-02-27 11:49] #703 closed

[2019-03-29 08:51] #682 closed

[2019-03-29 09:00] josevalim opened #795 "Add config.js for version dropdown on HexDocs"
Recent ExDoc versions allow a version dropdown to be shown by adding a `docs_config.js`. Now it is the job of HexDocs to generate said `docs_config.js` file.

The `docs_config.js` should be placed in the same directory as the documentation with all available versions. However, this is a bit problematic because, if we generate the `docs_config.js` when the docs are published, then it will only list

[2019-03-29 09:17] wojtekmach commented on #795
Picking it up!

[2019-03-29 20:14] ericmj opened #796 "Send email to publisher after publishing package"
Up for discussion is if we should also email the other owners or if that would be too spammy.

[2019-04-03 21:35] michallepicki commented on #795
@wojtekmach 's PR: https://github.com/hexpm/hexdocs/pull/9
Related issue: https://github.com/hexpm/bob/issues/30

[2019-04-03 21:47] wojtekmach commented on #795
I think we can close this since remaining things are tracked elsewhere. Thanks everyone for helping with this!

[2019-04-03 21:47] #795 closed

[2019-04-07 03:45] #796 closed

[2019-04-14 23:07] lccezinha commented on #747
Hey @wojtekmach and @ericmj still this feature relevant? If yes, I would like to try it.

Any advice or suggestion of how to solve it?

[2019-04-23 06:19] wojtekmach commented on #747
@lccezinha we have a package_dependants materialised view from which we can grab the count of dependants. And yes, a PR would be very welcome, let us know if you run into any issues!

[2019-04-23 14:15] lccezinha commented on #747
@wojtekmach Thanks for your response. I'll take some time to look at the project I'm new in Phoenix framework but I'll try it!

[2019-04-29 16:50] hewsut commented on #278
(Obvious?) two cents from someone in a fairly large company trying to nudge folk toward Elixir.

Two factor auth on the package manager is a _big_ deal. Lack of 2FA does make the pitch for the Elixir/Erlang ecosystem more difficult.

[2019-04-30 19:52] lccezinha commented on #747
@wojtekmach I'm not familiar with materialized views an how to use them inside the ecto query flow. Is there an example inside the code that does something similar?

[2019-04-30 20:16] wojtekmach commented on #747
Hey Luiz, the beauty of materialised views is that they're treated as any other tables (they’re kind of like read-only tables), so we can use regular joins, associations etc in Ecto queries.

[2019-05-08 11:04] 7hwrd opened #804 "Elixir kernel documentation of ceil/1 guard incorrect"
The description of ceil/1 is incorrect. It currently is “Returns the smallest integer not greater than number.”.

It should be “Returns the smallest integer not *less* than number.”.

See https://hexdocs.pm/elixir/Kernel.html#ceil/1 also see the identical text in the guard function list.

[2019-05-08 11:15] wojtekmach commented on #804
Thanks for the report! This is already fixed on Elixir master, see: https://hexdocs.pm/elixir/master/Kernel.html#ceil/1.

Btw, the hexpm repository is responsible for working with packages and hosting package docs but if the docs are wrong it should be reported on that package's issue tracker not here.

[2019-05-08 11:15] #804 closed

[2019-05-12 10:28] tompave opened #805 "Failures on TravisCI: module :data_error is not available"
Hello,

I'd like to report an issue that I've been observing on TravisCI for a couple of days. It might be caused by some network issues or corrupted response caching on Travis, but one of the errors suggests that some exception is not handled properly in the Hex client either, so that might something worth to flag.

The failures are related to either installing `hex` or running `mix deps.get`, an

[2019-05-12 14:46] ericmj commented on #805
The failed integrity and checksums check combined with the zlib data error suggests you get corrupted data. This would likely either be a bug in the HTTP client we are using or and issue on the CDN side.

Did you recently change OTP version? If it happens consistently for you can you try to to test with other OTP versions?

[2019-05-14 16:10] bryanhuntesl commented on #751
It's been a while…

We created an organisation subscription thinking we could put our projects under the ownership of esl (hex.pm) organisation and have a team of people managing them.

What we want is that if our people are working on open source projects and they leave or walk under a bus we can still manage the projects, pushing updates if necessary, and generally keeping the ecosystem alive an

[2019-05-15 12:50] ericmj commented on #751
Sorry for the delay on this. The implementation turned out to be more complex than first planned because it touches everywhere we do any authorization related to package ownerships which touches a lot of different places of the code base. I had to scrap the first implementation and start on a new more general approach so that we can reuse more code. I am currently working on the new implementation

[2019-05-16 10:46] bryanhuntesl commented on #751
Much appreciated Eric - thanks for the update.

On Wed, 15 May 2019, 14:50 Eric Meadows-Jönsson, <notifications@github.com>
wrote:

[2019-05-21 19:00] rodrigues opened #806 "Can't sort by "Recently updated""
Hello, I think I've found a bug:

https://hex.pm/packages?page=1&sort=updated_at

The first result I get is https://hex.pm/packages/xml_builder, but this package was last updated in Nov 2018.

[2019-05-21 19:15] ericmj commented on #806
It sorts by changes to the package, not when it was last published. Changes can include metadata changes, package ownership changes, etc.

[2019-05-21 22:10] rodrigues commented on #806
oh, ok, then Recently published is what I was looking for, right?

Thanks!

[2019-05-21 22:10] #806 closed

[2019-05-29 21:07] garthk commented on #746
Existing Mix task by @hauleth: https://github.com/hauleth/licensir

While it’s possible to check server side, I’d appreciate also checking client side to provide clear license metadata for projects that, for whatever reason, the author has chosen not to publish on Hex.

Please also ensure there’s a clear way to express “not open source” and warn if it doesn’t match other properties e.g. lack of `o

[2019-05-29 23:07] hauleth commented on #746
@garthk while I appreciate mentioning me, it is the project of @unnawut, I just wanted to write license linter that will reject unknown licenses (for example for legal reasons you want to disallow some licenses like GPL).

[2019-06-02 13:55] mfrasca opened #814 "docs to explain earlier what is going on"
(I come from Python, I have a formal education on functional languages, but hardly used it.)

in the documentation, first two pages, that is between up-and-running and adding-pages, I have the impression I don't exactly follow.  unlike a very beginner's tutorial like djangogirls, this https://hexdocs.pm/phoenix/adding_pages.html seems to be afraid to show errors.  I would like that before we are l

[2019-06-02 14:02] wojtekmach commented on #814
Hi! Hex is concerned with hosting packages and docs, but not with the contents themselves. The source of the page you're referencing is here: https://github.com/phoenixframework/phoenix/blob/master/guides/adding_pages.md so if you'd like to re-open the issue please do it on that repository.

`mix phx.new` generates a `.gitignore` file with good defaults so it's OK to add all generated files to you

[2019-06-02 14:02] #814 closed

[2019-06-03 10:33] dsdshcym commented on #754
Hi, @ericmj!

Is anyone working on this now? If not, I'd like to take a shot on this one.

[2019-06-03 19:54] ericmj commented on #754
No one is working on it afaik, so please go ahead. Thank you!

[2019-06-04 13:11] dsdshcym commented on #754
@ericmj cool, thanks!

Here is my plan:

-   Steps
    1.  Query audit logs by user/package/organization (3 PRs)
        1.  Add a module called `Hexpm.Accounts.AuditLogs` as the Context storing AuditLog related functions
        2.  Add a public function `AuditLogs.all_by/1` that can query audit logs for different structs (User/Package/Organization)
            1.  For `User`, query by `belongs_t

[2019-06-05 10:34] ericmj commented on #754
Yes. We can move it to a specific field (including a migration that copies the param into the new field), or we can simply add an index to the package_id param for now.

👍

You can look at how paginate package results in `package.ex`.

We do this in the controllers. For example https://github.com/hexpm/hexpm/blob/master/lib/hexpm_web/controllers/api/package_controller.ex#L7-L13 for the API and htt

[2019-06-05 12:43] dsdshcym commented on #754
- [ ] add an index to the package_id params.

I choose to query `params` directly for now in #817. Later, we can migrate to using a separate `package_id` column.

[2019-06-10 02:01] dsdshcym commented on #754
Hi, @ericmj!

I'm wondering if we need a separate API endpoint for audit logs. Because adding paginated audit_logs to user/organization/package endpoints feels a bit off to me.

To make audit_logs paginated, my current solution is to add an extra parameter `audit_log_page` to these API endpoints.

I'm proposing adding an `AuditLogsController#index` endpoint which can receive `user_id`/`organizatio

[2019-06-10 15:08] ericmj commented on #754
Yes, the only way to paginate in a sane way is to have a separate endpoint for audit logs:

* `/api/users/:username/auditlog?page=1`
* `/api/packages/:name/auditlog?page=1`
* `/api/orgs/:name/auditlog?page=1`

[2019-06-10 20:02] ericmj commented on #751
This feature is now released. See the release announcement: https://hex.pm/blog/hex-v0.20-released.

[2019-06-10 20:02] #751 closed

[2019-06-10 22:05] bryanhuntesl commented on #751
Eric you legend

On Mon, 10 Jun 2019, 21:02 Eric Meadows-Jönsson, <notifications@github.com>
wrote:

[2019-06-21 17:14] whatyouhide opened #823 "Select username field when the "Log In" page is loaded"
Nitpick: when I go to hex.pm and click "Log In", I get to the login page but the username field is not selected. This means that I open 1password with my shortcut and fill the website in but it's not filled in, so I have to go in there with a mouse and click the username field. I think generally in login pages the username field is selected. Thoughts? Is this dumb? 💟

[2019-06-22 14:54] ericmj commented on #823
Makes perfect sense. This seems to be a common pattern with tools like 1password so hex.pm should support it.

[2019-06-24 14:02] whatyouhide opened #824 "Text field for number of organization seats doesn't adapt"
If I want to add `n` organization seats, the text box is fine if `n` is only one digit, but doesn't grow to adapt to more digits. In the screenshot, I was adding "12" seats and as you can see only the "2" is shown.

<img width="217" alt="Screen Shot 2019-06-24 at 4 00 25 PM" src="https://user-images.githubusercontent.com/3890250/60025097-3d0dfb80-9699-11e9-8108-2311d0f3bb45.png">

[2019-06-29 04:24] supersimple commented on #824
@whatyouhide PR #827 fixes this.

[2019-06-29 04:34] supersimple commented on #823
@whatyouhide PR #828 fixes this. Thanks for the issue 🌲

[2019-06-30 05:24] #823 closed

[2019-06-30 05:25] #824 closed

[2019-07-13 12:15] bryanhuntesl opened #831 "travis is pulling elixir from hex.pm but getting 403 forbidden"
https://travis-ci.com/bryanhuntesl/poc_event_timer/jobs/215718494

[code]

[2019-07-13 12:22] wojtekmach commented on #831
Elixir 1.9 requires OTP 20 (see https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp) thats why that file doesnt exist. You might have to manually set your build matrix to only use elixir and opt combinatons that exist.

[2019-07-13 12:22] #831 closed

[2019-07-13 13:30] bryanhuntesl commented on #831
Perfect - thanks.

[2019-07-23 11:38] dsdshcym commented on #673
Hi @ericmj!

I'd like to work on this issue and I need some help from you.

-   Here is a list of all the billing actions I think we need to audit:

    1.  billing.checkout
    2.  billing.get (?)
    3.  billing.cancel
    4.  billing.create
    5.  billing.update
    6.  billing.change\_plan
    7.  billing.invoice (?)
    8.  billing.pay\_invoice
    9.  billing.report (?)

    Is it necessary

[2019-07-24 19:06] ericmj commented on #673
Hi! Thanks for continuing the work on audit logs 💜.

No, only write actions I would say.

These steps look good. I would say add the Multi outside of the `impl()` since this implementation shouldn't concern itself with audit logs.

[2019-07-25 00:19] dsdshcym commented on #673
I'm not sure if I understand this correctly. This is what I have now, could you check?

[code]

[2019-07-25 10:04] ericmj commented on #673
Yeah, that looks good.

[2019-07-26 11:52] ericmj opened #835 "Hard deprecate ETS registry"
Version of 2 of the registry that replaced the ETS based registry was introduced three years ago. The new version was needed to fix scalability issues with the old registry. The ETS registry is a single file and has to be rebuilt on every package publish. The ETS file has now grown to 12MB and rebuilding it is by far to be the slowest part of processing a package publish.

It is hard for us to gau

[2019-08-13 14:48] ankhers opened #841 "Add support for text/plain emails"
Currently hex.pm only send emails in text/html. I would like to add support for text/plain.

The general outline of what I would like to do can be found in [this gist](https://gist.github.com/ankhers/a5ff718b28db9ad0d2b5fad9adfbd4d6).

[2019-08-14 15:39] stevecw opened #842 "HTML not encoded"
Simple issue.
In the left menu bar, under Deployment > Deploying with Releases for Phoenix 1.4.9 HexDocs, you have some unencoded HTML appearing (refer to screenshot).

Thanks
![hex_doc](https://user-images.githubusercontent.com/26632419/63034911-079eb680-be6f-11e9-9201-dc802158bebb.png)

[2019-08-14 15:48] ericmj commented on #842
Please report this issue to either https://github.com/phoenixframework/phoenix from which the documentation is or https://github.com/elixir-lang/ex_doc which generated the documentation.

[2019-08-14 15:48] #842 closed

[2019-08-20 13:45] ankhers opened #844 "Add protections against hijacking packages"
Yesterday it was discovered that ruby's [rest-client gem had been hijacked](https://news.ycombinator.com/item?id=20745768) (link to HN thread about it). I would like for this to become a discussion on things we can do that could, at the very least, limit the possibilities for an attacker to gain access to packages on hexpm.

One good thing that is currently in place is the email that gets sent out

[2019-08-20 15:01] hubertlepicki commented on #278
So, umm. You guys need some help implementing this? I can possibly get someone implementing this from our team at AmberBit

[2019-08-20 17:12] ericmj commented on #278
Any help in this area is appreciated. I believe @supersimple has started exploring this, so we should sync up first to avoid duplicate efforts.

[2019-08-20 17:56] ericmj commented on #844
We would also like to have 2FA for logins and publishing packages.

To detect stolen credentials we can keep an access log of logins and API usage that would be displayed on your dashboard. This can be extended to also inform you via email when there is a login or API access from a new location. Today we show how an API key was last used but it only shows the very last use and you need to actively

[2019-08-27 14:44] mindreader opened #845 "Failed to fetch record for 'hexpm/slugify' from registry"
I see the package on hex.pm, but for some reason I can't fetch it, but all other packages that I have tried seem to work fine.

[code]

[2019-08-30 17:25] ericmj commented on #844
Closing this due to lack of activity.

Implementing 2FA is on our roadmap. If you want to discuss any specific features please open issues for them.

[2019-08-30 17:25] #844 closed

[2019-08-30 21:55] #845 closed

[2019-09-02 08:48] liskin commented on #841
Actually it does send the text/plain part as well, but it's empty, which is all the more confusing as classic e-mail readers simply display an empty message.

[2019-09-03 00:53] ankhers commented on #841
Right. This is actually what lead me to make this issue and #843. Because my email client showed an empty message, which was initially confusing.

[2019-09-08 09:52] joladev opened #848 "Web based package diffs"
Hi! I wanted to bring this issue up for discussion. I'll try to describe the importance of package diffs, existing solutions, some possible architectures and some possible solutions that might fit hex.pm. By web-based diffs I mean highlighted outputs from `git diff` in a browser, with shareable links.

We first started seeing npm packages get hijacked, but recently RubyGems has been having issues